{% extends 'users/base.html' %}
{% load static %}

{% block head %}
    <style>
        #navmain {
            display: none;
        }
        body {
            background-color: #8c8e8c;
        },
        div {
            background-color: red;
        },
    </style>
{% endblock %}


{% block content %}
<div class="container">
  <h3 class="bg-dark text-white">The Team</h3>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      {% for staff in members %}
    <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row">
                <div class="col-md-4">
                    <img height="120px" src="{{staff.image.url}}" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{staff}}</h5>
                        <p class="card-text"></p>
                        <p class="card-text"><small class="text-muted">{{staff.position}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
      {% endfor %}

  </div>
</div>
{% endblock %}
