{% extends 'users/base.html' %}

{% block content %}
<div class="container-fluid mr-2">
    <div class="row">
            <!--        side menu-->
            <div class="col-2 bg-dark">
                <ul class="nav flex-column">
                    <li class="nav-item mt-3">
                        <a class="nav-link"
                           href="{% url 'customer-list-all' %}">
                            <i class="fa fa-eye-slash text-warning"></i> All
                        </a>
                    </li>
                </ul>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'customer-create' %}">
                            <i class="fa fa-plus text-warning"></i> Add
                        </a>
                    </li>
                </ul>
                <!-- <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'customer-csv' %}">
                            <i class="fa fa-plus text-warning"></i> Add with CSV
                        </a>
                    </li>
                </ul> -->
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-question text-warning"></i> Help
                        </a>
                    </li>
                </ul>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">
                            <i class="fa fa-reply text-warning"></i> Home
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-10 p-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Number of customers: {{customers.count}}</li>
                    <li class="list-group-item">Sales: NGN{{total_sales.sales__sum|floatformat:2}}</li>
                    <li class="list-group-item">Platinum: {{platinum_customers.count}}</li>
                    <li class="list-group-item">Gold: {{gold_customers.count}}</li>
                    <li class="list-group-item">Silver: {{silver_customers.count}}</li>
                    <li class="list-group-item">Bronze: {{bronze_customers.count}}</li>
                    <li class="list-group-item">Basic: {{basic_customers.count}}</li>
                    <li class="list-group-item">Non-Categorized: {{n_customers.count}}</li>
                    
                  </ul>
                
                <table class="table">
                    <caption>Customer's performance</caption>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Most Regular</th>
                            <th>Biggest</th>
                            <!-- <th>Most Profitable</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{most_regular_customer.name}}</td>
                            <td>{{biggest_customer.name}}</td>

                        </tr>
                        <tr>
                            <td>Sales Value</td>
                            <td>{{most_regular_customer.sales_value}}</td>
                            <td>{{biggest_customer.sales_value}}</td>
                            
                        </tr>
                        <tr>
                            <td>Category</td>
                            <td>{{most_regular_customer.category}}</td>
                            <td>{{biggest_customer.category}}</td>
                            
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td>{{most_regular_customer.type}}</td>
                            <td>{{biggest_customer.type}}</td>
                            
                        </tr>
                    </tbody>
                </table>
                
                
            </div>
        </div>
</div>
{% endblock content%}