{% extends 'users/base.html' %}
{% load custom_templates %}

{% block content %}

<div class="row p-2">
    <div class="col">
        <table id="csvTable"
                   cellspacing="0"
                   width="100%"
                   data-toggle="table"
                   data-pagination="true"
                   data-search="true"
                   class="table table-striped table-bordered table-sm caption-top">
            <caption>
                    <div class="row m-2">
                        <div class="col">
                        Customers from CSV file
                        </div>
                    </div>
                </caption>
            <thead class="text-white bg-primary">
                    <tr>
                        <th scope="col" data-sortable="true">ID</th>
                        <th scope="col" data-sortable="true">Business</th>
                        <th scope="col" data-sortable="true">Owner</th>
                        <th scope="col" data-sortable="true">Cluster</th>
                        <th scope="col">Address</th>
                        <th scope="col">Mobile</th>
                        <th scope="col" data-sortable="true">Email</th>
                        <th scope="col" data-sortable="true">Type</th>
                        <th scope="col">Sales</th>
                        <th scope="col" data-sortable="true">Freq</th>
                        <th scope="col" data-sortable="true">Category</th>
                    </tr>
                </thead>
            <tbody>
            {% for customer in objects %}
            <tr>
                <th
                    scope="row">{{ customer.id }}
                    <a
                    href="{% url 'CSV-customer-detail' customer.id %}">
<!--                    name="business"-->
<!--                    data-target="#firstModal"-->
<!--                    data-toggle="modal"-->

                    {% if customer.complete is True %}
                    <i class="fa fa-check-square text-success"></i>
                    {% else %}
                    <i class="fa fa-square-o"></i>
                    {% endif %}
                </a>
                </th>
                <td>{{customer.business}}</td>
                <td>{{customer.owner}}</td>
                <td>{{customer.cluster}}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.mobile|addsep}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.type}}</td>
                <td>{{customer.sales}}</td>
                <td>{{customer.freq}}</td>
                <td>{{customer.category}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="firstModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="firstModalLabel">Data Transfer</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        You are about to submit this record to the database, proceed?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <a href="#" class="btn btn-primary">Yes</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

