{% extends 'users/base.html' %}
{% load static %}

{% block head %}
    <style>
        .big-circle {
            max-width: 32rem;
            height: 60px;
            background-color: rgb(115, 122, 161);
            border-radius: 50%;
            display: inline-block;
        }
        .circle {
            background-color: antiquewhite;
            border-radius: 50%;
            padding: .3rem;
        }

        .circle-green {
            background-color: green;
            border-radius: 50%;
            color: white;
            padding: .3rem;
        }

        .circle-red {
            background-color: red;
            border-radius: 50%;
            color: white;
            padding: .3rem;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mb-3">
        <!--        side menu-->
        <nav class="col-sm-2 bg-dark">
            <button class="navbar-toggler bg-light float-right mt-1 mb-1 myBtn" 
                type="button" 
                data-toggle="collapse"
                data-target="#dropdown" 
                aria-controls="dropdown" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
                <i class="fa fa-navicon text-primary"></i>
            </button>

            <div class="collapse collapse-sm" id="dropdown">
                <ul class="nav flex-column mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'customer-create' %}">
                            <i class="fa fa-plus text-warning"></i> Add Customer
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'customer-credit-list' %}">
                            <i class="fa fa-credit-card text-warning"></i> Credit Record
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'customer-help' %}">
                            <i class="fa fa-question text-warning"></i> Help
                        </a>
                    </li>
                    <!--Procedures-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">
                            <i class="fa fa-reply text-warning"></i> Home
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
        {% if customers %}
        <div class="col-10">
            <div class="row">
                <div class="col">
                    <!-- <img class="rounded-circle mb-2" width="60rem;" src="{% static 'customer/logo.ico'%}" alt=""> -->
                    <h3 class="text-center mt-2">Customer Profile Page</h3>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 mt-3">
                    <div class="col">
                        <li class="list-group-item">Registered
                            <a href="{% url 'customer-list' 'all' %}" class="float-right circle">{{customers.count}}</a>
                        </li>
                    </div>
                    <div class="col">
                        <li class="list-group-item">Actve
                            <a href="{% url 'customer-list' 'active' %}"
                                class="circle-green float-right">{{active_customers.count}}</a>
                        </li>
                    </div>
                    <div class="col">
                        <li class="list-group-item">Inactive
                            <a href="{% url 'customer-list' 'inactive' %}"
                                class="circle-red float-right">{{inactive_customers.count}}</a>
                        </li>
                    </div>
                </div>
            </ul>
            <!-- <h5>From Active Customers</h5> -->
            <ul class="list-group list-group-flush">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 mt-3">
                    <div class="col">
                        <li class="list-group-item">Lagos & Active
                            <a href="{% url 'customer-list' 'lagos' %}"
                                class="circle-green float-right">{{lagos_customers.count}}</a>
                        </li>
                    </div>
                    <div class="col">
                        <li class="list-group-item">Diaspora & Active 
                            <a href="{% url 'customer-list' 'diaspora' %}"
                                class="circle-green float-right">{{diaspora_customers.count}}</a>
                        </li>
                    </div>
                    <div class="col">
                        <li class="list-group-item">Outside Lagos & Active
                            <a href="{% url 'customer-list' 'outside_lagos' %}"
                                class="circle-green float-right">{{outside_lagos_customers.count}}</a>
                        </li>
                    </div>

                </div>
            </ul>
            
            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 mt-2">
                <div class="col text-center mt-2 mb-2">
                    <ul class="list-group big-circle">
                        <li class="list-group-item">
                            <span class="text-danger">Badagry</span> <br> 
                            <a href="{% url 'cluster-list' 'badagry' %}">{{badagry_qs.count}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col text-center mt-2 mb-2">
                    <ul class="list-group big-circle">
                        <li class="list-group-item">
                            <span class="text-danger">Barracks</span> <br> 
                            <a href="{% url 'cluster-list' 'barracks' %}">{{barracks_qs.count}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col text-center mt-2 mb-2">
                    <ul class="list-group big-circle">
                        <li class="list-group-item">
                            <span class="text-danger">Festac</span> <br> 
                            <a href="{% url 'cluster-list' 'festac' %}">{{festac_qs.count}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col text-center mt-2 mb-2">
                    <ul class="list-group big-circle">
                        <li class="list-group-item">
                            <span class="text-danger">Lagos Island</span> <br> 
                            <a href="{% url 'cluster-list' 'lagos-island' %}">{{lagos_island_qs.count}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col text-center mt-2 mb-2">
                    <ul class="list-group big-circle">
                        <li class="list-group-item">
                            <span class="text-danger">Okoko</span> <br> 
                            <a href="{% url 'cluster-list' 'okoko' %}">{{okoko_qs.count}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col text-center mt-2 mb-2">
                    <ul class="list-group big-circle">
                        <li class="list-group-item">
                            <span class="text-danger">Omonile</span> <br> 
                            <a href="{% url 'cluster-list' 'omonile' %}">{{omonile_qs.count}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col text-center mt-2 mb-2">
                    <ul class="list-group big-circle">
                        <li class="list-group-item">
                            <span class="text-danger">Satellite</span> <br> 
                            <a href="{% url 'cluster-list' 'satellite' %}">{{satellite_qs.count}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col text-center mt-2 mb-3">
                    <ul class="list-group big-circle">
                        <li class="list-group-item">
                            <span class="text-danger">Trade Fair</span><br> 
                            <a href="{% url 'cluster-list' 'trade-fair' %}">{{trade_fair_qs.count}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 mt-3">
                <!-- <div class="col text-center">  -->
                    <!-- <p class="circle">Credit Limit: 1000</p> -->
                <!-- </div>  -->
                <div class="col text-center">
                    <table class="table table-striped" data-toggle="table">
                        <thead>
                            <tr class="text-center">
                                <th>Class</th>
                                <th>Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for class in classes %}
                            <tr class="text-right">
                                <td class="text-left">{{class.name}}</td>
                                <td>{{class.count}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-10 mt-5">
            <h5>Customers need to be registered. <br> Click Add to register</h5>
        </div>
        {% endif %}
    </div>
</div>

<!-- modals -->
<section>
    <!--csv for customer profile-->
    <div class="modal fade" 
        id="fileUploadModal" 
        tabindex="-1" 
        aria-labelledby="stockReportDateModalLabel" 
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="fileUploadModalLabel">
                Import Customer Profile from CSV file
                </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="." method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col">
                        <P class="text-info"></P>
                    </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col">
                        <label class="text-danger" for="">Select CSV File</label>
                        <input id="fileInput" class="form-control" type="file" name="fileName" accept=".csv" required>
                      </div>
                  </div>
                  
                  <div class="row mt-3">
                    <div class="col">
                      <button type="button" class="btn btn-secondary btn-sm float-right" data-dismiss="modal">Close</button>
                      <input type="submit" class="float-right btn btn-primary btn-sm mr-2"  value="Import">
                  </div>
                </form>
            </div>
            
          </div>
        </div>
    </div>
</section>
{% endblock content%}