{% extends 'users/base.html' %}
{% load custom_tags %}

{% block head %}
<style>
    .circle {
        max-width: 32rem;
        height: 60px;
        background-color: rgb(115, 122, 161);
        border-radius: 50%;
        display: inline-block;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    {% if object_list %}
    {% if total_credit_value %}
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 mt-3">
        <div class="col text-center mt-2 mb-1">
            <ul class="list-group circle">
                <li class="list-group-item">
                    Total Credit Value <br> NGN{{total_credit_value|floatformat:2}}
                </li>
            </ul>
        </div>
        <div class="col text-center mt-2 mb-1">
            <ul class="list-group circle">
                <li class="list-group-item">
                    Credit Risk Factor <br>{{capital_risk_factor}}%
                </li>
            </ul>
        </div>
    </div>
    {% endif %}
    <div class="row mt-2">
        <div class="col">
            <table class="table" data-toggle="table" data-pagination="true">
                <caption>
                    Credit Record For Customers
                </caption>
                <thead>
                    <tr class="text-white bg-dark text-center">
                        <th>Customer</th>
                        <th>Credit Limit</th>
                        <th>Credit Value</th>
                        <th>Duration</th>
                        <th>Expiry Date</th>
                        <th>Head Room</th>
                        <th>Permanent</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in object_list %}
                    <tr class="text-right">
                        <td class="text-left">
                            <a href="{% url 'customer-change-credit-value' record.pk %}">
                                {{record.customerID.business_name}}
                            </a>
                        </td>
                        <td>{{record.credit_limit.amount}}</td>
                        <td>{{record.current_credit.amount}}</td>
                        <td>{{record.date_created|timesince}}</td>
                        <td>{{record.expiry_date}}</td>
                        {% if record.headroom >= 0 %}
                        <td>{{record.headroom|floatformat:2}}</td>
                        {% else %}
                        <td class="text-danger">{{record.headroom|abs|floatformat:2}}</td>
                        {% endif %}
                        
                        <td class="text-center">
                            {% if record.isPermanent %}
                            <i class="fa fa-check text-success"></i>
                            {% else %}
                            <i class="fa fa-times text-danger"></i>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row mt-3">
                <form action="." method="post">
                    {% csrf_token %}
                    <div class="col">
                        <input type="submit" class="btn btn-primary btn-sm" value="Send Email">
                    </div>
                </form>
                
                <div class="col">
                    <a href="{% url 'customer-home' %}" class="btn btn-primary btn-sm float-right">
                        <i class="fa fa-reply"></i>
                        Home
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <ul>
                        <li class="text-muted">Click 
                            <span class="text-primary">Customer Name</span>  on customer column
                            to Change Credit Value and also to UPDATE credit record.
                        </li>
                        <li class="text-muted">Click 
                            <span class="text-primary">Send Mail</span>  
                            after you must have completed changes for the day.</li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <div class="row mt-3">
        <div class="col">
            <h3>No Credit Record</h3>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}