{% extends 'users/base.html' %}
{% load custom_tags %}
{% block content %}
<div class="container">
    {% if object_list %}
    
    <div class="row mt-2">
        <div class="col">
            <table class="table" data-toggle="table" data-pagination="true">
                <caption class="text-danger">
                    Blacklisted Credit Customers
                </caption>
                <thead>
                    <tr class="text-white bg-dark text-center">
                        <th>Customer</th>
                        <th>Credit Limit</th>
                        <th>Credit Value</th>
                        <th>Duration</th>
                        <th>Expiry Date</th>
                        <th>Permanent</th>
                        <th>Change Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in object_list %}
                    <tr class="text-right">
                        <td class="text-left">
                            <a href="{% url 'customer-change-credit-value' record.pk %}">
                                {{record.customerID.business_name}}
                            </a>
                        </td>
                        <td>{{record.credit_limit.amount}}</td>
                        <td>{{record.current_credit.amount}}</td>
                        <td>{{record.date_created|timesince}}</td>
                        <td>{{record.expiry_date}}</td>
                        
                        <td class="text-center">
                            {% if record.isPermanent %}
                            <i class="fa fa-check text-success"></i>
                            {% else %}
                            <i class="fa fa-times text-danger"></i>
                            {% endif %}
                        </td>

                        <th>
                            <div class="row">
                                <div class="col">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label text-success" for="inlineRadio1">A</label>
                                  </div>
                                  <div class=" col">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label text-danger" for="inlineRadio2">B</label>
                                  </div>
                                  <div class="col">
                                       <button class="btn btn-outline-primary btn-sm"><i class="fa fa-save"></i></button> 
                                  </div>
                            </div>     
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row mt-3">
                
                <div class="col">
                    <a href="{% url 'customer-home' %}" class="btn btn-dark btn-sm float-right ml-1">
                        <i class="fa fa-reply"></i>
                        Home
                    </a>
                    
                </div>
            </div>
            
        </div>
    </div>

    {% else %}
    <div class="row mt-3">
        <div class="col">
            <h3>No Credit Record</h3>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}