{% extends 'customer/base.html' %}

{% block content %}
<div class="container mt-5">
   
    <div class="row d-flex justify-content-center">
        <div class="col-sm-6 shadow">
            <div class="row">
                <div class="col">
                    <img src="{{ staff.staff.image.url }}" alt="" width="150px" class="float-right">
                </div>
            </div>
            <h5 class="text-info">{{staff.staff.fullname}}</h5>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label class="form-control-label" for="">How many Children do you have?</label>
                    <input class="form-control" type="number" name="number_of_kids">
                    <small class="text-danger">If this is not you, kindly ignore</small>
                </div>
                <div class="mb-3">
                    <button class="btn btn-outline-info" type="submit">Submit</button>
                    <a class="btn btn-outline-dark float-right" href="{% url 'index' %}">Close</a>
                </div>
                
            </form>
        </div>
    </div>  
    
</div>

{% endblock content %}