[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mkdocs = "*"
mkdocs-material = "*"

[packages]
django = "*"
pillow = "*"
python-decouple = "*"
boto3 = "*"
django-storages = "*"
django-crispy-forms = "*"
django-money = "*"
django-session-timeout = "*"
django-on-heroku = "*"
gunicorn = "*"
matplotlib = "*"
requests = "*"
xhtml2pdf = "*"
reportlab = "*"
pytest-django = "*"
coverage = "*"
pytest-cov = "*"
crispy-bootstrap4 = "*"
celery = "*"
plotly = "*"
pandas = "*"
django-ses = "*"

[requires]
python_version = "3.14"

[pipenv]
allow_prereleases = true
