{% extends 'users/base.html' %}

{% block content %}
<div class="container-fluid p-3">
    <div class="row">
      <div class="col">
        <p>Data Source: {{filename}} </p>
        
      </div>
    </div>
    <div class="row">
        <div class="col">
            <table 
            class="table" 
            data-pagination="true"
            data-toggle="table">
                <caption>Stock for {{date|date:'d-m-Y'}}
                </caption>
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>Product</th>
                        <th>Item</th>
                        <th>Sellout</th>
                        <th>Selling Price</th>
                        <th>Sales Amount</th>
                        <th>Closing Stock</th>
                        <th>Cost Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in dataset %}
                    <tr class="text-right">
                        <td>{{record.id}}</td>
                        <td class="text-left">{{record.product}}</td>
                        <td class="text-left">{{record.item}}</td>
                        <td>{{record.sellout}}</td>
                        <th>{{record.selling_price}}</th>
                        <td>{{record.sales_amount}}</td>
                        <td>{{record.closing_balance}}</td>
                        <td>{{record.cost_price}}</td>
                    </tr>
                    {% endfor %}
                </tbody>    
            </table>
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="col">
            
            <form action="." method="POST">
                {% csrf_token %}
                <input type="hidden" name="date" value="{{date}}">
                <input type="hidden" name="content" value="{{post_dataset}}">
                <button class="btn btn-primary" type="submit"
                {% if lock_save %}
                    disabled
                {% endif %}
                >Save to Database</button>
            </form>
            <a class="float-right" href="{% url 'stock-report-home' user %}"><i class="fa fa-reply fa-2x"></i></a>
        </div>
    </div>
</div>
{% endblock %}