{% extends 'users/base.html' %}
{% load custom_tags %}

{% block content %}
<div class="container-fluid p-3">
  <div class="row">
      <div class="col text-center">
          <h3>Stock Report Page</h3>
          <ul class="list-group list-group-active">
            <li class="list-group-item text-left">
              <span class="text-danger">Username:</span> {{user.username}}({{user.first_name}} {{user.last_name}}), 
              <span class="text-danger">email:</span> {{user.email}},  
              <span class="text-danger">Logged-in at:</span> {{user.last_login}}
              <span class="btn btn-light btn-sm float-right">
                  <!-- Button trigger modal -->
                  <a class="btn btn-primary btn-sm" 
                    href="." 
                    data-toggle="modal" 
                    data-target="#stockReportDateModal">
                    Set Date <sup class="text-warning">1</sup>
                  </a>
                  <a class="btn btn-primary btn-sm" 
                  href="." 
                  data-toggle="modal" 
                  data-target="#fileUploadModal">
                    File Upload <sup class="text-warning">2</sup>
                  </a>
                  <a class="btn btn-primary btn-sm" 
                    href="{% url 'bulk-update-stock' %}">
                    View Upload <sup class="text-warning">3</sup>
                  </a>
              </span>
            </li>
        </ul>
      </div>
  </div>
  <h6 class="m-3">Report Date: {{user.profile.stock_report_date}}</h6>
  <div class="row ml-3">
    <div class="col">
        Number of Product's Report Created: <a href="#">{{product_report.count}}</a>
    </div>
    <div class="col">
      Total Sellout - {{sellout_total}}
    </div>
    <div class="col">
      Total Stock Value - {{stock_value_total}}
    </div>
  </div>
  <hr>
  
  <div class="row m-3">
    {% for qs in querysets %}
    <div class="col-sm-4 mt-2">
      <ul class="list-group">
        <span class="text-danger ml-2">{{qs|first}}</span>
        {% for product in qs|last %}
          <li class="list-group-item">{{product}}
            {% if not product.id in existing_id %}
            <a class="float-right ml-1" href="{% url 'stock-report-new' user.profile.stock_report_date product.pk %}"><i class="fa fa-plus"></i></a>
            {% else %}
            <a class="float-right" href="{% url 'stock-report-update' user.profile.stock_report_date product.pk %}"> <i class="fa fa-edit"></i></a>
            <a class="float-right mr-2" href="{% url 'stock-report-detail' user.profile.stock_report_date product.pk %}"><i class="fa fa-navicon"></i></a>
            
            {% endif %}
          </li>
        {% endfor %}  
      </ul>
    </div>
    {% endfor %}
  </div>

  <div class="row ml-3">
    <div class="col text-muted">
      <i class="fa fa-edit">Edit</i>  | <i class="fa fa-plus">Add</i> | <i class="fa fa-navicon">View</i>
    </div>
  </div>
</div>

  <div class="row m-3">
    <div class="col">
      <a class="btn btn-primary" href="{% url 'stock-report' %}">View</a>
      <a class="btn btn-dark float-right" href="{% url 'product-home' %}"><i class="fa fa-reply"></i></a> 
    </div>
  </div>
</div>


<section>
<!-- Modal -->
<div class="modal fade" id="stockReportDateModal" tabindex="-1" aria-labelledby="stockReportDateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="stockReportDateModalLabel">Stock Report Date</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="." method="POST">
        {% csrf_token %}
        <div class="modal-body">
            <div class="form-group">
                <input class="form-control" type="date" name="date" required>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Set</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal bulk Update -->
<div class="modal fade" id="fileUploadModal" tabindex="-1" aria-labelledby="stockReportDateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fileUploadModalLabel">CSV file Upload</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col">
                  <P class="text-info">Working Date: {{user.profile.stock_report_date}} <br>
                    <small class="text-muted">It is expected that the uploaded file will be for same date
                      <span class="text-danger">!!!</span>
                    </small>
                  </P>
              </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                  <label for="">Select CSV File</label>
                  <input id="fileInput" class="form-control" type="file" name="fileName" accept=".csv" required />
                </div>
            </div>
            
            <div class="row mt-3">
              <div class="col">
                <button type="button" class="btn btn-secondary btn-sm float-right" data-dismiss="modal">Close</button>
                <input type="submit" class="float-right btn btn-primary btn-sm mr-2"  value="Upload File">
            </div>
          </form>
      </div>
      
    </div>
  </div>
</div>

<script>
  const fileInput = document.getElementById('fileInput');
  
  fileInput.addEventListener('change', () => {
      const fr = new FileReader();
      fr.readAsDataURL(fileInput.files[0])  
  })
</script>

</section>
{% endblock %}