{% extends 'core/base.html' %}
{% load custom_tags %}

{% block page_title %}Users &amp; Groups{% endblock %}

{% block content %}
<div class="ds-page-header">
  <h2 class="ds-page-header__title">Users &amp; Groups</h2>
  <a class="btn btn-secondary" href="{% url 'users-list' %}">
    <i class="fa fa-times-circle mr-1"></i> Back to Users
  </a>
</div>

<div class="ds-card">
  <div class="ds-card__body p-0">
    <div class="table-responsive">
      <table class="table table-striped table-hover mb-0"
             data-pagination="true"
             data-toggle="table">
        <thead>
          <tr class="text-center">
            <th>ID</th>
            <th>User</th>
            <th>Groups</th>
          </tr>
        </thead>
        <tbody>
          {% for user in groups %}
          <tr>
            <td>{% with user|first as u %}{{ u.id }}{% endwith %}</td>
            <td>{{ user }}</td>
            <td>{{ user.groups.all }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
