{% extends 'users/base.html' %}
{%load custom_templates %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-sm table-info"
            data-pagination="true" 

            data-toggle="table">
                <caption>Users</caption>
                <thead class="bg-light">
                    <tr class="text-center">
                    <th>ID</th>
                    <th>User</th>
                    <th>State</th>
                    <th>Staff</th>
                    <th>Super</th>
                    <th>Email</th>
                    <th>Fist Name</th>
                    <th>Last Name</th>
                    <th>Last Login</th>
                    <th>Date Joined</th>
                </tr>
                </thead>
            {% for user in user_list %}
                
               <tr>
                   <td>{{user.id|zeropadding:3}}</td>
                   <td>{{user}}</td>
                   {% if user.is_active %}
                   <td>{{user.is_active|yesno:'Active, Not Active'}}</td>
                   {% else %}
                   <td class="text-danger">{{user.is_active|yesno:'Active, Not Active'}}</td>
                   {% endif %}
                   <td>{{user.is_staff|yesno:'Yes, No'}}</td>
                   <td>{{user.is_superuser|yesno:'Yes, No'}}</td>
                   <td>{{user.email}}</td>
                   <td>{{user.first_name}}</td>
                   <td>{{user.last_name}}</td>
                   <td>{{user.last_login|date:'d-m-Y@h:mA'}}</td>
                   <td>{{user.date_joined|date:'d-m-Y'}}</td>
                </tr>
            {% endfor %}
            </table>
            <small class="text-danger">Please note that special users are excluded from the list. These are users without hyphen in their username. ({{A}} of {{B}})</small>
        
            <a type="button" href="{% url 'home' %}" class="btn btn-dark float-right mt-3">
                <i class="fa fa-reply"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            </div>
    </div>
</div>
{% endblock %}