{% extends 'users/base.html' %}
{% load static %}
{% load  custom_templates %}


{% block content %}

<div class="container mt-5">
<!--    The detailed view-->
    <div class="row">
        <div class="col">
            <ul class="list-group">
              <li class="list-group-item text-right"><img src="{% static 'customer/logo.png' %}"
                class="rounded-circle p-2"
                     height="50px"
                 alt="...">
                 <p class="text-primary">Applied since {{ object.get_apply_age_string}} ago</p>
                  <p class="text-danger">Status: {{object.status|yesno:'Employed, Rejected, Pending'}}</p></li>
              <li class="list-group-item"><h5 class="card-title text-info">
                Application Data for {{ object }}</h5>
              </li>
              <li class="list-group-item">Full Name: {{ object.last_name|upper}},
                {{ object.first_name}} {{ object.second_name}}</li>
              <li class="list-group-item">Date of Birth: {{ object.birth_date}}</li>
              <li class="list-group-item">Date of Birth: {{ object.birth_date}}</li>
              <li class="list-group-item">Gender: {{ object.gender}}</li>
              <li class="list-group-item">Marital Status: {{object.marital_status}}</li>
              <li class="list-group-item">Date Applied: {{ object.apply_date}}</li>
              <li class="list-group-item">Qualification: {{ object.qualification}}</li>
              <li class="list-group-item">Course of Study: {{ object.course}}</li>
              <li class="list-group-item">Last Modified on: {{ object.modified_date}}</li>
              <li class="list-group-item">Mobile Number: {{ object.mobile|addsep}}</li>
              <li class="list-group-item">Email: {{ object.email}}</li>
              <li class="list-group-item">Address: {{ object.address}}</li>
            </ul>   
        </div>
    </div>
    <!--The buttons-->
    <div class="row ml-2 mb-2 mt-4">
      <!--        Employ-->
      <div class="col">
          {% if object.status is None %}
              <a href="{% url 'employee-create' object.pk %}" class="btn btn-success btn-sm">
                  Employ</a>
          {% else %}
              <a href="{% url 'employee-create' object.pk %}" class="btn btn-secondary btn-sm"
                 style="pointer-events: none;">
                  Employ</a>
          {% endif %}

      </div>

      <!--Reject-->
      <div class="col">
          <a href="#"
             data-target="#rejectModal"
             data-toggle="modal"
             tabindex="-1"
             class="btn btn-info btn-sm">
              Reject
          </a>
      </div>
      <!--       Delete -->
      <!-- Button trigger modal -->
      {% if user.is_superuser %}
      <div class="col">
          <button type="button"
                  class="btn btn-danger btn-sm"
                  data-toggle="modal"
                  data-target="#deleteModal">
              Delete
          </button>
      </div>
      {% endif %}
      <!--        return-->
      <div class="col">
          <a href="{% url 'apply' %}" class="btn btn-secondary btn-sm">
              <i class="fa fa-reply text-danger"></i></a>
      </div>
  </div>
</div>
<!--    Modals-->
<div class="modal fade"
     id="deleteModal"
     tabindex="-1"
     aria-labelledby="deleteModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete - {{object}}</h5>
        <button type="button"
                class="btn-close"
                data-dismiss="modal"
                aria-label="Close">
            <i class="fa fa-close text-danger"></i>
        </button>
      </div>
      <div class="modal-body">
        This Applicant will be deleted permanently, proceed?
      </div>
        <form action="{% url 'apply-delete' object.id %}" method="post">{% csrf_token %}
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <button
           type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
        </form>
    </div>
  </div>
</div>
<!--For Reject-->
<div class="modal fade"
     id="rejectModal"
     tabindex="-1"
     aria-labelledby="rejectModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rejectModalLabel">Reject - {{object}}</h5>
        <button type="button"
                class="btn-close"
                data-dismiss="modal"
                aria-label="Close">
            <i class="fa fa-close text-danger"></i>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to reject this applicant?
      </div>
        <form action="{% url 'apply-reject' object.id %}">
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger" name="result" value="Yes">Yes</button>
        <button
           type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}