{% extends 'users/base.html' %}
{% load static %}
{% block head %}
<style>
    #navmain {
        display: none;
    }
    .display-big {
        font-size: x-large;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row p-3 d-flex justify-content-center">
        <div class="row">
            <div class="col-auto">
                <div class="card bg-warning">
                    <div class="card-body shadow">
                        <h5 class="card-title">
                            <i class="fa fa-warning text-danger"></i>Caution
                        </h5>
                        <p class="card-text">
                            Ensure that the information provided
                            is correct. Any confirmation to the
                            contrary will result in rejection of
                            your application or termination
                            of your employment without notice and benefits.
                        </p>
                    </div>
                    <div class="card-footer bg-white">
                        <h4 class="text-muted text-center ">Information provided to us is for employment
                            purposes only.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 mt-3">
            <div class="row">
                <div class="col text-center">
                    <img src="{% static 'customer/logo.png' %}" class="rounded-circle shadow" width="80px" alt=""> 
                    <i class="text-danger display-big">F & L Trading Co Ltd <br> 
                        <small class="text-info">(A Distribution Company)</small>
                    </i>
                    <br>

                    <address>GOB 1-4 Zamfara Plaza Opposite Kwara Plaza  BBA, Trade Fair, Lagos.</address>
                </div>
            </div>
            <i class="text-primary">
                You will receive a confirmation email with the email address
                provided to us in this form. Kindly ensure a valid email address
                is provided and do check your inbox soon after submission
            </i>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{form.errors}}
                <fieldset class="p-3">
                    <legend class="text-info"><i>Application Form</i>
                        <small class="text-muted float-right">{% now 'd-m-Y@h:mA' %}</small>
                    </legend>
                    <div class="form-row">
                        <div class="col-sm-4">
                            <span class="form-label text-info">First Name</span><span class="text-danger">*</span>
                            {{form.first_name}}
                        </div>
                        <div class="col-sm-4">
                            <span class="form-label text-info">Second or middle Name</span>
                            {{form.second_name}}
                        </div>
                        <div class="col-sm-4">
                            <span class="form-label text-info">Last Name (Surname)<span class="text-danger">*</span></span>
                            {{form.last_name}}
                        </div>
                    </div>
                    <hr>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-label text-info">Gender<span class="text-danger">*</span></div>
                            <div class="form-check">{{form.gender}}</div>
                        </div>
                        <div class="col text-right mr-2">
                            <div class="form-label text-info">
                                Marital Status<span class="text-danger">*</span>
                            </div>
                            <div class="form-check">{{form.marital_status}}</div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-label text-info">
                                Qualification<span class="text-danger">*</span>
                            </div>
                            <div class="mb-2">{{form.qualification}}</div>
                        </div>
                        <div class="col">
                    <div class="form-label text-info">
                        Date of Birth<span class="text-danger">*</span>
                    </div>
                    <div>{{ form.birth_date }}</div>
                    </div>
                    </div>
                    <hr>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-label text-info">Course <span class="text-muted">(optional)</span></div>
                            <div>{{ form.course }}</div>
                        </div>
                        <div class="col">
                            <div class="form-label text-info">
                                Mobile<span class="text-danger">*</span>
                            </div>
                            <div>{{ form.mobile }}
                                <small class="text-secondary">format: XXX-XXXX-XXXX</small>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-row">
                        <div class="col-sm">
                            <div class="form-label text-info">Email
                                <span class="text-muted">(highly recommended, but optional)</span>
                            </div>
                            <div>{{ form.email }}</div>
                        </div>
                        <div class="col-sm">
                            <div class="form-label text-info">
                                Residential address<span class="text-danger">*</span>
                            </div>
                            <div class="">{{ form.address }}</div>
                        </div>
                    </div>
                    
                    <div class="row">
                        {% if title == 'Update' %}
                        <div class="col-auto">
                            <div class="form-label text-secondary">
                                <b>Application Date</b>
                                <small class="text-danger">(readonly)</small>
                            </div>
                            <div class="bg-dark text-white text-center shadow">
                                {{ application_date }}
                            </div>
                        </div>
                        <hr>
                        {% endif %}
                    </div>

                </fieldset>
                <div class="form-group">
                    <div class="row">
                        <div class="col ml-5">
                            <button class="btn btn-outline-info" type="submit">
                                <small>
                                    {% if title == 'Update' %}
                                    {{ title }}
                                    {% else %}
                                    Submit
                                    {% endif %}
                                </small>
                            </button>
                        </div>
                        
                        <div class="col d-flex justify-content-end mr-5">
                            {% if title == 'Update' %}
                            <a class="btn btn-outline-secondary" type="button" href="{% url 'apply-detail' form.instance.id %}">
                                <i class="fa fa-reply text-danger"></i> Cancel</a>
                            {% else %}
                            <a class="btn btn-outline-secondary" type="button" href="{% url 'index' %}">
                                <i class="fa fa-reply text-danger"></i> Cancel</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}