{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col mt-3">
            <h3 class="text-center">Application Home Page</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4 mt-1">
            <p><img class="rounded-circle" src="{% static 'customer/logo.png' %}" alt=""></p>
            <!-- <p class="float-right mr-2"><a href="">Rejected</a></p>
            <p class="float-right mr-2"><a href="">Pending</a></p>
            <p class="float-right mr-2"><a href="">Employed</a></p> -->

            <p class=""></p>
            
            <ul style="list-style-type: none;">
                <hr>
                <li>Total Number of Applicants <span class="float-right"><sup>**</sup>{{total_number_of_applicants}}  </span></li>
                <hr>
                <li>Number of Applicants in {{this_year}} <span class="float-right">{{this_year_applicants}}</span></li>
                <hr>
                <li>Number of Female Applicants <span class="float-right">{{female_applicants}}</span></li>
                <hr>
                <li>Number of Male Applicants <span class="float-right">{{male_applicants}}</span></li>
                <hr>
                <li> <a href="{% url 'apply-employed' %}">Employed:</a> <span class="float-right">{{employment_status.employed}}</span> </li>
                <hr>
                <li> <a href="{% url 'apply-pending' %}">Pending:</a>  <span class="float-right">{{employment_status.pending}}</span></li>   
                <hr> 
                <li>    <a href="{% url 'apply-rejected' %}">Rejected:</a> <span class="float-right">{{employment_status.rejected}}</span></li>
                <hr>
            </ul>
            <a class="float-right" href="{% url 'home' %}"><i class="fa fa-home"></i></a>
            <sup class="text-muted">**Since June 2021</sup>
        </div>
        <div class="col-4 mt-3">
            <ul style="list-style-type: none;">
                <li>Married <span class="float-right">{{marital_status|first}}</span></li>
                <hr>
                <li>Single <span class="float-right">{{marital_status|last}}</span></li>
                <hr>
                <li>Minor <sup class="text-muted">less 18yrs</sup> <span class="float-right">{{stature.less_than_18}}</span></li>
                <hr>
                <li>Youth <sup class="text-muted">btw 18 & 25yrs</sup> <span class="float-right">{{stature.between_18_and_25}}</span></li>
                <hr>
                <li>Adult <sup class="text-muted">above 25yrs</sup> <span class="float-right">{{stature.above_25}}</span></li>
                <hr>
            </ul>
        </div>
    </div>
</div>
{% endblock %}