{% extends 'users/base.html' %}
{% load custom_tags %}

{% block head %}
<style>
    .curved-grey {
        background-color: rgb(207, 204, 204);
        border-radius: 50px 100px 50px 100px;
        padding: .2rem;
    }
</style>
    
{% endblock head %}

{% block content %} 
<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-center mt-3">Hiring: Making an applicant an employee</h3>
            <p>There are two ways to employ. The first is through a new application and the other
                is through a returning staff who resigned in the past. This returning staff must re-apply
            </p>
            <p>This process must be applied after a completing the interview process and a mail approval
                obtained to employ.
            </p>
        </div>
    </div>
    <h4>Pending Applicants</h4>
    <small class="text-muted">Select applicant to employ</small>
    <div class="row">
        {% for applicant in pending_applicants %}
        <div class="col-sm-3 mt-3">
            {{forloop.counter}}.
            <a class="curved-grey" href="{% url 'apply-detail' applicant.pk %}">
                {{applicant}}
            </a>
        </div>
        {% endfor %}
    </div>
    <h4 class="mt-3">Resigned Staff</h4>
    <small class="text-muted">Select applicant to employ</small>              
    <div class="row">
        {% for person in resigned_staff %}
        <div class="col-sm-3 mt-3">
            {{forloop.counter}}.
            <a class="curved-grey" href="{% url 'apply-detail' person.staff.staff.pk %}">
                    {{person.staff.pk|zeropadding:3}}-{{person}}
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}