{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block head %}
<style>
    .save-btn {
        cursor: wait;
        }
</style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8 shadow">
                <form method="post">{% csrf_token %}
                    <legend class="text-success mt-3">New Credit Note</legend>
                    {{ form|crispy }}
                    <div class="form-group">
                        <button type="submit" name="action" value="1" class="btn btn-info btn-save">Save & New</button>
                        
                        <button type="submit" name="action" value="2" class="btn btn-info">Save</button>
                        {% if switch == 2 %}
                        <a type="button" href="{{ payroll_url }}" class="btn btn-secondary float-right">
                            Cancel
                        </a>
                        {% else %}
                        <a type="button" href="{% url 'salary' %}" class="btn btn-secondary float-right">
                            Cancel
                        </a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
<script>
    $(document).ready(function() {
        $('form').submit(function() {
            $('.save-btn').addClass('save-btn');
        });
    });
</script>
    
{% endblock %}