{% extends 'users/base.html' %}
{% load custom_templates %}
<head>
    <style>
    body {
        background-color: blue;
    }
    </style>
</head>

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <table data-toggle="table"
                   data-pagination="true"
                   data-search="true"
                   class="table table-bordered table-sm">
                   {% with object_list|first as obj%}
                <caption>Credit Note List - {{obj.period}}</caption>
                {% endwith %}
                <thead class="bg-success text-white">
                    <tr class="text-center">
                        <th scope="col">ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Staff</th>
                        <th scope="col">Remark</th>
                        <th scope="col">Value</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td scope="col" class="text-center">
                            <a href="{% url 'credit-detail' object.id %}">{{ object.id|zeropadding:3 }}</a>
                        </td>
                        <td scope="col">{{object.credit_date|date:'d-m-Y'}}</td>
                        <td scope="col">{{object}}</td>
                        <td scope="col">{{object.remark}}</td>
                        <td scope="col" class="text-right">{{object.value}}</td>
                        <td scope="col">{{object.status|yesno:'Taken, Pending'}}</td>
                    </tr>
                {% endfor %}
                {% if total %}
                <tr class="bg-dark text-white text-right">
                    <td colspan="4">Total</td>
                    <td>NGN{{total|floatformat:'2'}}</td>
                    <td></td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row float-right">
        <div class="col">
            <a class="btn btn-dark" href="{% url 'salary' %}">
                <i class="fa fa-reply"></i>
            </a>
        </div>
    </div>
</div>

  <!-- Modal Credit-->
  <div class="modal fade" 
    id="creditModal" 
    data-backdrop="static" 
    data-keyboard="false" 
    tabindex="-1" 
    aria-labelledby="creditModalLabel" 
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="creditModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}