{% extends 'users/base.html' %}
{% load custom_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <table data-toggle="table"
                   data-pagination="true"
                   data-search="true"
                   class="table table-bordered table-sm">
                <caption>Debit Note List</caption>
                <thead class="bg-danger text-white">
                    <tr class="text-center">
                        <th scope="col">ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Staff</th>
                        <th scope="col">Remark</th>
                        <th scope="col">Value</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td scope="col" class="text-center">
                            <a href="{% url 'debit-detail' object.pk %}">{{ object.id|zeropadding:3 }}</a>
                        </td>
                        <td scope="col">{{object.debit_date|date:'d-m-Y'}}</td>
                        <td scope="col">{{object}}</td>
                        <td scope="col">{{object.remark}}</td>
                        <td scope="col" class="text-right">{{object.value}}</td>
                        <td scope="col">{{object.status|yesno:'Taken, Pending'}}</td>
                    </tr>
                {% endfor %}
                    {% if total %}
                    <tr class="bg-dark text-white text-right">
                        <td colspan="4">Total</td>
                        <td>NGN{{total|floatformat:'2'}}</td>
                        <td></td>
                    </tr>
                    {% endif %}
                </tbody>
                
            </table>
        </div>
    </div>
    <div class="row float-right">
        <div class="col">
            <a class="btn btn-dark" href="{% url 'salary' %}">
                <i class="fa fa-reply"></i>
            </a>
        </div>
    </div>
</div>
{% endblock content %}