{% extends 'users/base.html' %}
{% load custom_tags %}
{% load djmoney %}

{% block content %}
<div class="container p-5">
    <div class="row">
        <div class="col">
            <table data-toggle="table"
                   data-show-footer="true" 
                   data-pagination="true"
                   data-search="true"
                   data-show-columns="true"
                   data-page-list="[5, 10, All]"
                   class="table table-bordered table-sm"
                   width="40px" bgcolor="#ffffff">
                <caption>Generated Payroll for the period {{period}}
                    <span class="text-success float-right">{{month}}, {{year}}</span>
                </caption>
                <thead class="bg-dark text-white text-center">
                <tr>
                    <th>Code</th>
                    <th>Staff</th>
                    <th data-footer-formatter="{{salary}}">Salary</th>
                    <th>Tax</th>
                    <th>Gross Pay</th>
                    <th>Credit</th>
                    <th>Debit</th>
                    <th>Net Pay</th>
                </tr>
                </thead>
                <tbody>
                {% for record in records %}
                <tr>
                    <td>{{ record.code|zeropadding:3}}</td>
                    <td>{{record.staff}}</td>
                    <td class="text-right">{{record.salary.amount}}</td>
                    <td class="text-right">{{record.tax.amount}}</td>
                    <td class="text-right">{{record.gross_pay.amount}}</td>
                    <td class="text-right">{{record.credit.amount|floatformat:"2g"}}</td>
                    <td class="text-right text-danger">{{record.debit.amount|floatformat:"2g"}}</td>
                    <td class="text-success text-right">{{record.earning.amount}}</td>
                </tr>
                {% endfor %}
                
                </tbody>
                <tfoot class="bg-dark text-white">
                    <tr>
                        <td class="text-center" colspan="2"> <b>Total</b></td>
                        <td class="text-right"><b>{{salary.amount}}</b></td>
                        <td class="text-right"><b>{{tax.amount}}</b></td>
                        <td class="text-right"><b>{{gross_pay.amount}}</b></td>
                        <td class="text-right"><b>{{credit.amount}}</b></td>
                        <td class="text-right text-danger"><b>{{debit.amount}}</b></td>
                        <td class="text-right text-success"><b>{{net_pay.amount}}</b></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    
<!--    The form save that moves data into payroll-->
    <form class="p-2"
          action=""
          method="post">
                {% csrf_token %}
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-outline-success">Save</button>
            </div>
            <div class="col text-right">
                <a href="{% url 'salary' %}" class="btn btn-outline-dark">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
        </div>
    </form>
</div>

{% endblock content %}