{% extends 'users/base.html' %}
{% load custom_tags %}


{% block content %}
<div class="container">
    <div class="row p-3">
        <div class="col-3">
            <img src="{{object.staff.image.url}}"
                 class="rounded-circle"
                 width="70%"
                 alt="">
        </div>
        <div class="col-6">
            <h3>{{object.staff.fullname}}</h3>
            <p class="text-info">Pay Code: {{object.id|zeropadding:3}}-{{object.period}}</p>
            <h5>Staff ID: {{object.staff.id|zeropadding:3}}</h5>
            <p>Salary for Period: {{object.period}} ({{object.period_month}})</p>
            <p>Date Generated: {{object.date_paid}}</p>
            <p>Banker: {{object.staff.banker}}</p>
            <p>Account Number: {{object.staff.account_number|addsep}}</p>
            <hr>
            <div class="row">
            <div class="col-sm-6">
            <p class="text-secondary">Retained bonus: NGN{{balance|floatformat:'2g'}}</p>
            <p>Deduction: {{object.deduction}}</p>
            <p>Outstanding (B/D):
                {% if object.outstanding.amount < 0 %}
                <span class="text-danger">{{object.outstanding|abs}}</span>
                {% else %}
                <span class="text-dark">{{object.outstanding}}</span>
                {% endif %}
            </p>
                <p>Credit: {{object.credit_amount}}</p>
                <p>Debit: {{object.debit_amount}}</p>
                <hr>
                
            </div>
            <div class="col-sm-6">
                <p>Basic Salary: {{object.staff.basic_salary}}</p>
                <p>Allowance: {{object.staff.allowance}}</p>
                <p>Salary: {{object.staff.salary}}</p>
                <p>Tax Payable: {{object.staff.tax_amount}}</p>
                <p>Gross Pay: {{object.staff.gross_pay}}</p>
                <hr>
                <h6 class="text-success">Net Pay: {{object.net_pay}}</h3>
            </div>
            </div>

            <div class="row mt-5 ml-2">
                <div class="col">
                    <form method="post">
                    {% csrf_token %}
                    <button type="submit"
                            
                            class="btn btn-sm btn-outline-primary">
                    Pay Now
                </button>
                    </form>
                </div>
                <div class="col text-center">
                    <form action="{% url 'pdf-payslip' %}">
                        <button type="submit"
                           class="btn btn-outline-primary btn-sm"
                            name="payCode" value="{{object.staff.id}}-{{object.period}}">PDF & Print
                    </button>
                    </form>
                </div>
                <div class="col text-right">
                    <a href="{% url 'payroll-statement' object.staff.pk %}"
                    class="btn btn-sm btn-outline-dark">
                    <i class="fa fa-reply"></i>
                </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}