{% extends 'users/base.html' %}
{% load custom_templates %}
{% load djmoney %}

{% block content %}
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col">
      <h3>{{title}}ly Payroll Summary - {% now 'Y' %}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col" style="font-family: Times New Roman; font-size: 12pt">
      <table data-toggle="table"
             data-pagination="false"
             tabindex="-1"
             class="table table-bordered">
        <thead class="bg-dark text-white">
          <tr>
            <th>Count</th>
            <th>Period</th>
            <th>Average</th>
            <th>Minimum</th>
            <th>Maximum</th>
            <th>Salary</th>
            <th>Tax</th>
            <th>Credit</th>
            <th>Debit</th>
            <th>Net Pay</th>
          </tr>
        </thead>
        <tbody>
          {% for data in dataset %}
            <tr>
            <td>{{data.number}}</td>
            <td>{{data.period}}</td>
            <td class="text-right">{{data.average.net_pay|floatformat:2}}</td>
            <td class="text-right">{{data.minimum.net_pay|floatformat:2}}</td>
            <td class="text-right">{{data.maximum.net_pay|floatformat:2}}</td>
            <td class="text-right">{{data.salary.total|floatformat:2}}</td>
            <td class="text-right">{{data.tax.total|floatformat:2}}</td>
            <td class="text-right">{{data.credit.total|floatformat:2}}</td>
            <td class="text-right">{{data.debit.total|floatformat:2}}</td>
            <td class="text-right">{{data.net_pay.total|floatformat:2}}</td>
          </tr>
          {% endfor %}
          <tr class="bg-light">
            <td class="text-center" colspan="5"><b>Total</b></td>
            {% for item in totals %}
            <td class="text-right"><b>{{item|floatformat:'2g'}}</b></td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
      </div>
  </div>
  <div class="row float-right mt-3 mb-2">
    <div class="col">
      <a type="button" class="btn btn-outline-dark" href="{% url 'payroll-view' current_period %}">
        <i class="fa fa-reply"></i>
      </a>
    </div>
  </div>
</div>
{% endblock content %}