{% extends 'users/base.html' %}
{% load custom_templates %}
{% load djmoney %}

{% block content %}
<section>
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <h3 class="alert alert-success">
                    Generated Payroll Submitted to Database Successfully
                    <span class="text-danger">
                        !!!
                    </span>
                </h3>
                <h5>
                    <i class="fa fa-warning text-warning"></i>
                     A mail has been sent out for confirmation with the data below.
                    Kindly wait for approval before you proceed to pay
                </h5>
            </div>
        </div>
        <div class="row mt-3">
        <div class="col">
            <h5>Payroll Summary</h5>
        </div>
    </div>
        <div class="row mt-3">
        <div class="col-6 text-left bg-light ml-2">
            <hr>
            <p>Salary: {% money_localize salary 'NGN' %}</p>
            <hr>
            <p>Tax: {% money_localize tax 'NGN' %}</p>
            <hr>
            <p>Gross Salary: {% money_localize salary_due 'NGN' %}</p>
            <hr>
            <p>Balance(B/F): {% money_localize balance 'NGN' %}</p>
            <hr>
            <p>Credit: {% money_localize credit 'NGN' %}</p>
            <hr>
            <p>Debit: {% money_localize debit 'NGN' %}</p>
            <hr>
            <p>Net Pay: {% money_localize net_pay 'NGN' %}</p>
            <hr>
            <p>Deductions: {% money_localize deduction 'NGN' %}</p>
            <hr>
            <p>Outstanding: {% money_localize outstanding 'NGN' %}</p>
            <hr>
        </div>

    </div>
        <div class="row mt-3">
            <div class="col">
                <a class="btn btn-success" href="{% url 'start-pay' %}">Proceed to Pay</a>
            </div>
            <div class="col">
                <a class="btn btn-danger" href="{% url 'generate_payroll' period %}">Return</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}