{% extends 'users/base.html' %}
{% load custom_templates %}
{% load djmoney %}

{% block content %}
<section>
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <h5 class="alert alert-success">
                    Generated Payroll Submitted to Database Successfully
                    <span class="text-danger">
                        !!!
                    </span>
                </h5>
                <h5>
                    <i class="fa fa-warning text-warning"></i>
                     A mail has been sent out for confirmation with the data below.
                    Kindly wait for approval before you proceed to pay
                </h5>
            </div>
        </div>
        <div class="row mt-3">
        <div class="col">
            <h5>Payroll Summary</h5>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Salary: {{salary}}</li>
                <li class="list-group-item">Tax: {{tax}}</li>
                <li class="list-group-item">Balance: {{balance}}</li>
                <li class="list-group-item">Credit: {{credit}}</li>
                <li class="list-group-item">Debit: {{debit}}</li>
                <li class="list-group-item">Net Pay: {{net_pay}}</li>
                <li class="list-group-item">Deductions: {{deduction}}</li>
                <li class="list-group-item">Outstanding: {{outstanding}}</li>
            </ul>
            <hr>
        </div>
    </div>
        <div class="row mb-3">
            <div class="col">
                <a class="btn btn-outline-success" href="{% url 'start-pay' %}">Proceed to Pay</a>
            </div>
            <div class="cold-flex justify-content-end">
                <a class="btn btn-outline-dark" href="{% url 'salary' %}">
                    <i class="fa fa-reply"></i></a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}