{% extends 'users/base.html' %}
{% load custom_templates %}
{% load djmoney %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3 bg-dark">
            <p class="m-2 text-white">
                <i class="fa fa-plus-square text-warning"></i>
                Recent
            </p>
            <ul class="nav flex-column">
                {% for month in periods_months %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'payroll-view' month|first %}">
                        {{month|last}}
                    </a>
                </li>
                {% endfor %}
            </ul>
            <p class="m-2 text-white">
                <i class="fa fa-archive text-warning"></i>
                    Years
            </p>
            <ul class="nav flex-column">
                {% for yr in years %}
                <li class="nav-item">
                    <p class="m-2 text-white">
                        <a class="m-3" data-toggle="collapse" href="#abc{{yr}}" role="button"
                           aria-expanded="false" aria-controls="abc">
                            {{yr}}
                        </a>
                    <div class="collapse" id="abc{{yr}}">
                        <div class="card card-body">
                            <ul class="list-group">
                                {% for mn, month in months.items %}
                                <li class="list-group-item list-group-item-sm">
                                    <a href="{% url 'payroll-view' mn|join:yr %}">{{month}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    </p>
                </li>
                {% endfor %}
            </ul>
            <p class="text-white m-2">
                <i class="fa fa-database text-warning"></i> Summary
            </p>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'payroll-summary' summary_period|first %}">
                        {{summary_period|first}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'payroll-summary' summary_period|last %}">
                        {{summary_period|last}}
                    </a>
                </li>
            </ul>
            
        </div>
        <div class="col-9">
            <!--   Body of Page     -->
            <div class="col" style="font-family: Times New Roman; font-size: 12pt">
                <div class="container p-3">
                    {% if payroll %}
                    <h3>Payroll for {{heading.month}}, {{heading.year}}</h3>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <h6>Number of Staff Paid: {{payroll.count}}</h6>
                        </div>
                        <div class="col text-center">
                            <h6>Date Generated: {{payroll.first.date_paid}}</h6>
                        </div>
                        <div class="col text-right">Salary Paid: {{naira}}{{salary.sum|floatformat:2}}</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <table data-toggle="table"
                                   data-pagination="true"
                                   class="table">
                                <thead>
                                <tr class="bg-dark text-white">
                                    <th>Code</th>
                                    <th>Staff</th>
                                    <th>Salary</th>
                                    <th>Tax</th>
                                    <th>Credit</th>
                                    <th>Debit</th>
                                    <th>Net Pay</th>
                                    <th>Deduction</th>
                                    <th>Outstanding</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for pay in payroll %}
                                <tr>
                                    <td>{{pay.staff.id|zeropadding:3}}</td>
                                    <td>{{pay.staff.fullname}}</td>
                                    <td class="text-right">{{pay.salary.amount}}</td>
                                    <td class="text-right">{{pay.tax.amount}}</td>
                                    <td class="text-right">{{pay.credit_amount.amount}}</td>
                                    <td class="text-right">{{pay.debit_amount.amount}}</td>
                                    <td class="text-right">{{pay.net_pay.amount}}</td>
                                    <td class="text-right">{{pay.deduction.amount}}</td>
                                    <td class="text-right">{{pay.outstanding.amount}}</td>
                                    {% if pay.status %}
                                    <td class="text-success text-center">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    {% else %}
                                    <td class="text-danger text-center">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row p-3">
                        <div class="col">
                            {% with payroll|first as first_record %}
                            <a class="btn btn-outline-primary" href="{% url 'pdf-payroll-list' first_record.period %}">PDF & Print</a>
                            {%endwith%}
                        </div>
                        <div class="col">
                            <a type="button"
                               class="btn btn-outline-dark float-right"
                               href="{% url 'salary' %}"><i class="fa fa-reply"></i></a>
                        </div>
                    </div>
                    {% else %}
                    <h3>No Payroll for this period to display</h3>
                    <div class="row p-3">
                        
                        <div class="col">
                            <a type="button"
                               class="btn btn-outline-dark float-right"
                               href="{% url 'salary' %}"><i class="fa fa-reply"></i></a>
                        </div>
                    </div>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}