{% extends 'users/base.html' %}
{% load custom_tags %}
{% load djmoney %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h3>Payroll already exist</h3>
            <p>Payroll of period {{period}} which is that of {{month}}, {{year}}. The record has {{object.count}}
               staff in the payroll of which the total sum of {{naira}}{{payout}} was paid out. As at the time of
                generation of this payroll, staff salary stands at {{naira}}{{wages}} with a total balance of
                {{naira}}{{reserve|floatformat:'2g'}}. Go to the view page to see details
                of this payroll.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{% url 'payroll-view' period %}">View this payroll</a>
        </div>
        <div class="col d-flex justify-content-end">
            <a class="btn btn-outline-dark"
               href="{% url 'salary' %}">
            <i class="fa fa-reply"></i>
            </a>
        </div>
    </div>
</div>
{% endblock content %}