{% extends 'users/base.html' %}
{% load custom_templates %}
{% load djmoney %}

{% block content %}
{% if periods %}
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h3 class="text-center">Regenerate Payroll</h3>
            <h5 class="text-danger">Periods that can be regenerated</h5>
        </div>
    </div>
        <form action="#" method="post">
        {% csrf_token %}
        <div class="row d-flex justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-4">
        {% for str_period, period in periods %}
            <div class="col">
                <div class="form-group form-inline">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body text-white bg-dark">
                            <h5 class="card-title">{{str_period}}</h5>
                            <p class="card-text text-center">
                            <input type="submit"
                            class="btn btn-sm btn-outline-warning"
                            id="{{str_period}}"
                            name="period"
                            value="{{period}}"></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </form>
    <div class="row">
    {% if period %}
    <div class="col m-3">
        <table data-toggle="table"
               data-pagination="true"
               data-search="true"
               data-show-columns="true"
               data-show-footer="true"
               class="table table-bordered caption-top table-sm"
               width="40px" bgcolor="#efe3de">
            <caption class="text-secondary">Current Payroll Table for the period {{period}}
                <span class="text-success float-right">{{the_period}}</span>
            </caption>
    <thead class="bg-secondary text-white text-center">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Staff</th>
          <th scope="col">Status</th>
          <th scope="col">Salary</th>
          <th scope="col">Tax</th>
          <th scope="col">Balance</th>
          <th scope="col">Credit Amount</th>
          <th scope="col">Debit Amount</th>
          <th scope="col" class="bg-success">Net Pay</th>
          <th scope="col">Deduction</th>
          <th scope="col">Outstanding</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records  %}
            <tr>
                <th scope="row">{{ record.staff.id|zeropadding:3 }}</th>
                <td><a href="#">{{record.staff}}</a></td>
                <td>{{record.status|yesno:"Paid, Not Paid"}}</td>
                <td class="text-right">{{record.salary}}</td>
                <td class="text-right">{{record.tax}}</td>
                {% if record.staff.balance.amount >= 0 %}
                <td class="text-right">{{record.staff.balance}}</td>
                {% else %}
                <td class="text-right text-danger">{{record.staff.balance|abs}}</td>
                {% endif %}
                <td class="text-right">{{record.credit_amount}}</td>
                <td class="text-right text-danger">{{record.debit_amount}}</td>
                <td class="bg-success text-white text-right">
                    <b>{{record.net_pay}}</b></td>
                <td class="text-right">{{record.deduction}}</td>
                {% if record.outstanding.amount >= 0 %}
                <td class="text-right">{{record.outstanding}}</td>
                {% else %}
                <td class="text-right text-danger">{{record.outstanding|abs}}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
<tfoot>
    <tr>
        <th colspan="2"></th>
    </tr>
</tfoot>
</table>
        {% if request.POST %}
            <form action="{% url 'regenerated-payroll' %}" method="post">{% csrf_token %}
                <button name="period" value="{{period}}" type="submit"
                    class="btn btn-outline-primary">
                Regenerate
                </button>
            </form>
        {% endif %}
    </div>
    {% else %}
    <div class="col m-3">
        <h5>Click on the period above if you wish to regenerate payroll</h5>
    </div>
    {% endif %}
</div>
    <div class="row">
        <div class="col">
            <ul class="text-danger">
                <li>
                    <i class="fa fa-warning text-warning"></i>
                    It is not advisable to regenerate already paid payroll
                </li>
                <li>
                    <i class="fa fa-info text-info"></i>
                    Only nine last generated payroll can be displayed
                    above for regeneration
                </li>
            </ul>
        </div>
    </div>
{% else %}
    <h1>No payroll to regenerate</h1>
<!--    <a href="{% url 'home' %}"><i class="fa fa-reply"></i> Home</a>-->
{% endif %}
    <div class="row float-right">
        <div class="col">
        <a type="btn" class="btn btn-outline-dark" href="{% url 'salary' %}">
            <i class="fa fa-reply"></i>
        </a>
    </div>
    </div>
</div>
{% endblock content %}