{% extends 'users/base.html' %}
{% load custom_tags %}
{% load djmoney %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="text-success">Payroll Regenerated Successfully</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table data-toggle="table"
           data-pagination="true"
           data-search="true"
           data-show-columns="true"
           data-show-footer="true"
           class="table table-bordered caption-top table-sm"
           width="40px" bgcolor="#efffff">
                <caption class="text-secondary">Regenerated Payroll Table for the period {{period}}
                    <span class="text-success float-right">{{the_period}}</span>
                </caption>
        <thead class="bg-dark text-white text-center">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Staff</th>
              <th scope="col">Status</th>
              <th scope="col">Salary</th>
              <th scope="col">Salary Due</th>
              <th scope="col">Balance</th>
              <th scope="col">Credit Amount</th>
              <th scope="col">Debit Amount</th>
              <th scope="col">Net Pay</th>
              <th scope="col">Deduction</th>
              <th scope="col">Outstanding</th>
            </tr>
        </thead>
        <tbody>
            {% for record in recordset %}
                <tr>
                    <th scope="row">{{ record.staff.id|zeropadding:3 }}</th>
                    <td>{{record.staff}}</td>
                    <td>{{record.status|yesno:"Paid, Not Paid"}}</td>
                    <td class="text-right">{{record.staff.salary.amount}}</td>
                    <td class="text-right">{{record.staff.gross_pay.amount}}</td>
                    {% if record.balance.amount >= 0 %}
                    <td class="text-right">{{record.balance.amount}}</td>
                    {% else %}
                    <td class="text-right text-danger">{{record.balance.amount|abs}}</td>
                    {% endif %}
                    <td class="text-right text-success">{{record.credit_amount.amount}}</td>
                    <td class="text-right text-danger">{{record.debit_amount.amount}}</td>
                    <td class="bg-success text-white text-right">
                        <b>{{record.net_pay.amount}}</b></td>
                    <td class="text-right">{{record.deduction.amount}}</td>
                    {% if record.outstanding.amount >= 0 %}
                    <td class="text-right">{{record.outstanding.amount}}</td>
                    {% else %}
                    <td class="text-right text-danger">{{record.outstanding.amount|abs}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
                <tfoot class="bg-dark">
                <tr>
                    <td></td>
                </tr>
                </tfoot>
    </table>
        </div>
    </div>
    <hr>
    <div class="row mr-3 float-right">
        <div class="col">
            <a href="{% url 'salary' %}"><i class="fa fa-reply"></i> Return</a>
        </div>
    </div>
</div>
{% endblock content %}