{% extends 'users/base.html' %}
{% load custom_tags %}
{% load djmoney %}

{% block content %}
{% if periods %}
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h3 class="text-center">Regenerate Payroll</h3>
            <h5 class="text-danger">Periods that can be regenerated</h5>
        </div>
    </div>
    <form action="#" method="post">
    {% csrf_token %}
    <div class="row d-flex justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-4">
    {% for str_period, period in periods %}
        <div class="col">
            <div class="form-group form-inline">
                <div class="card" style="width: 18rem;">
                    <div class="card-body text-white bg-dark">
                        <h5 class="card-title">{{str_period}}</h5>
                        <p class="card-text text-center">
                        <input type="submit"
                        class="btn btn-sm btn-outline-warning"
                        id="{{str_period}}"
                        name="period"
                        value="{{period}}"></p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    </form>
    <h6 class="text-info">Only the last four payroll periods can display, Click to show payroll below</h6>
    <div class="row">
    {% if period %}
    <div class="col m-3">
        <table data-toggle="table"
               data-pagination="true"
               data-search="true"
               data-page-list="[5, 10, 15, All]"
               data-show-columns="true"
               data-show-footer="true"
               class="table table-bordered table-sm"
               width="40px" bgcolor="#ffffff">
            <caption>Current Payroll Table for the period {{period}}
                <span class="text-success float-right">{{the_period}}</span>
            </caption>
            <thead class="bg-secondary text-white text-center">
                <tr>
                <th>ID</th>
                <th>Staff</th>
                <th>Salary</th>
                <th>Tax</th>
                <th>Gross</th>
                <th>Credit Amount</th>
                <th>Debit Amount</th>
                <th class="bg-success">Net Pay</th>
                <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records  %}
                    <tr>
                        <th>{{ record.staff.id|zeropadding:3 }}</th>
                        <td><a href="#">{{record.staff}}</a></td>
                        <td class="text-right">{{record.salary}}</td>
                        <td class="text-right">{{record.tax}}</td>
                        <td class="text-right">{{record.gross_pay}}</td>
                        <td class="text-right">{{record.credit_amount}}</td>
                        <td class="text-right text-danger">{{record.debit_amount}}</td>
                        <td class="bg-success text-white text-right">
                            <b>{{record.net_pay}}</b>
                        </td>
                        <td>{{record.status|yesno:"P, NP"}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot class="bg-secondary text-white">
                <tr>
                    <td class="text-center" colspan="3"> <b>Total</b></td>
                    <td class="text-right"><b>1</b></td>
                    <td class="text-right"><b>2</b></td>
                    <td class="text-right"><b>3</b></td>
                    <td class="text-right"><b>4</b></td>
                    <td class="text-right text-danger"><b>5</b></td>
                    <td class="text-right text-success"><b>6</b></td>
                </tr>
            </tfoot>
        </table>
        {% if request.POST %}
            <form action="{% url 'regenerated-payroll' %}" method="post">{% csrf_token %}
                <button name="period" value="{{period}}" type="submit"
                    class="btn btn-outline-primary">
                Regenerate
                </button>
            </form>
        {% endif %}
    </div>
    {% else %}
    <div class="col m-3">
        <h5>Click on the period above if you wish to regenerate payroll</h5>
    </div>
    {% endif %}
    </div>

    <div class="row">
        <div class="col">
            <ul class="text-danger">
                <li>
                    <i class="fa fa-warning text-warning"></i>
                    It is not advisable to regenerate already paid payroll
                </li>
                <li>
                    <i class="fa fa-info text-info"></i>
                    Only nine last generated payroll can be displayed
                    above for regeneration
                </li>
            </ul>
        </div>
    </div>
{% else %}
    <h1>No payroll to regenerate</h1>
{% endif %}
    <div class="row float-right">
        <div class="col">
        <a type="btn" class="btn btn-outline-dark" href="{% url 'salary' %}">
            <i class="fa fa-reply"></i>
        </a>
    </div>
    </div>
</div>
{% endblock content %}