{% extends 'users/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col mt-3">
            <h3 class="text-center">Payroll Page</h3>
            <p>Payroll Process</p>
            <ul>
                <li>View Existing Payrolls</li>
                <li>Pay Salary</li>
                <li>Regenerate</li>
                <li>Generate</li>
            </ul>
            <p>
                It is recommended you generate payroll from 25th to the end of the month.
                before you generate payroll, you must update the employee profile, and add credits or debits where
                necessary. <span class="text-danger">However, should there be need for adjustment of the payroll,
                then you can regenerate.</span> Payrolls are categorized according to period. A period is one month.
            </p>

            <p class="text-danger">Current Date: {% now 'jS \o\f M, Y' %}</p>

            {% if last_period_generated %}
            <p>Last Period Generated: {{last_period_generated}}</p>
            <hr>
            <div class="row">
                <div class="col">
                    {% if payroll_current_period != '' %}
                    <a href="{% url 'payroll-view' payroll_current_period %}">View Latest & Others</a>
                    {% endif %}
                </div>
                <div class="col text-center">
                    <a href="{% url 'start-pay' %}">Pay Salary</a>
                </div>
                <div class="col text-right">
                    <a href="{% url 'regenerate-payroll' %}">Regenerate</a>
                </div>
            </div>
            <hr>
            {% else %}
            <h4 class="text-primary">No Record in Payroll Database</h4>
            <hr>
            {% endif %}
            <div class="row">
                <div class="col">
                    <a class="btn btn-outline-dark"
                       data-toggle="modal"
                       data-target="#initialModal"
                       href="#">
                        Generate
                    </a>
                </div>
                <div class="col">
                    <a class="btn btn-outline-dark float-right"
                       href="{% url 'staff-home' %}">
                        <i class="fa fa-reply"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    </div>

<!--<div class="row d-flex justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-4">-->
<!--                <div class="col">-->
<!--                    <a class="btn"-->
<!--                       href="#"-->
<!--                       data-toggle="modal"-->
<!--                       data-target="#firstModal">-->
<!--                        <div class="jumbotron bg-dark text-white">-->
<!--                            <div class="container">-->
<!--                                <h4 class="display-5">-->
<!--                                    Generate payroll for {{last_month}}-->
<!--                                </h4>-->
<!--                                <p class="text-danger">(Period: {{last_period}})</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <a class="btn"-->
<!--                       href=""-->
<!--                       data-toggle="modal"-->
<!--                       data-target="#secondModal">-->
<!--                        <div class="jumbotron bg-success text-white">-->
<!--                            <div class="container">-->
<!--                                <h4 class="display-5">-->
<!--                                    Generate Payroll for {{this_month}}-->
<!--                                </h4>-->
<!--                                <p class="text-danger">(Period: {{current_period}})</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <a class="btn"-->
<!--                       href=""-->
<!--                       data-target="#thirdModal"-->
<!--                       data-toggle="modal">-->
<!--                        <div class="jumbotron bg-warning text-white">-->
<!--                            <div class="container">-->
<!--                                <h4 class="display-5">-->
<!--                                    Generate payroll for {{next_month}}-->
<!--                                </h4>-->
<!--                                <p class="text-danger">(Period: {{next_period}})</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->

<!-- Modal -->
<div class="modal fade"
     id="initialModal"
     tabindex="-1"
     data-backdrop="static"
     aria-labelledby="initialModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title"
            id="initialModalLabel">
            Period for Payroll
        </h5>
        <button type="button"
                class="btn-close"
                data-dismiss="modal"
                aria-label="Close">
            <i class="fa fa-close"></i>
        </button>
      </div>
    <form action="">
        <div class="modal-body">
            <div class="row">
                <div class="col form-group">
                <label class="" for="formYear">Year</label>
                <select class="form-control form-control-sm" name="year" id="formYear">
                    {% for year in years %}
                    {% if forloop.counter == 2 %}
                    <option value="{{year}}" selected>{{year}}</option>
                    {% else %}
                    <option value="{{year}}">{{year}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
                <div class="col form-group">
                <label for="formMonth">Month</label>
                <select class="form-control form-control-sm" name="month" id="formMonth">
                    {% for key, value in months.items %}
                    {% if key == current_month %}
                        <option value="{{key}}" selected>{{value}}</option>
                    {% else %}
                        <option value="{{key}}">{{value}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit"
                    class="btn btn-danger">
                Proceed
            </button>
            <button type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal">
                Cancel
            </button>
        </div>
    </form>
    </div>
  </div>
</div>
<!--Last month-->
<!--<div class="modal fade"-->
<!--     id="firstModal"-->
<!--     tabindex="-1"-->
<!--     data-backdrop="static"-->
<!--     aria-labelledby="firstModalLabel"-->
<!--     aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content bg-dark text-white">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title"-->
<!--            id="firstModalLabel">-->
<!--            Payroll for {{last_month}}-->
<!--        </h5>-->
<!--        <button type="button"-->
<!--                class="btn-close"-->
<!--                data-dismiss="modal"-->
<!--                aria-label="Close">-->
<!--            <i class="fa fa-close"></i>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        You are about to generate payroll for the period {{last_period}}-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <a href="#"-->
<!--           class="btn btn-danger">-->
<!--            Proceed-->
<!--        </a>-->
<!--        <button type="button"-->
<!--                class="btn btn-secondary"-->
<!--                data-dismiss="modal">-->
<!--            Cancel-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--This month-->
<!--<div class="modal fade"-->
<!--     id="secondModal"-->
<!--     tabindex="-1"-->
<!--     data-backdrop="static"-->
<!--     aria-labelledby="secondModalLabel"-->
<!--     aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content bg-dark text-white">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title"-->
<!--            id="secondModalLabel">-->
<!--            Payroll for {{this_month}}-->
<!--        </h5>-->
<!--        <button type="button"-->
<!--                class="btn-close"-->
<!--                data-dismiss="modal"-->
<!--                aria-label="Close">-->
<!--            <i class="fa fa-close"></i>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        You are about to generate payroll for the period {{current_period}}-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <a href="#"-->
<!--           class="btn btn-danger">-->
<!--            Proceed-->
<!--        </a>-->
<!--        <button type="button"-->
<!--                class="btn btn-secondary"-->
<!--                data-dismiss="modal">-->
<!--            Cancel-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--Next Month-->
<!--<div class="modal fade"-->
<!--     id="thirdModal"-->
<!--     tabindex="-1"-->
<!--     data-backdrop="static"-->
<!--     aria-labelledby="thirdModalLabel"-->
<!--     aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content bg-dark text-white">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title"-->
<!--            id="thirdModalLabel">-->
<!--            Payroll for {{next_month}}-->
<!--        </h5>-->
<!--        <button type="button"-->
<!--                class="btn-close"-->
<!--                data-dismiss="modal"-->
<!--                aria-label="Close">-->
<!--            <i class="fa fa-close"></i>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        You are about to generate payroll for the period {{next_period}}-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <a href="#"-->
<!--           class="btn btn-danger">-->
<!--            Proceed-->
<!--        </a>-->
<!--        <button type="button"-->
<!--                class="btn btn-secondary"-->
<!--                data-dismiss="modal">-->
<!--            Cancel-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

{% endblock %}