{% extends 'users/base.html' %}
{% load custom_tags %}
{% load djmoney %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-2 bg-dark">
            <p class="m-2 text-white">
                <i class="fa fa-plus text-warning"></i>
                Periods Payable
            </p>
            <ul class="nav flex-column nav-pills">
                <form method="post">{% csrf_token %}
                    {% for period in periods %}
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <input type="submit"
                                   class="nav-link bg-dark text-warning"
                                   name="{{period}}"
                                   value="{{period}}">
                        </a>
                    </li>
                    {% endfor %}
                </form>
            </ul>
        </div>
        <div class="col-10">
            <div class="container">
                <div class="row mt-4">
                    <div class="col">
                        <h3 class="text-center">Salary Payment Page</h3>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <!--    The table section-->
                <div class="row">
                    <div class="col">
                        <table data-toggle="table"
                               data-pagination="true"
                               data-search="true"
                               data-show-columns="true"
                               data-show-footer="true"
                               class="table table-bordered caption-top table-sm"
                               width="40px" bgcolor="#ffffff">
                            <caption>Payroll for the Period
                                <span class="text-danger">{{period}}</span>
                                <span class="text-danger float-right">{{date_period}}</span>
                            </caption>
                            <thead class="bg-dark text-white text-center">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">ID</th>
                                <th scope="col">Staff</th>
                                <th scope="col">Balance</th>
                                <th scope="col">Salary Due</th>
                                <th scope="col">Outstanding</th>
                                <th scope="col">Status</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for obj in object %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td scope="row">{{obj.staff.pk|zeropadding:3}}</td>
                                <td>{{obj.staff.fullname}}</td>
                                <td class="text-right">{{obj.balance}}</td>
                                <td class="text-right text-success">{{obj.net_pay}}</td>
                                <td class="text-right">{{obj.outstanding}}</td>
                                <td class="text-danger text-center">
                                    <a type="button"
                                       href="{% url 'pay-salary' obj.pk %}"
                                       class="btn btn-sm btn-outline-primary">
                                        Pay
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr class="bg-dark text-white">
                                <td colspan="2" class="text-center">Total</td>
                                <td colspan="3" class="text-right"></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="row mt-3 float-right">
                    <div class="col">
                        <a type="button"
                           class="btn btn-outline-dark"
                           href="{% url 'salary' %}">
                            <i class="fa fa-reply"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade"
     id="payModal" tabindex="-1"
     aria-labelledby="payModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="payModalLabel">Pay</h5>
        <button type="button"
                class="btn-close"
                data-dismiss="modal"
                aria-label="Close">
            <i class="fa fa-close text-danger"></i>
        </button>
      </div>
      <div class="modal-body">
            <p>Staff ID:</p>
            <p>Staff:</p>
            <p>Salary Due:</p>
            <p>Tax:</p>
            <p>Credit:</p>
            <p>Debit:</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="">
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}