{% extends 'users/base.html' %}
{% load custom_templates %}
{% load djmoney %}


{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col">
            <h1 class="text-primary">Salary Payment Page</h1>
            <h5>Periods Payable</h5>
        </div>
    </div>

    <form method="post">{% csrf_token %}
        <div class="row mt-2">
            {% for period in periods %}
            <div class="col-sm-4">
                <div class="list-group">
                    <input type="submit"
                           class="list-group-item list-group-item-action"
                           name="{{period}}"
                           value="{{period}}">
                </div>
            </div>
            {% endfor %}
        </div>
    </form>
</div>
<section class="m-3">
<!--    The table section-->
    <div class="row">
        <div class="col">
            {% if object.count != 0 %}
            <table data-toggle="table"
                   data-pagination="true"
                   data-search="true"
                   data-show-columns="true"
                   data-show-footer="true"
                   class="table table-bordered caption-top table-sm"
                   width="40px" bgcolor="#ffffff">
                <caption>Payroll for the Period {{period}}
                <span class="float-right">
                    <a href="{% url 'home' %}"><i class="fa fa-reply"></i> Home</a>
                </span>
                </caption>
        <thead class="bg-secondary text-white text-center">
            <tr>
              <th scope="col">#</th>
              <th scope="col">ID</th>
              <th scope="col">Staff</th>
              <th scope="col">Balance</th>
              <th scope="col">Salary Due</th>
              <th scope="col">Outstanding</th>
              <th scope="col">Status</th>

            </tr>
        </thead>
        <tbody>
        {% for obj in object %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td scope="row">{{obj.staff.pk|zeropadding:3}}</td>
                <td>{{obj.staff.fullname}}</td>
                <td class="text-right">{{obj.staff.balance}}</td>
                <td class="text-right text-success">{{obj.net_pay}}</td>
                <td class="text-right">{{obj.outstanding}}</td>
                <td class="text-danger text-center">
                        <a type="button"
                               href="{% url 'pay-salary' obj.pk %}"
                               class="btn btn-sm btn-outline-primary">
                            Pay
                        </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
    <tr class="bg-dark text-white">
        <td colspan="2" class="text-center">Total</td>
        <td colspan="3" class="text-right"></td>
    </tr>
    </tfoot>
    </table>
            {% else %}
            <h5 id="pay">{{period}}: No more Staff to Pay</h5>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3 float-right">
        <div class="col">

        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade"
     id="payModal" tabindex="-1"
     aria-labelledby="payModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="payModalLabel">Pay</h5>
        <button type="button"
                class="btn-close"
                data-dismiss="modal"
                aria-label="Close">
            <i class="fa fa-close text-danger"></i>
        </button>
      </div>
      <div class="modal-body">
            <p>Staff ID:</p>
            <p>Staff:</p>
            <p>Salary Due:</p>
            <p>Tax:</p>
            <p>Credit:</p>
            <p>Debit:</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="">
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}