{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 shadow-lg">
            <form method="POST">
                {% csrf_token %}
                <fieldset>
                    <legend>{{title}} Balance Sheet Form</legend>
                    <hr>
                    {{form|crispy}}
                </fieldset>
                <div class="form-row">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="col text-right">
                        <a class="btn btn-outline-dark" 
                        href="{% url 'trade-home' %}"><i class="fa fa-reply"></i> 
                        Trade Home
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function func() {
        let os = document.getElementById('OK')
        
    }
    
</script>
{% endblock content%}