{% extends 'users/base.html' %}
{% load custom_templates %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!--        side menu-->
        <div class="col-3 bg-dark">
            <ul class="nav flex-column mt-3">
                <li class="text-white">Trading, P & L</li>
                
                <li class="text-success ml-2">Monthly</li>
                
                <li class="nav-item">
                    <a class="nav-link"
                        href="{% url 'trade-list' %}">
                        <i class="fa fa-eye-slash text-warning"></i> View
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'trade-create' %}">
                        <i class="fa fa-plus text-warning"></i> Add
                    </a>
                </li>
                <li class="text-success ml-2">Daily</li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="#">
                        <i class="fa fa-eye-slash text-warning"></i> Report
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="{% url 'trade-daily-list' %}">
                        <i class="fa fa-eye-slash text-warning"></i> Entry
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'trade-daily-create' %}">
                        <i class="fa fa-plus text-warning"></i> Add
                    </a>
                </li>
            </ul>
            
            <ul class="nav flex-column">
                <li class="text-white">Balance Sheet</li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="{% url 'trade-trading-account' %}">
                        <i class="fa fa-book text-warning"></i> Report
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="{% url 'trade-list' %}">
                        <i class="fa fa-eye-slash text-warning"></i> View
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'trade-create' %}">
                        <i class="fa fa-plus text-warning"></i> Add
                    </a>
                </li>
            </ul>
            
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-question text-warning"></i> Help
                    </a>
                </li>
            </ul>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        <i class="fa fa-reply text-warning"></i> Home
                    </a>
                </li>
            </ul>
        </div>
   
        <!--        body of page-->
        <div class="col-9 mt-3 bg-white">
            <h3>Business Summary</h3>
            
            <div class="row">
                <div class="col-md-4">
                    {% if daily %}
                    <div class="card border-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Daily - {{daily.date|date:'jS F, Y'}}</div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Sales
                                    <span class="badge badge-primary badge-pill">{{daily.sales.amount}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Purchase
                                    <span class="badge badge-success badge-pill">{{daily.purchase.amount}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Direct Expenses
                                    <span class="badge badge-danger badge-pill">{{daily.direct_expenses.amount}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Indirect Expenses
                                    <span class="badge badge-warning badge-pill">{{daily.indirect_expenses.amount}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    GP Ratio
                                    <span class="badge badge-info badge-pill">{{ daily.gp_ratio|dividedby:1000|floatformat:'3' }}%</span>
                                </li>
                            </ul>
                          <div class="row">
                              <div class="col text-right">
                                <a class="btn btn-outline-primary btn-sm" href="{% url 'daily-pl-report' %}">Report</a>  
                              </div>
                          </div>
                        </div>
                    </div>
                    {% else %}
                    <h6>No Daily record yet</h6>
                    {% endif %}
                </div>
                {% if quarter_one %}
                <div class="col-md-4">
                    <div class="card border-success mb-3" style="max-width: 18rem;">
                        <div class="card-header">Monthly - {{monthly}}</div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Sales
                                    <span class="badge badge-primary badge-pill">{{monthly.sales.amount}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Purchase
                                    <span class="badge badge-success badge-pill">{{monthly.purchase.amount}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Direct Expenses
                                    <span class="badge badge-danger badge-pill">{{monthly.direct_expenses.amount}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Indirect Expenses
                                    <span class="badge badge-warning badge-pill">{{monthly.indirect_expenses.amount}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    GP Ratio
                                    <span class="badge badge-info badge-pill">{{monthly.gp_ratio|dividedby:1000|floatformat:'3'}}%</span>
                                </li>
                            </ul>
                          <div class="row">
                              <div class="col text-right">
                                <a class="btn btn-outline-success btn-sm" href="{% url 'trade-trading-account' %}">Report</a>  
                              </div>
                          </div>
                    </div>
                </div>
                
                </div>
                {% else %}
                    <h6>No Monthly record yet</h6>
                {% endif %}
                <div class="col-md-4">
                    {% if quarter_one %}
                    <div class="card border-danger mb-3" style="max-width: 18rem;">
                        <div class="card-header">Quarterly - {{quarter}}</div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Sales
                                    <span class="badge badge-primary badge-pill">{{quarter_one.sales}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Purchase
                                    <span class="badge badge-success badge-pill">{{quarter_one.purchase}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Direct Expenses
                                    <span class="badge badge-danger badge-pill">{{quarter_one.direct_expenses}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Indirect Expenses
                                    <span class="badge badge-warning badge-pill">{{quarter_one.indirect_expenses}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    GP Ratio
                                    <span class="badge badge-info badge-pill">{{quarter_one.gp_ratio|dividedby:1000|floatformat:'3'}}%</span>
                                </li>
                            </ul>
                          <div class="row">
                              <div class="col text-right">
                                <a class="btn btn-outline-danger btn-sm" href="{% url 'daily-pl-report' %}">Report</a>  
                              </div>
                          </div>
                    </div>
                    </div>
                    {% else %}
                        <h6>No quarterly record yet</h6>
                    {% endif %}
                
                </div>

                <div class="col-md-4">
                    <div class="card border-warning mb-3" style="max-width: 18rem;">
                        <div class="card-header">Yearly - {{year}}</div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Sales
                                    <span class="badge badge-primary badge-pill">{{sales|floatformat:'2g'}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Purchase
                                    <span class="badge badge-success badge-pill">{{purchase|floatformat:'2g'}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Direct Expenses
                                    <span class="badge badge-danger badge-pill">{{direct_expenses|floatformat:'2g'}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Indirect Expenses
                                    <span class="badge badge-warning badge-pill">{{indirect_expenses|floatformat:'2g'}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    GP Ratio
                                    <span class="badge badge-info badge-pill">{{gp_ratio|dividedby:1000|floatformat:'3'}}%</span>
                                </li>
                            </ul>
                          <div class="row">
                              <div class="col text-right">
                                <a class="btn btn-outline-warning btn-sm" href="{% url 'daily-pl-report' %}">Report</a>  
                              </div>
                          </div>
                    </div>
                </div>
                
                
                </div>
            </div>

        </div>
        
    </div>
</div>
{% endblock content %}