{% extends 'users/base.html' %}
{% load custom_tags %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- The menu-->
        <!-- <div class=""> -->
        <nav class="col-sm-2 bg-dark">
            <button
                class="navbar-toggler bg-light mt-1 mb-1 float-right myBtn"
                type="button"
                data-toggle="collapse"
                data-target="#Dropdown2"
                aria-controls="Dropdown2"
                aria-expanded="false"
                aria-label="toggle navigation">
                <i class="fa fa-navicon fa-1x text-primary"></i>
            </button>
            <div class="collapse collapse-sm" id="Dropdown2">
                <ul class="nav flex-column mt-3">
                    <li class="text-white">Trading, P & L</li>
                    
                    <li class="text-success ml-2">Monthly</li>
                    
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{% url 'trade-list' %}">
                            <i class="fa fa-eye-slash text-warning"></i> View
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'trade-create' %}">
                            <i class="fa fa-plus text-warning"></i> Add
                        </a>
                    </li>
                    <li class="text-success ml-2">Daily</li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{% url 'trade-daily-list' %}">
                            <i class="fa fa-eye-slash text-warning"></i> View
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'trade-daily-create' %}">
                            <i class="fa fa-plus text-warning"></i> Add
                        </a>
                    </li>
                </ul>
                <hr class="dropdown-divider">
                <ul class="nav flex-column">
                    <li class="text-white">Balance Sheet</li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{% url 'trade-weeekly' %}">
                            <i class="fa fa-book text-warning"></i> Report
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{% url 'trade-bs-list' %}">
                            <i class="fa fa-eye-slash text-warning"></i> View
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bs-create' %}">
                            <i class="fa fa-plus text-warning"></i> Add
                        </a>
                    </li>
                </ul>
                <hr class="dropdown-divider">

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'audit' %}">
                            <i class="fa fa-sticky-note text-warning"></i> General Report
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'financial-create' %}">
                            <i class="fa fa-plus text-warning"></i> Add Both
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-question text-warning"></i> Help
                        </a>
                    </li>
                </ul>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">
                            <i class="fa fa-reply text-warning"></i> Home
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- </div> -->
        <!-- The Body -->
        {% if month %}
        <div class="col-sm-10 mt-2 bg-white">
            <h3 class="text-center">Latest Balance Sheet and Profit & Loss Statements</h3>
            <h5 class="text-primary"><i>Profit & Loss Account - {{daily.date}}</i></h5>
            <div class="row">
                <div class="col-sm-6">
                    <ul style="list-style-type: none;">
                        <h3 class="text-center">Daily</h3> 
                        <li class="ml-3">Opening Stock: <span class="float-right">{{daily.opening_value}}</span></li>
                        <hr>
                        <li class="ml-3">Purchase: <span class="float-right">{{daily.purchase}}</span></li>
                        <hr>
                        <li class="ml-3">Direct Expenses: <span class="float-right">{{daily.direct_expenses}}</span></li>
                        <hr>
                        <li class="ml-3">Direct Income: <span class="float-right">{{daily.direct_income}}</span></li>
                        <hr>
                        <li class="ml-3">Sales: <span class="float-right">{{daily.sales}}</span></li>
                        <hr>
                        <li class="ml-3">Indirect Expenses: <span class="float-right">{{daily.indirect_expenses}}</span></li>
                        <hr>
                        <li class="ml-3">Indirect Income: <span class="float-right">{{daily.indirect_income}}</span></li>
                        <hr>
                        <li class="ml-3">Closing Stock: <span class="float-right">{{daily.closing_value}}</span></li>
                        <hr>
                        <li class="ml-3">Gross Profit: <span class="float-right">{{daily.gross_profit}}</span></li>
                        <hr>
                        <li class="ml-3">Net Profit: <span class="float-right">{{daily.net_profit}}</span></li>
                        <hr>
                        <li>Margin Ratio: <span class="float-right">{{100|multiply:daily.net_profit|div:daily.sales.amount|floatformat:2}}%</span></li>
                        <hr>
                        <li>Delivery Expenses Ratio: 
                            <span class="float-right">
                                {{100|multiply:daily.direct_expenses.amount|div:daily.purchase.amount|floatformat:2}}%
                            </span>
                        </li>
                        <hr>
                        <li>Admin Expenses Ratio: 
                            <span class="float-right">
                                {{100|multiply:daily.indirect_expenses.amount|div:daily.sales.amount|floatformat:2}}%
                            </span>
                        </li>
                        <hr>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul style="list-style-type: none;">
                        <h3 class="text-center">Cummulative for {{month_string}}</h3> 
                        <li class="ml-3">Opening Stock: <span class="float-right">{{daily_monthly.opening_stock}}</span></li>
                        <hr>
                        <li class="ml-3">Purchase: <span class="float-right">{{daily_monthly.purchase|floatformat:2}}</span></li>
                        <hr>
                        <li class="ml-3">Direct Expenses: <span class="float-right">{{daily_monthly.direct_expenses|floatformat:2}}</span></li>
                        <hr>
                        <li class="ml-3">Direct Income: <span class="float-right">{{daily_monthly.direct_income|floatformat:2}}</span></li>
                        <hr>
                        <li class="ml-3">Sales: <span class="float-right">{{daily_monthly.sales|floatformat:2}}</span></li>
                        <hr>
                        <li class="ml-3">Indirect Expenses: <span class="float-right">{{daily_monthly.indirect_expenses|floatformat:2}}</span></li>
                        <hr>
                        <li class="ml-3">Indirect Income: <span class="float-right">{{daily_monthly.indirect_income|floatformat:2}}</span></li>
                        <hr>
                        <li class="ml-3">Closing Stock: <span class="float-right">{{daily.closing_value}}</span></li>
                        <hr>
                        <li class="ml-3">Gross Profit: <span class="float-right">{{daily_monthly.gross_profit|floatformat:2}}</span></li>
                        <hr>
                        <li class="ml-3">Net Profit: <span class="float-right">{{daily_monthly.net_profit}}</span></li>
                        <hr>
                        <li>Margin Ratio: <span class="float-right">{{100|multiply:daily_monthly.net_profit|div:daily_monthly.sales|floatformat:2}}%</span></li>
                        <hr>
                        <li>Delivery Expenses Ratio: <span class="float-right">{{100|multiply:daily_monthly.direct_expenses|div:daily_monthly.purchase|floatformat:2}}%</span></li>
                        <hr>
                        <li>Admin Expenses Ratio: <span class="float-right">{{100|multiply:daily_monthly.indirect_expenses|div:daily_monthly.sales|floatformat:2}}%</span></li>
                        <hr>
                    </ul>
                </div>
            </div>

            <h5 class="text-primary"> <i>Balance Sheet as at {{object.date}}</i> </h5>
            <div class="row mt-3">
                <div class="col-md-6">
                    <ul style="list-style-type: none;">
                        <li>Profit: <span class="float-right">{{object.profit}}</span></li>
                        <hr>
                        <li>Adjusted Profit: <span class="float-right">{{object.adjusted_profit}}</span></li>
                        <hr>
                        <li>Equity: <span class="float-right">{{object.capital}}</span></li>
                        <hr>
                        <li>Current Liability: <span class="float-right">{{object.liability}}</span></li>
                        <hr>
                        <li class="text-danger">Total: <span class="float-right">{{object.profit|add:object.adjusted_profit|add:object.capital|add:object.liability}}</span></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul style="list-style-type: none;">
                        {% with object.fixed_asset|add:object.current_asset|add:object.investment|add:object.suspense as total %}
                        <li>Fixed Asset: 
                            <span class="float-right">{{object.fixed_asset}}</span>
                            <span class="float-right text-muted">({{100|multiply:object.fixed_asset|div:total|floatformat:2}}%)</span> 
                        </li>
                        <hr>
                        <li>Current Asset: 
                            <span class="float-right">{{object.current_asset}}</span>
                            <span class="float-right text-muted">({{100|multiply:object.current_asset|div:total|floatformat:2}}%)</span> 
                        </li>
                        <hr>
                        <li>Investment: <span class="float-right">{{object.investment}}</span>
                            <span class="float-right text-muted">({{100|multiply:object.investment|div:total|floatformat:2}}%)</span> 
                        </li>
                        <hr>
                        <li>Suspense: <span class="float-right">{{object.suspense}}</span>
                        <span class="float-right text-muted">({{100|multiply:object.suspense|div:total|floatformat:2}}%)</span> 
                        </li>
                        <hr>
                        {% endwith %}
                        <li class="text-danger">Total: <span class="float-right">{{object.fixed_asset|add:object.current_asset|add:object.investment|add:object.suspense}}</span></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <ul class="p-0" style="list-style-type: none;">
                        <li><img src="data:image/png;base64, {{chart|safe}}" alt=""></li>
                    </ul>
                    <p><i class="fa fa-braille text-warning"></i>Sales to Stock Ratio - last five days</p>
                </div>
                <div class="col-sm-6"> 
                    <ul style="list-style-type: none;">
                        <li>Growth Ratio: <span class="float-right">{{object.growth_ratio}}%</span> </li>
                        <hr>
                        <li>Debt to Equity Ratio: <span class="float-right">{{object.debt_to_equity_ratio}}%</span></li>
                        <hr>
                        <li>Current Ratio: <span class="float-right">{{object.current_ratio}}</span></li>
                        <hr>
                        <li>Quick Ratio: <span class="float-right">{{object.quick_ratio}}</span></li>
                        <hr>
                        <li>Working Capital: <span class="float-right">{{object.current_asset|minus:object.sundry_debtor|add:object.liability}}</span></li>
                        
                    </ul>
                    
                    
                </div>
            </div>

        </div>
        {% else %}
        <div class="col-9">
            <h3 class="p-3"><i>No Record in Trade Database yet</i></h3>
            <p class="ml-5">Add Profit & Loss and Balance Sheet data from the side menu</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}