{% extends 'customer/base.html' %}
{% load djmoney %}
{% load custom_templates %}

{% block content %}
<div class="container">

    <h4>P & L for {{object.date}} 
        {% if title == 'Daily Update' %}
        Modified
        {% endif %}
    </h4>
    <hr>
    <p>Sales: {{object.sales}}</p>
    <hr>
    <p>Purchase: {{object.purchase}}</p>
    <hr>
    <p>Direct Expenses: {{object.direct_expenses}}</p>
    <hr>
    <p>Indirect Expenses: {{object.indirect_expenses}}</p>
    <hr>
    <p>Opening Stock: {{object.opening_value}}</p>
    <hr>
    <p>Closing Stock: {{object.closing_value}}</p> 
    <hr>
    <p>Gross Profit: {{object.gross_profit}}</p>
    <hr>
    <p>Direct Income: {{object.direct_income}}</p> 
    <hr>
    <p>Indirect Income: {{object.indirect_income}}</p>
    <hr>
    <p style="color: green;">Net profit: {{object.net_profit}}</p>
    <hr>
    <p>Stock Check: {{object.opening_value|minus:object.sales|add:object.purchase|add:object.gross_profit|add:object.direct_expenses|minus:object.closing_value}}</p>   
    <hr>
</div>
{% endblock content %}