{% extends 'mail/base.html' %}
{% load djmoney %}
{% load custom_templates %}

{% block content %}
<div class="container">
    
    <h5>P & L for {{object.date}} and it's month cumulative</h5>
    <table>
        <tr>
            <th style="text-align: center;">Items</th>
            <th style="text-align: center;">Day</th>
            <th style="text-align: center;">Month</th>
        </tr>
    
        <tr>
            <td>Sales</td>
            <td style="text-align: right;">{{object.sales}}</td>
            <td style="text-align: right;">{{object.total_sales}}</td>
        </tr>
        <tr>
            <td>Purchase</td>
            <td style="text-align: right;">{{object.purchase}}</td>
            <td style="text-align: right;">{{object.total_purchase}}</td>
        </tr> 
        <tr>
            <td>Direct Expenses</td>
            <td style="text-align: right;">{{object.direct_expenses}}</td>
            <td style="text-align: right;">{{object.total_direct_expenses}}</td>
        </tr>
        <tr>
            <td>Indirect Expenses</td>
            <td style="text-align: right;">{{object.indirect_expenses}}</td>
            <td style="text-align: right;">{{object.total_indirect_expenses}}</td>
        </tr>
        <tr>
            <td>Opening Stock</td>
            <td style="text-align: right;">{{object.opening_value}}</td>
            <td style="text-align: right;">{{object.opening_stock}}</td>
        </tr>
        <tr>
            <td>Closing Stock</td>
            <td style="text-align: right;">{{object.closing_value}}</td>
            <td style="text-align: right;">{{object.closing_value}}</td>
        </tr>
        <tr>
            <td>Gross Profit</td>
            <td style="text-align: right;">{{object.gross_profit}}</td>
            <td style="text-align: right;">{{object.total_gross_profit}}</td>
        </tr>
        <tr>
            <td>Direct Income</td>
            <td style="text-align: right;">{{object.direct_income}}</td>
            <td style="text-align: right;">{{object.total_direct_income}}</td>
        </tr>
        <tr>
            <td>Indirect Income</td>
            <td style="text-align: right;">{{object.indirect_income}}</td>
            <td style="text-align: right;">{{object.total_indirect_income}}</td>
        </tr>
        <tr>
            <td>Net Profit</td>
            <td style="text-align: right;">
                {% if object.net_profit.amount >= 0 %}
                    <span style="color: green;">{{object.net_profit}}</span> 
                {% else %}
                    <span style="color: red;">{{object.net_profit|abs}}</span>
                {% endif %}
            </td>
            <td style="text-align: right;">
                <span style="color:green">{{ratio.net_profit}}</span>
            </td>
        </tr>
        <tr>
            <td>Margin Ratio</td>
            <td style="text-align: right;">{{object.margin_ratio}}</td>
            <td style="text-align: right;">{{ratio.margin_ratio}}</td>
        </tr>
        <tr>
            <td>Delivery Expenses Ratio</td>
            <td style="text-align: right;">{{object.delivery_expenses_ratio}}</td>
            <td style="text-align: right;">{{ratio.delivery_expenses_ratio}}</td>
        </tr>
        <tr>
            <td>Admin Expenses Ratio</td>
            <td style="text-align: right;">{{object.admin_expenses_ratio}}</td>
            <td style="text-align: right;">{{ratio.admin_expenses_ratio}}</td>
        </tr>
    </table>
    <p>Check: {{object.opening_value|minus:object.sales|add:object.purchase|add:object.gross_profit|add:object.direct_expenses|minus:object.closing_value}}
        <small style="color: rgb(81, 83, 81);">Opening stock less sales add purchase add gross profit add direct expenses less closing stock</small></p>
    <h3>Sales Drive Ratio</h3>
    <table>
        <tr>
            <th style="text-align: center;">Date</th>
            <th style="text-align: center;">SDR(%)</th>
        </tr>
    
        {% for ratio in object.sales_drive %}
        <tr>
            <td>{{ratio.date|date:'d-m-Y'}}</td>
            <td style="text-align: right;">{{ratio.sales.amount|div:ratio.opening_value.amount|multiply:100|floatformat:'2'}}</td>
        </tr> 
        {% endfor %}
    </table>
    <p>SDR = Sales Vs Opening Stock (last five sales)</p>
</div>
{% endblock content %}