{% extends 'mail/base.html' %}
{% load djmoney %}
{% load custom_templates %}

{% block content %}
<div class="container">
    
    <h5>Balance Sheet as at {{object.date}} and it's month cumulative</h5>
    <table>
        <tr>
            <th style="text-align: center;">Items</th>
            <th style="text-align: center;">Value</th>
        </tr>
    
        <tr>
            <td>Profit</td>
            <td style="text-align: right;">{{object.profit}}</td>
        </tr>
        <tr>
            <td>Adjusted Profit</td>
            <td style="text-align: right;">{{object.adjusted_profit}}</td>
        </tr> 
        <tr>
            <td>Equity</td>
            <td style="text-align: right;">{{object.capital}}</td>
        </tr>
        <tr>
            <td>Current Liabilty</td>
            <td style="text-align: right;">{{object.liability}}</td>
        </tr>
        
        <tr style="color: red;">
            <td>Total</td>
            <td style="text-align: right;">{{object.profit|add:object.adjusted_profit|add:object.capital|add:object.liability}}</td>
        </tr>
        <tr>
            <td>Fixed Asset</td>
            <td style="text-align: right;">{{object.fixed_asset}}</td>
        </tr>
        <tr>
            <td>Current Asset</td>
            <td style="text-align: right;">{{object.current_asset}}</td>
        </tr>
        <tr>
            <td>Investment</td>
            <td style="text-align: right;">{{object.investment}}</td>
        </tr>
        <tr>
            <td>Suspense</td>
            <td style="text-align: right;">{{object.suspense}}</td>
        </tr>
        
        <tr style="color: red;">
            <td>Total</td>
            <td style="text-align: right;">{{object.fixed_asset|add:object.current_asset|add:object.investment|add:object.suspense}}</td>
        </tr>
        <tr>
            <td>Growth Ratio</td>
            <td style="text-align: right;">{{object.growth_ratio}}%</td>
        </tr>
        <tr>
            <td>Current Ratio</td>
            <td style="text-align: right;">{{object.current_ratio}}</td>
        </tr>
        <tr>
            <td>Quick Ratio</td>
            <td style="text-align: right;">{{object.quick_ratio}}</td>
        </tr>
    </table>
    
    
</div>
{% endblock content %}