{% extends 'users/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!--        body of page-->
        <div class="col mt-1 bg-white">

            <h3 class="text-center">Daily Business Report between {{date_range}}</h3>

            <form action="#">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input name="date" class="form-control" type="date">
                        </div>
                    </div>
                    <div class="col">
                        <input class="btn btn-outline-secondary" type="submit" value="OK">
                    </div>
                </div>
            </form>    
               
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                <!-- Sales -->
                <div class="col-md-3 p-2 d-flex justify-content-center">
                    <div class="card" style="max-width: 540px;">
                        <img src="data:image/png;base64,{{sales_graph}}"
                            class="card-img-top mx-auto d-block"
                            style="height:250px;"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-info">Sales</h5>
                            <p class="card-text">Cummulative Sales: {{total_sales|floatformat:'2g'}}</p>
                            <p class="card-text">Daily Sales Average: {{sales_average|floatformat:'2g'}}</p>
                            <img src="data:image/png;base64,{{np_plot}}"
                            class="card-img-top mx-auto d-block"
                            style="height:200px;"
                            alt="...">
                        </div>
                    </div>
                </div>
                <!-- Purchase -->
                <div class="col-md-3 p-2 d-flex justify-content-center">
                    <div class="card" style="max-width: 540px;">
                        <img src="data:image/png;base64,{{purchase_graph}}"
                            class="card-img-top mx-auto d-block"
                            style="height: 250px"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-warning">Purchase</h5>
                            <p class="card-text">Cummulative Purchase: {{total_purchase|floatformat:'2g'}}</p>
                            <p class="card-text">Daily Purchase Average: {{purchase_average|floatformat:'2g'}}</p>

                            <img src="data:image/png;base64,{{gp_plot}}"
                            class="card-img-top mx-auto d-block"
                            style="height: 200px"
                            alt="...">
                        
                        </div>
                    </div>
                </div>
                <!-- Expenses -->
                <div class="col-md-3 p-2 d-flex justify-content-center">
                    <div class="card" style="max-width: 540px;">
                        <img src="data:image/png;base64,{{expenses_graph}}"
                            class="card-img-top mx-auto d-block"
                            style="height: 250px"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Expenses</h5>
                            <p class="card-text">Cummulative Expenses: {{total_expenses|floatformat:'2g'}}</p>
                            <p class="card-text">Daily Expenses Average: {{expenses_average|floatformat:'2g'}}</p>
                            <img src="data:image/png;base64,{{expenses_ratio_pie}}"
                            class="card-img-top mx-auto d-block"
                            style="height: 200px;"
                            alt="...">
                            <table class="table table-bordered table-sm">
                                <thead>
                                    <tr class="text-center">
                                        <th><small>Date</small></th>
                                        <th><small>Direct</small></th>
                                        <th><small>Indirect</small></th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr class="text-center">
                                        <th><small>{{dataset.date|date:'jS'}}</small></th>
                                        <th><small>{{dataset.direct_expenses.amount}}</small></th>
                                        <th><small>{{dataset.indirect_expenses.amount}}</small></th>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>

                    </div>
                </div>
                <!-- Gross Profit -->
                <div class="col-md-3 p-2 d-flex justify-content-center">
                    <div class="card" style="max-width: 540px;">
                        <img src="data:image/png;base64,{{gross_profit_graph}}"
                            class="card-img-top mx-auto d-block"
                            style="height: 250px"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-danger">Gross Profit</h5>
                            <p class="card-text">Cummulative Gross Profit: {{total_gross|floatformat:'2g'}}</p>
                            <p class="card-text">Daily Average Gross Profit: {{gross_average|floatformat:'2g'}}</p>
                            
                            <sup class="text-danger">As at {{dataset.date|date:'jS'}}</sup>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Gross Profit   
                                    <span class="badge badge-danger badge-pill">{{dataset.gross_profit.amount}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Net Profit
                                    <span class="badge badge-primary badge-pill">{{dataset.net_profit|floatformat:'2g'}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    GP Ratio 
                                    <span class="badge badge-warning badge-pill">{{gross_profit_ratio|floatformat:'2'}}%</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    NP Ratio
                                    <span class="badge badge-info badge-pill">{{dataset.net_ratio|floatformat:'2'}}%</span>
                                </li>
                                </ul>
                        </div>
                    </div>
                </div>  
            </div>
                
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-right">
            <a class="btn btn-dark" href="{% url 'trade-home' %}"><i class="fa fa-reply"></i></a>
        </div>
    </div>
</div>
{% endblock content %}