{% extends 'users/base.html' %}
{% load custom_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <table data-toggle="table"
                    data-pagination="true"
                    data-search="true"
                    class="table table-bordered">
                <caption>Monthly Trading, Profit & Loss Account - {{object_list.last.year|lower}}</caption>
            <thead class="text-center">
                <tr class="text-white bg-dark">
                    <th>ID</th>
                    <th>Month</th>
                    <th>Opening Stock</th>
                    <th>Sales</th>
                    <th>Purchase</th>
                    <th>Direct Expenses</th>
                    <th>Indirect Expenses</th>
                    <th>Closing Stock</th>
                    <th>Gross Profit</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-success text-white text-right">
                    <th colspan="2">{{current_pl.month}}</th>
                    <th>{{current_pl.opening_stock}}</th>
                    <th>{{current_pl.sales}}</th>
                    <th>{{current_pl.purchase}}</th>
                    <th>{{current_pl.direct_expenses}}</th>
                    <th>{{current_pl.indirect_expenses}}</th>
                    <th>{{current_pl.closing_stock}}</th>
                    <th>{{current_pl.gross_profit}}</th>
                </tr>
                {% for object in object_list %}
                <tr class="text-right">
                    <td><a href="{% url 'trade-detail' object.pk %}">{{object.id|zeropadding:3}}</a></td>
                    <td>{{object.month}}</td>
                    <td>{{object.opening_value}}</td>
                    <td>{{object.sales}}</td>
                    <td>{{object.purchase}}</td>
                    <td>{{object.direct_expenses}}</td>
                    <td>{{object.indirect_expenses}}</td>
                    <td>{{object.closing_value}}</td>
                    <td>{{object.gross_profit}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="data:image/png;base64, {{chart|safe}}" alt="">
        </div>
        {% if monthly_trade %}
        <div class="col">
            <table class="table">
                <legend>Compare Gross Profit</legend>
                <thead>
                    <tr>
                        <th>Month</th>
                        {% for year in years %}
                            <th>{{year}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for trade in monthly_trade %}
                    <tr>
                        <td>{{ trade|first }}</td>
                        <td>{% with trade|array_index:1 as x %} {{x.gross_profit}} {% endwith %}</td>
                        <td>{% with trade|array_index:2 as x %} {{x.gross_profit}} {% endwith %}</td>
                        <td>{% with trade|array_index:3 as x %} {{x.gross_profit}} {% endwith %}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>{{sum_monthly_trade|first}}</td>
                        <td>{{sum_monthly_trade|array_index:1}}</td>
                        <td>{{sum_monthly_trade|array_index:2}}</td>
                        <td>{{sum_monthly_trade|array_index:3}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    <div class="row mt-3">
        <div class="col text-right">
            <a class="btn btn-outline-dark" href="{% url 'trade-home' %}"><i class="fa fa-reply"></i> Trade Home</a>
        </div>
    </div>
</div>
{% endblock content%}