{% extends 'users/base.html' %}
{% load custom_templates %}
{% load static %}

{% block content %}
<div class="container">
    
    <div class="row mt-3">
        <div class="col text-center">
            <img class="rounded-circle" height="70px" src="{% static 'customer/logo.png' %}" alt="">
            <h3>Trading, Profit & Loss Account for {{object.date|date:'d-m-Y'}}</h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <ul style="list-style-type: none;">
                <li class="text-primary">ID: {{object.id|zeropadding:3}}</li>
                <hr>
                <li>Sales: <span class="float-right">{{object.sales}}</span></li>
                <hr>
                <li>Indirect Expenses: <span class="float-right">{{object.indirect_expenses}}</span></li>
                <hr>
                <li>Indirect Income: <span class="float-right">{{object.indirect_income}}</span></li>
                <hr>
                <li>Opening Stock Value: <span class="float-right">{{object.opening_value}}</span></li>
                <hr>
                <li>Gross Profit: <span class="float-right">{{object.gross_profit}}</span></li>
                <hr>
                <li>Margin Ratio: <span class="float-right">{{margin_ratio}}%</span></li>
                <hr>
                <li>Delivery Expenses Ratio: <span class="float-right">{{delivery_ratio}}%</span></li>
                <hr>
                <li>Admin Expenses Ratio: <span class="float-right">{{admin_ratio}}%</span></li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul style="list-style-type: none;">
                <li class="text-primary">Date: {{object.date}}</li>
                <hr>
                <li>Purchase: <span class="float-right">{{object.purchase}}</span></li>
                <hr>
                <li>Direct Expenses: <span class="float-right">{{object.direct_expenses}}</span></li>
                <hr>
                <li>Direct Income: <span class="float-right">{{object.direct_income}}</span></li>
                <hr>
                <li>Closing Stock Value: <span class="float-right">{{object.closing_value}}</span></li>
                <hr>
                <li>Net Profit: <span class="float-right">{{net_profit}}</span></li>
                <hr>
            </ul>
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col">
            <a class="btn btn-outline-dark" href="{% url 'trade-daily-update' object.pk %}">Update</a>
        </div>
        <div class="col text-right">
            <a class="btn btn-outline-dark" href="{% url 'trade-home' %}"><i class="fa fa-reply"></i> Trade Home</a>
        </div>
    </div>
</div>
{% endblock content%}