{% extends 'users/base.html' %}
{% load custom_templates %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table data-toggle="table"
                    data-pagination="true"
                    data-search="true"
                    class="table table-bordered table-sm bg-light">
                <caption>Daily Trading, Profit & Loss Account - {{object_list.last.date|date:'Y'}}</caption>
            <thead class="bg-primary text-white">
                <tr class="text-center">
                    <th>ID</th>
                    <th>Date</th>
                    <th>Opening Stock</th>
                    <th>Sales</th>
                    <th>Purchase</th>
                    <th>D. Expenses</th>
                    <th>I. Expenses</th>
                    <th>Closing Stock</th>
                    <th>Gross Profit</th>
                    <th>Net Profit</th>
                    <th>Check</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr class="text-right">
                    <td><a href="{% url 'trade-daily-detail' object.pk %}">{{object.id|zeropadding:3}}</a></td>
                    <td style="white-space: nowrap;">{{object.date|date:'d-m-Y'}}</td>
                    <td>{{object.opening_value}}</td>
                    <td>{{object.sales}}</td>
                    <td>{{object.purchase}}</td>
                    <td>{{object.direct_expenses}} </td>
                    <td>{{object.indirect_expenses}}</td>
                    <td>{{object.closing_value}}</td>
                    <td>{{object.gross_profit}}</td>
                    <td>{{object.gross_profit|minus:object.indirect_expenses}}</td>
                    <td>{{object.opening_value|minus:object.sales|add:object.purchase|add:object.gross_profit|add:object.direct_expenses|minus:object.closing_value}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col text-right">
            <a class="btn btn-outline-dark" href="{% url 'trade-home' %}"><i class="fa fa-reply fa-2x"></i></a>
        </div>
    </div>
</div>
{% endblock content%}