{% extends 'core/base.html' %}
{% load custom_tags %}

{% block page_title %}Trademonthly Detail{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col text-center">
            <h3>Trading, Profit & Loss Account for {{object}}</h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-6">
            <ul style="list-style-type: none;">
                <li class="text-primary">ID: {{object.id|zeropadding:3}}</li>
                <hr>
                <li>Sales: <span class="float-right">{{object.sales}}</span></li>
                <hr>
                <li>Indirect Expenses: <span class="float-right">{{object.indirect_expenses}}</span></li>
                <hr>
                <li>Indirect Income: <span class="float-right">{{object.indirect_income}}</span></li>
                <hr>
                <li>Opening Stock Value: <span class="float-right">{{object.opening_value}}</span></li>  
                <hr>
                <li>Gross Profit: <span class="float-right">{{object.gross_profit}}</span></li>
                <hr>
            </ul>
        </div>
        <div class="col-sm-6">
            <ul style="list-style-type: none;">
                <li class="text-primary">Period: {{object.month}}, {{object.year|stringformat:'d'}}</li>
                <hr>
                <li>Purchase: <span class="float-right">{{object.purchase}}</span></li>
                <hr>
                <li>Direct Expenses: <span class="float-right">{{object.direct_expenses}}</span></li>
                <hr>
                <li>Direct Income: <span class="float-right">{{object.direct_income}}</span></li>
                <hr>
                <li>Closing Stock Value: <span class="float-right">{{object.closing_value}}</span></li>
                <hr>
                <li>Net Profit: <span class="float-right">{{net_profit}}</span></li>
                <hr>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul>
                <li>Margin Ratio: <span class="float-right">{{margin_ratio}}%</span></li>
                <hr>
                <li>Delivery Expenses Ratio: <span class="float-right">{{delivery_ratio}}%</span></li>
                <hr>
                <li>Admin Expenses Ratio: <span class="float-right">{{admin_ratio}}%</span></li>
                <hr>
            </ul>
        </div>
    </div>
    {% if object.locked %}
    <div class="row mt-2">
        <div class="col">
            <div class="alert alert-warning py-2">
                <i class="fa fa-lock"></i>
                <strong>Period locked</strong> by {{object.locked_by}} on {{object.locked_at|date:"d-m-Y H:i"}}.
                Editing is disabled.
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row mt-3">
        <div class="col">
            {% if not object.locked %}
            <a class="btn btn-secondary" href="{% url 'trade-update' object.pk %}">Update</a>
            {% else %}
            <button type="button" class="btn btn-outline-secondary" disabled title="Period is locked">Update</button>
            {% endif %}
            {% if request.user.is_superuser %}
            <form method="POST" action="{% url 'trade-period-lock' object.pk %}" class="d-inline ml-2">
                {% csrf_token %}
                <button type="submit" class="btn {% if object.locked %}btn-success{% else %}btn-warning{% endif %} btn-sm">
                    <i class="fa {% if object.locked %}fa-unlock{% else %}fa-lock{% endif %}"></i>
                    {% if object.locked %}Unlock Period{% else %}Lock Period{% endif %}
                </button>
            </form>
            {% endif %}
        </div>
        <div class="col text-right">
            <a class="btn btn-secondary" href="{% url 'trade-home' %}"><i class="fa fa-times-circle"></i> Trade Home</a>
        </div>
    </div>
</div>
{% endblock content%}