{% extends "pdf/base.html" %}
{% load custom_templates %}
<body>   
    {% block content %}
        <div class='wrapper'>
            <div class='header'>
                <p class='title'>Price List Update - {{title}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class='details'>
                    Number of Products:  {{products.count}}
                    <br/>
                    As at: {% now "jS \o\f F Y \@ H:iA" %}
                    <br>
                    
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <table class="table caption-top">
                    
                    <thead>
                    <tr>
                        <th width="40px" scope="col">ID</th>
                        <th scope="col">Product</th>
                        <th scope="col">Source</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price (NGN)</th>
    
                    </tr>
                    </thead>
                    <tbody>
                    {% for stock in products %}
                    <tr>
                        <th scope="row">{{ stock.pk|zeropadding:3 }}</th>
                        <td>{{stock}}</td>
                        <td style="text-align:center;">{{stock.source}}</td>
                        <td style="text-align:center;">{{stock.category}}</td>
                        <td style="text-align:right;">{{stock.unit_price.amount}}</td>
                        
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
<!--        footnote-->
            <p style="margin-top: 30px; color: indianred;">{{price_update_footnote}}</p>
            <br>
            <p style="color:red">CONFIDENTIAL!!! not to be shared outside the company circle</p>       
     {% endblock%}   
</body>
