<!--<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">-->
{% extends 'pdf/base.html' %}
{% load custom_tags %}

{% block content %}
<div class='wrapper'>
        <div class='header'>
            <p class='title'>List Of Customers</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class='details'>
                Total:  {{customers.count}}
                <br/>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <table class="table caption-top">
                <thead>
                <tr>
                    <th width="50px" scope="col">S/N</th>
                    <th scope="col">Business Name</th>
                    <th scope="col">Cluster</th>
                    <th scope="col">Business Owner</th>
                    <th scope="col">Mobile Number</th>
                </tr>
                </thead>
                <tbody>
                {% for customer in customers %}
                    <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{customer.business_name}}</td>
                    <td>{{customer.cluster}}</td>
                    <td>{{customer.business_owner}}</td>
                    <td>{{customer.mobile|addsep}}</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
<!--        footnote-->
    <div class="row">
        <br>
    <div class="col">
        <small>
            note: WAT -> West African Time (GMT+1)
        </small>
    </div>
</div>
{% endblock %}