<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SCUsH-Policies</title>
</head>
<body>
<h1>SALES PROCEDURE</h1>
<h3>Get Sales Order</h3>

<ul style="list-style-type:circle;">Welcome the customer and/or the sales rep.
Analyze order to determine whether it can
    <li>Go through completely</li>
    <li>Go through partially</li>
    <li>Not go through at all</li>
</ul>
If c then REJECT ORDER
If a/b then
Confirm if customer is
Repeat customer then go to No. 7
New customer
If customer is b then create account at HQ and continue
Raise order to determine amount due
Confirm payment or approve supply
Supply customer
Wholly
Partly
If a close sales and if b take note of iou.

SELLING WITH CONDITIONS
There are times when a highly sort after stock is available in limited quantity and the inevitable method of distribution is to allocate or limit the stock.
The distribution method will be decided by management and communicated by the SS to cashiers and stock keeper. He is also to ensure the guidelines are followed STRICTLY.

PAYMENT
When a customer places order and the amount due is ascertained. Payment is to be made either in cash to the cashier or otherwise. When cash is paid in full the cashier makes the approval to supply and when cash is made in part or not made at all then the SS MUST make the approval in accordance to our guideline.

CREDIT SALES
It is imperative that you know we shy away from credit sales and discourages it as much as possible. However, a business of this nature cannot compete well without credit sales. At the management level, strict guidelines are set to administer credit sales. It is very important that you do not make credit sales without understanding or undermining the credit sales policy. Sales made on credit must in place of payment, carry with it the responsibility of the one who approved it. Credit sales customers are well known and properly documented and allowed to buy on credit within the SET LIMIT.
CREDIT SALES PROCEDURE
Refer the customer or rep to the SS.
The SS first determine the credit limit of the customer.
If limit is Zero or do not exist, credit sales cannot take place.
If limit exist then abide by the limit and proceed with sales.
SS must get the adequate approval for supply to take place.

PROMOTIONAL SALES
Promotional sales are in two broad categories:
In house promotions
This promotion originates from the management and for a defined purpose which should be communicated to all. The objective for this promotion should be driven by all to quickly achieve our aim. It will be regarded as insubordination if any staff does to the contrary.

Company promotions: This promotion is delicate and administered by us on behalf of the company. In most cases, we conduct this promotion with our stock and renders reconciliation report to the issuing company for payment. We could lose the reimbursement if reconciliation is not made properly or not made at all. All promotions require proper promo report and it is compulsory for cashiers and stock keepers to facilitate the promo report.
No matter the category of the promotion, each promotion has its unique mechanics and it is important to seek to understand it.

PROMOTIONAL SALES PROCEDURE
Identify the promotion
Inhouse : No report required
Company : Report is required
Understand the promotion
Know your Scope
Work within your Allocation
Seek the Mechanics
Make calls discretionary

DISCOUNT SALES
Sales sometimes can only take place if discount is allowed. Therefore, we empower the SS to approve discount to customers. The cashier do not have the right to give discount other than to operate within the price regime handed over to her for the product and within the conditions. However, the use of discretion is allowed to deserving and honest cashiers.

SALES RETURN
This is anti sales, enemy of growth. It is not meant to exist. When a customer buys from us and on a later date decides to return the goods bought wholly or partially, we term it sales return and we frown at it. This can only occur if the GSM permits it and for a good reason.
SALES RETURN PROCEDURE
A customer return goods bought previously
Contact the GSM
GSM engages the customer to agree

THE CASHIER
At Ozone, cashiers are key influence to our business. They are usually the first point of call and reflect the company. We believe our cashier should be well cultured, full of smiles and engage in excellent relationship with the customer. She will at no time be involved in exchange of words with our customer. Instead, she will tolerate and speak kindly to the customer irrespective of the circumstance. Failure to do this will amount to insubordination.

THE STOCK KEEPER
He works side by side with the cashier and could have serious influence on customer decision. He is saddled with the responsibility to supply the customer accordingly and appropriately. He must with his service give the customer another reason to come again. A cheerful stock keeper rendering swift service to the customer could keep the customer attached to his outlet.

FRONT DESK ETHICS
Front desk is the table of contact between our staff and the customer usually the cashier and stock keeper.
There should be no action either by the cashier or the stock keeper which will amount in any way taking undue advantage of the customer resulting in the customer getting less even if the customer is ignorant or unsuspecting. Such gross abuse of office cannot be tolerated.
We encourage the outlet cashier and stock keeper to render unreserved and excellent service to the customer in spite of all odds.
Should the customer be provoked by us in any way, we should be calm and render apology to her no matter who you think is at fault. CUSTOMER IS KING.

STAFF CONDUCT AT THE FRONT DESK
It is compulsory that maximum attention should be given to the customer rather than a staff distracting another staff while ignoring the customer. Rather, the two staff should pay attention to the customer and be willing to render services to him.

No staff should wear anything which appears to block his ears. Headphone and earpiece inclusive.
No busy hair
No face cap
No fiddling with phone especially playing games, “facebooking” and “whatsapping” and the likes. The front desk is strictly for business.
No noise and wild chat with anyone
No visitor is allowed
No occupying of customer’s seat by non customer.

THE STOCK KEEPER
The stock in the outlet is absolutely your responsibility and you are obligated to give account of it. Therefore, you are not permitted to give out stock without payment or authorized approval. You must provide your supply evidence when requested.

SHORTAGES
This is ugly and should be avoided by all means. It is important to note that two things are responsible for shortage. The custodian must not be
Careless
Dishonest
Once any of this quality is lacking, shortage will occur. There is no manner of padding that can conceal the shortage.
Be transparent and honest with your work and you will enjoy it. It is unfortunate that when shortages occur, the only amicable source of recovery is through your salary. However, when the shortage is beyond what your salary can repay, we will take adequate measures to recover it.

EXCESS
Excess do occur and one thing is certain be it stock or cash. When it occurs, though it is tempting to conceal, it is also embarrassing when revealed and can rubbish your integrity. There is no justification whatsoever to keep excess cash or stock for yourself because rightly you did not come with any from your house. Do not take what you did not provide and it shall be well with you.

LEAVING THE FRONT DESK
I will candidly advice to avoid leaving the front desk but if you must do so bear in mind it is risky to do so. No other person bears your responsibility other than yourself. Therefore be cautious when you must leave to protect what is in your custody.

VISITING THE FRONT DESK
The front desk is a sensitive place and should be handled with caution by all staff. A staff visiting the front desk must have cogent reason to do so. It will be nice when you visit to support sales rather than to distract sales. Any action by any staff which amount to distraction from sales will not be tolerated.

PURCHASE
PURCHASES PROCEDURE
The GSM agrees with MD on what to purchase
Accountant raises the cheque
Follows up with the debit and treats accordingly
The GSM notes the order placed and tracks the delivery.
If the order is distorted then we adjust accordingly.
</body>
</html>