<!--<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">-->
{% extends 'pdf/base.html' %}
{% load custom_tags %}

{% block content %}
    <div class='wrapper'>
        <div class='header'>
            <p class='title'>List Of Rejected Applicants</p>
        </div>
    </div>
    {% if applicants.count == 0 %}
    <p>No Rejected Applicant</p>
    {% else %}
    <div class="row">
        <div class="col">
            <div class='details'>
                Total:  {{applicants.count}}
                <br/>
                Print Time: {% now "jS \o\f F Y \@ H:i" %} WAT
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <table class="table caption-top">
                <thead>
                <tr>
                    <th width="50px" scope="col">S/N</th>
                    <th scope="col">Applicants</th>
                    <th scope="col">Apply Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Qualification</th>
                    <th scope="col">Course</th>
                    <th scope="col">Mobile Number</th>
                </tr>
                </thead>
                <tbody>
                {% for applicant in applicants %}
                    <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{applicant}}</td>
                    <td>{{applicant.apply_date}}</td>
                    <td>{{applicant.status|yesno:'Employed, Rejected, Pending'}}</td>
                    <td>{{applicant.qualification}}</td>
                    <td>{{applicant.course}}</td>
                    <td>{{applicant.mobile|addsep}}</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
<!--        footnote-->
    <div class="row">
        <br>
    <div class="col">
        <small>
            note: WAT -> West African Time (GMT+1)
        </small>
    </div>
</div>
    {% endif %}
{% endblock %}

