{% extends 'pdf/base.html' %}
{% load custom_tags %}

<body>
{% block content %}
<div class='wrapper'>
    <div class='header'>
        <p class='title'>Ozone: List Of Employees</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="title">
            <small style="text-align:right;"></small>
            <p>Workforce: {{employees.count}} <br>
            Male: {{num_male.count}} | <span>Female: {{num_female.count}}</span><br>
            Single: {{num_single.count}} | <span>Married: {{num_married.count}}</span><br>
            Management: {{num_management.count}} | <span>Non-Management: {{num_non_management.count}}</span>
            </p>
        </div>
    </div>
</div>

<h2 class="title" style="color:blue">Staff-Data Part 1</h2>
<table class="table caption-top">
    <thead>
    <tr>
        <th width="40px" scope="col">ID</th>
        <th scope="col">Staff</th>
        <th scope="col">DOB</th>
        <th scope="col">G</th>
        <th scope="col">MS</th>
        <th scope="col">Address</th>
        <th scope="col">Qualification</th>
        <th scope="col">Course</th>
    </tr>
    </thead>
    <tbody>
    {% for employee in employees %}
    <tr>
        <th scope="row">{{ employee.id|zeropadding:3 }}</th>
        <td width="20%">{{employee}}</td>
        <td width="10%">{{employee.staff.birth_date|date:'d-m-y'}}</td>
        {% if employee.staff.gender == 'MALE' %}
        <td width="5%">M</td>
        {% else %}
        <td width="5%">F</td>
        {% endif %}
        {% if employee.staff.marital_status == 'SINGLE' %}
        <td width="5%">S</td>
        {% else %}
        <td width="5%">M</td>
        {% endif %}
        <td width="20%">{{employee.staff.address}}</td>
        <td width="15%">{{employee.staff.qualification}}</td>
        <td width="15%">{{employee.staff.course}}</td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th width="40px" scope="col">ID</th>
        <th scope="col">Staff</th>
        <th scope="col">DOB</th>
        <th scope="col">G</th>
        <th scope="col">MS</th>
        <th scope="col">Address</th>
        <th scope="col">Qualification</th>
        <th scope="col">Course</th>
    </tr>
    </tfoot>
</table>
{% endblock %}
</body>
