{% extends "pdf/base.html" %}
{% load custom_templates %}

{% block content %}
<div class="wrapper">
    <div class="header">
        <p class="title">Payslip</p>
    </div>

    <div class="subheader">
        <p>For: {{person.staff.fullname}}<br>
        Period: {{period_month}}</p>
    </div>
</div>
<div class="details">
    <p>Dispatch Date: {% now "d-M-Y" %}</p>
    <p>Pay Date: {{ person.date_paid }}</p>
    <p>Pay Code: <span style="color: chocolate;">{{ paycode }}</span></p>
    
    <table>
        <tbody>
            <tr>
                <td>Salary: {{person.salary}}</td>
                <td>Tax Payable: {{person.tax}}</td>
            </tr>
            <tr>
                <td>Debit Amount: {{person.debit_amount}}
                <sup style="color:red">-</sup>
                </td>
                <td>Credit Amount: {{person.credit_amount}}
                <sup style="color:green">+</sup>
                </td>
            </tr>
            <tr>
                <td>Allowance: {{person.staff.allowance}}</td>
                <td style="color:green">Net Pay: {{ person.net_pay }}</td>
            </tr>
            <tr>
                <td>Deduction: {{person.deduction}}</td>
                <td>Outstanding: {{person.outstanding}}</td>
            </tr>
            <tr>
                <td>Retained Bonus: {% if gratuity >= 0 %}
                    <span style="color:green;">NGN{{ gratuity|floatformat:'2g' }}</span>
                    {%else%}
                    <span style="color:rgb(248, 6, 6);">NGN{{ gratuity|abs|floatformat:'2g' }}</span>
                    {% endif %}
                </td>
                <td>Payment Status: {{person.status|yesno:'Paid, Not Paid'}}</td>    
            </tr>
        </tbody>
    </table>
    
    <p style="color:grey">We believe in Dignity of Labour</p>
    <p style="color:red; text-align: center;">Confidential document!!!</p>

</div>

{% endblock %}