{% extends 'pdf/base.html' %}
{% load custom_tags %}
<body>
    {% block content %}
    <div class='wrapper'>
        <div class='header'>
            <p class='title'>List Of All Products</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class='details'>
                <span style="color:red">CONFIDENTIAL!!! not to be shared outside the company circle</span>
                <br>
                Products Count:  {{stocks.count}}
                <br/>
                Print as at: {% now "jS \o\f F Y \@ H:i" %} WAT
                
            </div>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <table class="table caption-top">
                <thead>
                <tr>
                    <th width="50px" scope="col">CODE</th>
                    <th width="180px" scope="col">Description</th>
                    <th width="80px" scope="col">Source</th>
                    <th width="80px" scope="col">Category</th>
                    <th scope="col">Cost Price (NGN)</th>
                    <th scope="col">Selling Price (NGN)</th>
                    <th scope="col">Margin</th>
                </tr>
                </thead>
                <tbody>
                {% for stock in stocks %}
                    <tr>
                    <th scope="row">{{ stock.pk|zeropadding:4 }}</th>
                    <td>{{stock}}</td>
                    <td>{{stock.source}}</td>
                    <td>{{stock.category}}</td>
                    <td style="text-align:right;">{{stock.cost_price.amount}}</td>
                    <td style="text-align:right;">{{stock.unit_price.amount}}</td>
                    <td style="text-align:right">{{stock.unit_price.amount|minus:stock.cost_price.amount}}</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
<!--        footnote-->
    <div class="row">
        <br>
    <div class="col">
        <small>
            note: WAT -> West African Time (GMT+1)
        </small>
    </div>
</div>
{% endblock %}
</body>
