{% extends "pdf/base.html" %}
{% load custom_tags %}

{% block content %}
<div class="wrapper">
    <div class="header">
        <p class="title">Payslip</p>
    </div>

    <div class="subheader">
        <table>
            <tbody>
                <tr>
                    <td>Staff: {{person.staff.fullname}}</td>
                    <td>Pay Period: {{period_month}}</td>
                </tr>
            </tbody>
        </table>
        <hr class="hrItem">
    </div>
</div>
<div class="details">
    
    <table>
        <tbody>
            <tr>
                <td>Pay Code: <span style="color: chocolate;">{{ paycode }}</span></td>
                <td>Pay Day: {{ person.date_paid }}</td>
            </tr>
            <tr>
                <td>Total Payout: NGN{{total_pay|floatformat:'2g'}}</td>
                <td>Number of Payments: {{ pay_count }}</td>
            </tr>
            <tr>
                <td>Receiving Bank: <span>{{person.staff.banker}}</span></td>
                <td>Account Number: <span>{{person.staff.account_number}}</span></td>
            </tr>
        </tbody>
    </table>
    <hr>
    <table>
        <tbody>
            <tr>
                <td>Salary: {{person.salary}}</td>
                <td>Tax Payable: {{person.tax}}</td>
            </tr>
            <tr>
                <td>Debit Amount: {{person.debit_amount}}
                <sup style="color:red">-</sup>
                </td>
                <td>Credit Amount: {{person.credit_amount}}
                <sup style="color:green">+</sup>
                </td>
            </tr>
            <tr>
                <td>Allowance: {{person.staff.allowance}}</td>
                <td style="color:green">Net Pay: {{ person.net_pay }}</td>
            </tr>
            <tr>
                <td>Deduction: {{person.deduction}}</td>
                <td>Outstanding: {{person.outstanding}}</td>
            </tr>
            <tr>
                <td>Retained Bonus: {% if gratuity >= 0 %}
                    <span style="color:green;">NGN{{ gratuity|floatformat:'2g' }}</span>
                    {%else%}
                    <span style="color:rgb(248, 6, 6);">NGN{{ gratuity|abs|floatformat:'2g' }}</span>
                    {% endif %}
                </td>
                <td>Payment Status: {{person.status|yesno:'Paid, Not Paid'}}</td>    
            </tr>
        </tbody>
    </table>
    <p style="color:grey">Document date(yyyy-mm-dd): {% now 'Y-m-d' %}</p>
    <p style="color:red; text-align: center;">Confidential document!!!</p>
</div>

{% endblock %}