    body {
    background-color:#7d7d85;
      }

    #login {
        background-color:#bbccdf;
            }

    #sidebar {
        display: none;
        color: red
            }

    #navmain {
        display: none;
            }