{% extends 'users/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            {% for product in products %}
            <img src="{{ product.image.url }}"
                 width="70px"
                 alt="">
            <p id="demo">{{ product }} sold @ {{product.unit_price}}</p>
            {% endfor %}
        </div>
    </div>
</div>

<!--<script>-->
<!--    class Product {-->
<!--        constructor(name, price) {-->
<!--            this.productName = name;-->
<!--            this.price = price;-->
<!--        }-->
<!--    };-->
<!--    let prod1 = new Product('{{products.first}}', '{{products.first.unit_price}}')-->
<!--    document.getElementById('demo').innerHTML = 2*prod1.price + ' ' +prod1.productName-->
<!--</script>-->
{% endblock %}