{% extends 'users/base.html' %}
{% load custom_tags %}

{% block content %}
<div class="row m-2">
    <div class="col-sm-12">
            <table data-search="true"
                   data-pagination="true"
                   data-page-list="[10,20,30, All]"
                   data-toggle="table"
                   class="table caption-top table-bordered table-sm">
                <caption>
                    <div class="row">
                        <div class="col">
                            Product List for {{view.kwargs.source}}
                        </div>
                        <div class="col text-right">
                            <!-- Pdf format -->
                            <a href="{% url 'pdf-stock-list' %}"
                                class="btn btn-dark btn-sm text-right">
                                <i class="fa fa-file-pdf-o text-white"></i>
                            </a>
                            <a href="{% url 'product-create' %}"
                                class="btn btn-dark btn-sm text-right">
                                <i class="fa fa-plus text-success"></i>
                                Product
                            </a>
                        </div>
                    </div>
                </caption>
                <thead class="bg-danger text-white">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Image</th>
                    <th scope="col">Product Description</th>
                    <th scope="col">Velocity</th>
                    {% if view.kwargs.source == 'All' %}
                    <th scope="col">Source</th>
                    {% endif %}

                    <th scope="col">Category</th>
                    <th scope="col">Cost Price</th>
                    <th scope="col">Sales Price</th>
                    <th scope="col">Margin</th>
                </tr>
                </thead>
                <tbody>
                {% for product in object_list %}
                <tr>
                    <th scope="row">{{ product.id|zeropadding:3 }}</th>
                    <th class="text-center" scope="col">
                        <img src="{{ product.image.url }}"
                             class="rounded-circle mr-3"
                             width="64px"
                             height="64px"
                             alt="">
                    </th>
                    {% if product.active %}
                    <td><a href="{% url 'product-detail' product.pk %}">{{product}}</a> <sup><i class="fa fa-check-square-o text-success"></i> </sup></td>
                    {% else %}
                    <td><a href="{% url 'product-detail' product.pk %}">{{product}}</a> <sup><i class="fa fa-times-circle-o text-danger"></i></sup></td>
                    {% endif %}
                    {% if product.velocity == -1 %}
                    <td class="text-center">ND</td>
                    {% elif product.velocity == 0 %}
                    <td class="text-center">NS</td>
                    {% elif product.velocity == 1 %}
                    <td class="text-center">VL</td>
                    {% elif product.velocity == 2 %}
                    <td class="text-center">L</td>
                    {% elif product.velocity == 3 %}
                    <td class="text-center">M</td>
                    {% elif product.velocity == 4 %}
                    <td class="text-center">H</td>
                    {% elif product.velocity == 5 %}
                    <td class="text-center">VH</td>
                    {% endif %}
                    {% if view.kwargs.source == 'All' %}
                    <td class="text-center">{{product.source}}</td>
                    {% endif %}
                    <td class="text-center">{{product.category}}</td>
                    <td class="text-right">{{product.cost_price}}</td>
                    <td class="text-right">{{product.unit_price}}</td>
                    <th class="text-right">{{product.margin}}</th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <p class="text-danger">ND-Not Determined, VL-Very Low, L-Low, M-Moderate, H-High, VH-Very High</p>
            <div class="row">
                <div class="col">
                    <a class="btn btn-outline-dark float-right" href="{% url 'product-home' %}"><i class="fa fa-reply"></i></a>
                </div>
            </div>
        </div>
</div>

{% endblock content %}