{% extends 'users/base.html' %}
{% load static %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-2 bg-dark">
          <button
              class="navbar-toggler bg-light mt-1 mb-1 float-right myBtn"
              type="button"
              data-toggle="collapse"
              data-target="#Dropdown2"
              aria-controls="Dropdown2"
              aria-expanded="true"
              aria-label="toggle navigation">
              <i class="fa fa-navicon fa-1x text-primary"></i>
          </button>
          <div class="collapse collapse-sm" id="Dropdown2">
              <ul class="nav flex-column mt-3">
                  <li class="text-white"><i class="fa fa-minus text-warning"></i> Quick Update</li>
                    {% if not object.active %}
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#productStatus">
                          <i class="fa fa-check-square-o text-warning"></i> Activate</a> </li>
                    {% else %}
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#productStatus">
                          <i class="fa fa-times text-warning"></i> Disable</a>
                      </li>
                    {% endif %}
                    <li class="nav-item ml-3">
                      <a href="{% url 'stock-report-new' theDate object.pk %}">
                        <i class="fa fa-plus text-warning"></i> Sellout & Balance</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" 
                      data-toggle="modal" 
                      data-target="#priceReview">
                      <i class="fa fa-plus text-warning"></i> Selling Price
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="." 
                    class="nav-link" 
                    data-toggle="modal" 
                    data-target="#productVelocity">
                    <i class="fa fa-plus text-warning"></i> Velocity
                  </a>
                </li> 
                  <hr class="dropdown-divider">
                  <li class="text-white"><i class="fa fa-minus text-warning"></i> Complete Update</li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'product-update' object.pk %}">
                      <i class="fa fa-plus text-warning"></i> Update</a>
                  </li>
                  {% if user.is_superuser %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'product-delete' object.pk %}">
                      <i class="fa fa-times text-warning"></i> Delete</a>
                  </li>
                  {% endif %}

                  <hr class="dropdown-divider">
                  <li class="text-white"><i class="fa fa-minus text-warning"></i> Closing Stock</li>
                    
                    {% if is_qs %}
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="modal" data-target="#addStockExist">
                        <i class="fa fa-plus text-warning"></i> Add
                      </a>
                    </li> 
                    {% else %}
                    <li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#addStock">
                      <i class="fa fa-plus text-warning"></i> Add</a>
                    </li>
                    
                    {% endif %}
                    <li class="nav-item">
                      <a class="nav-link" href="." data-toggle="modal" data-target="#editStock">
                        <i class="fa fa-edit text-warning"></i> Edit</a>
                    </li>
                    <!-- <li><a href="{% url 'product-ext-update' object.pk %}">Edit</a></li> -->
                    <li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#costPriceReview">
                      <i class="fa fa-list text-warning"></i> Update Cost Price</a></li>
                  <hr class="dropdown-divider">
                  <li class="nav-item"><a class="nav-link" href="{% url 'stock-report-source' 'All' %}">
                    <i class="fa fa-reply text-warning"></i> Return
                  </a>
                </li>
              </ul>  
          </div>
        </nav>
        
        <div class="col-sm-10">
          <h2 class="text-secondary text-center mt-3">{{object}}</h2>
            <div class="media">
              <img src="{{object.image.url}}"
                   width="150px"
                   height="150px"
                   class="rounded mr-3 float-right"
                   alt="...">
              <div class="media-body">
                <h3 class="text-info">Product Code: {{object.id|zeropadding:4}}</h3>
                {% if object.active %}
                <h5 class="text-success">Active</h5>
                {% else %}
                <h5 class="text-danger">Disabled</h5>
                {% endif %}
              </div>
            </div>
            <div class="row p-2">
                  <button type="button"
                    class="list-group-item list-group-item-action bg-light"
                    aria-current="true">
                    <b class="text-center">{{object.name}} {{object.unit_type}} {{object.parameter}}</b>
                  </button>
                <div class="col-sm-6">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Name: <span class="float-right">{{object.name}}</span> </li>
                      <li class="list-group-item">Date & Time Last Modified: <span class="float-right"> {{object.date_modified}} </span></li>
                      <li class="list-group-item">Source: <span class="float-right">{{object.source}}</span> </li>
                      <li class="list-group-item">Category: <span class="float-right">{{object.category}}</span></li>
                      <li class="list-group-item">Unit Selling Price: <span class="float-right">{{object.unit_price}}</span> </li>
                      <li class="list-group-item">Cost Price: <span class="float-right">{{object.cost_price}}</span></li>
                      <li class="list-group-item">Pack Type: <span class="float-right">{{object.pack_type}}</span> </li>
                      <li class="list-group-item">Quantity Per Pack: <span class="float-right">{{object.quantity_per_pack}}</span></li>
                      <li class="list-group-item">Unit Type: <span class="float-right">{{object.unit_type}}</span> </li>
                    </ul>
                </div>
                <div class="col-sm-6"> 
                      <ul class="list-group list-group-flush">     
                        <li class="list-group-item">Product Velocity: 
                          {% if object.velocity == -1 %}
                          <span class="float-right">Not Assigned</span> 
                          {% elif object.velocity == 0 %}
                          <span class="float-right">No Sellout</span> 
                          {% elif object.velocity == 1 %}
                          <span class="float-right">Very Low</span> 
                          {% elif object.velocity == 2 %}
                          <span class="float-right">Low</span> 
                          {% elif object.velocity == 3 %}
                          <span class="float-right">Moderate</span> 
                          {% elif object.velocity == 4 %}
                          <span class="float-right">High</span> 
                          {% elif object.velocity == 0 %}
                          <span class="float-right">Very High</span>
                          {% endif %}
                        </li>
                        <li class="list-group-item">Size Value: <span class="float-right">{{object.size_value}}{{object.size_value_unit}}</span></li>
                        <li class="list-group-item">Alcoholic Content: <span class="float-right">{{object.alcohol_content}}</span></li>
                        <li class="list-group-item">VAT (in %): <span class="float-right">{{object.vat}}</span></li>
                        <li class="list-group-item">Parameter: <span class="float-right">{{object.parameter }}</span></li>
                        <li class="list-group-item">Active: <span class="float-right">{{object.active|yesno:'Yes, No'}}</span> </li>
                        <li class="list-group-item">Discount: <span class="float-right">{{object.discount}}</span></li>
                        <li class="list-group-item">Discount Type: <span class="float-right">{{object.discount_type}}</span> </li>
                        <li class="list-group-item">Product Description: <span class="float-right">{{object}}</span> </li>
                    </ul>
                </div>
            </div>
            <div class="row p-2">
              <button type="button"
                class="list-group-item list-group-item-action bg-light"
                aria-current="true">
                <b class="text-center">Derivatives</b>
              </button>
            <div class="col-sm-6">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Name: <span class="float-right">{{object.name}}</span> </li>
                </ul>
            </div>
            <div class="col-sm-6"> 
                  <ul class="list-group list-group-flush">     
                    <li class="list-group-item">Product State: <span class="float-right">{{object.product_state }}</span> </li>
                    
                </ul>
            </div>
        </div>
        </div>
        
    </div>
</div>

<!-- Selling Price Update Modal -->
<div class="modal fade" 
id="priceReview" 
data-backdrop="static"
role="dialog" 
tabindex="-1">
    <form action="{% url 'price-update' object.pk %}" method="post">
      {% csrf_token %}
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{object}}</h5>
          <button type="button" 
          class="close" 
          data-dismiss="modal" 
          aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <fieldset>
              <div class="row">
                <div class="col">
                    <p>Selling Price:  <span class="text-primary">{{object.unit_price}}</span></p>
                </div>
                
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <input id="inputSelling" placeholder="Enter New Selling Price" 
                    type="number"
                    min="0.1"
                    max="200000"
                    step=".01"
                    onchange="sellingFunc()" 
                    class="form-control" 
                    name="selling" value="" required>
                  </div>
                  
                </div>
                
              </div>
          </fieldset>
        </div>
        <div class="modal-footer">

          <button id="btnSellingPrice" type="submit" class="btn btn-primary">Update</button>  
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
    </form>
</div>


<!-- Add Stock Modal -->
<div class="modal fade" tabindex="-1" 
    data-backdrop="static" id="addStockExist">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Stock Quantity for {{object}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="text-muted">Record already exist. However, you can edit it.</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" 
id="addStock" 
data-backdrop="static"
role="dialog" 
tabindex="-1">
    <form action="." method="post">
      {% csrf_token %}
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Stock Quantity for {{object}}</h5>
          <button type="button" 
          class="close" 
          data-dismiss="modal" 
          aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">                  
          <fieldset>
            <div class="row">
              <div class="col ml-2">
                <div class="row">
                  <div class="col"><p>Cost Price: {{object.cost_price}}</p></div>
                  <div class="col"><p>Selling Price: {{object.unit_price}}</p></div>
                </div>
                <p>Date: {{theDate|date:'d-M-Y'}}</p>
              </div>
            </div>
              
              <div class="form-group">
                
                <input 
                id="inputStock" 
                type="number" 
                max="100000"
                min="-100000"
                step="1"
                placeholder="Enter Closing Stock Quantity Here"
                class="form-control" 
                name="quantity" value="" required>
                <span class="help-block text-danger ml-3">Quantity between -100,000 and 100,000</span>
              </div>
          </fieldset>
        </div>
        <div class="modal-footer">
            <button id="btnStock" type="submit" class="btn btn-primary">Submit</button>  
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
    </form>
</div>

<!-- Edit Stock Modal -->
<div class="modal fade" 
id="editStock" 
data-backdrop="static"
role="dialog" 
tabindex="-1">
    <form action="." method="post">
      {% csrf_token %}
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Stock for {{object}}</h5>
          <button type="button" 
          class="close" 
          data-dismiss="modal" 
          aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <fieldset>
            <div class="row">
              <div class="col ml-2">
                <div class="row">
                  <div class="col"><p>Cost Price: {{object.cost_price}}</p></div>
                  <div class="col"><p>Selling Price: {{object.unit_price}}</p></div>
                </div>
                <p>Date: {{theDate|date:'d-M-Y'}}</p>
              </div>
            </div>
              <div class="form-group">
                
                <input id="inputEditStock" min="1" type="number"
                placeholder="Edit Stock Quantity here"
                class="form-control" 
                name="edit_quantity" value="" required>
                <span class="help-block text-danger ml-3">Quantity between -100,000 and 100,000</span>
              </div>
          </fieldset>
        </div>
        <div class="modal-footer">
            <button id="btnEditStock" type="submit" class="btn btn-primary">Submit</button>  
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
    </form>
</div>

<!-- Cost Price Update Modal -->
<div class="modal fade" 
id="costPriceReview" 
data-backdrop="static"
role="dialog" 
tabindex="-1">
  
    <form action="{% url 'price-update' object.pk %}" method="post">{% csrf_token %}
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{object}}</h5>
          <button type="button" 
          class="close" 
          data-dismiss="modal" 
          aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <fieldset>
              <div class="row">
                <div class="col">
                    <p>Cost Price:  <span class="text-primary">{{object.cost_price}}</span></p>
                </div>
                
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <input id="inputCost" placeholder="Enter New Cost Price" 
                    type="number"
                    min="0.1"
                    max="200000"
                    step=".01"
                    class="form-control" 
                    name="cost" value="" required>
                    <span class="help-block text-muted ml-3">Maximum price allowed is NGN200,000.00</span>
                    
                  </div>
                  
                </div>
                
              </div>
          </fieldset>
        </div>
        <div class="modal-footer">

          <button id="btnCostPrice" type="submit" class="btn btn-primary">Update</button>  
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
    </form>
</div>


<!--Product status Modal -->
<div class="modal fade" 
id="productStatus" 
data-backdrop="static"
role="dialog" 
tabindex="-1">
    <form action="{% url 'product-status' object.pk %}" method="post">
      {% csrf_token %}
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{object}}</h5>
          <button type="button" 
          class="close" 
          data-dismiss="modal" 
          aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <fieldset>
              <div class="row">
                <div class="col">
                  {% if object.active %}
                    <p><i class="fa fa-times-circle-o text-danger"></i> 
                      Are you sure you want to Disable {{object}}?
                    </p>
                  {% else %}
                    <p><i class="fa fa-times-circle-o text-danger"></i> 
                      Are you sure you want to Activate {{object}}?
                    </p>
                  {% endif %}  
                </div>
                
              </div>
              
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Yes</button>  
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
    </form>
</div>

<!--Product Volocity Modal -->
<div class="modal fade" 
id="productVelocity" 
data-backdrop="static"
role="dialog" 
tabindex="-1">
  
    <form action="." method="post">{% csrf_token %}
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{object}}</h5>
          <button type="button" 
          class="close" 
          data-dismiss="modal" 
          aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <fieldset>
              <div class="row">
                <div class="col">
                    <p>Velocity is currently at:
                      <span class="text-primary">{{velocity_value}}</span>
                    </p>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="inputVelocity">New Velocity</label>
                      <select name="selectVelocity" id="inputVelocity" class="form-control">
                        <option selected>Choose....</option>
                        {% for key, value in velocities.items %}
                        <option value="{{key}}">{{value}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    
                  </div>
                  
                </div>
                
              </div>
          </fieldset>
        </div>
        <div class="modal-footer">

          <button id="btnCostPrice" type="submit" class="btn btn-primary">Update</button>  
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
    </form>
</div>

{% endblock content %}