{% extends 'users/base.html' %}
{% load custom_tags %}

{% block content %}
<div class="container">
    
    <div class="row mt-3">
        <div class="col">
            <h3 class="text-center">Product Analysis <br> <span class="float-right">As at {{current_date}}</span></h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <table class="table table-bordered" data-toggle="table" data-pagination="false">
                <caption class="text-info">Product Velocity - Sellout
                    <span class="float-right">{{total_stock_value}}</span>
                </caption>
                <thead class="bg-dark text-white">
                    <tr class="text-center">
                        <th>Item</th>
                        <th>ND</th>
                        <th>No</th>
                        <th>Very Low</th>
                        <th>Low</th>
                        <th>Moderate</th>
                        <th>High</th>
                        <th>Very High</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Value</td>
                        {% for item in velocity %}
                        <td class="text-right">{{item}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Percent</td>
                        {% for item in total_vel %}
                        <td class="text-right">{{item}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Qty</td>
                        {% for item in velocity_qty %}
                        {% if item > 0 %}
                        <td class="text-right"><a 
                            data-toggle="modal" 
                            data-target="#qsByVelocity{{forloop.counter0}}"
                            href="">{{item}}</a></td>
                        {% else %}
                        <td class="text-right">{{item}}</td>
                        {% endif %}
                        <section>
                            <!-- Modal -->
                            <div class="modal fade" id="qsByVelocity{{forloop.counter0}}" tabindex="-1" role="dialog" 
                                aria-labelledby="qsByVelocityTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="qsByVelocityTitle">Product List - 
                                        {% if forloop.counter0 == 0 %} Not Designated 
                                        
                                        {% elif forloop.counter0 == 1 %} Not Selling
                                        {% elif forloop.counter0 == 2 %} Very Low Sellout
                                        {% elif forloop.counter0 == 3 %} Low Sellout
                                        {% elif forloop.counter0 == 4 %} Moderate
                                        {% elif forloop.counter0 == 5 %} High Sellout
                                        {% elif forloop.counter0 == 6 %} Very High Sellout{% endif %}
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        
                                        {% if forloop.counter0 == 0 %} 
                                        <ul class="list-group">
                                            {% for product in product_and_stock|array:1 %}
                                            <li class="list-group-item">{{product|first}} 
                                                <span class="float-right">{{product|last}}</span>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        {% elif forloop.counter0 == 1 %}
                                        <ul class="list-group">
                                            {% for product in product_and_stock|array:2 %}
                                            <li class="list-group-item">{{product|first}} <span class="float-right">{{product|last}}</span></li>
                                            {% endfor %}
                                        </ul>
                                        {% elif forloop.counter0 == 2 %} 
                                        <ul class="list-group">
                                            {% for product in product_and_stock|array:3 %}
                                            <li class="list-group-item">{{product|first}} <span class="float-right">{{product|last}}</span></li>
                                            {% endfor %}
                                        </ul>
                                        {% elif forloop.counter0 == 3 %}
                                        <ul class="list-group">
                                            {% for product in product_and_stock|array:4 %}
                                            <li class="list-group-item">{{product|first}} <span class="float-right">{{product|last}}</span></li>
                                            {% endfor %}
                                        </ul>
                                        {% elif forloop.counter0 == 4 %} 
                                        <ul class="list-group">
                                            {% for product in product_and_stock|array:5 %}
                                            <li class="list-group-item">{{product|first}} <span class="float-right">{{product|last}}</span></li>
                                            {% endfor %}
                                        </ul>
                                        {% elif forloop.counter0 == 5 %} 
                                        <ul class="list-group">
                                            {% for product in product_and_stock|array:6 %}
                                            <li class="list-group-item">{{product|first}} <span class="float-right">{{product|last}}</span></li>
                                            {% endfor %}
                                        </ul>
                                        {% elif forloop.counter0 == 6 %} 
                                        <ul class="list-group">
                                            {% for product in product_and_stock|array:7 %}
                                            <li class="list-group-item">{{product|first}} <span class="float-right">{{product|last}}</span></li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                        
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </section>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
            <small class="text-danger">ND - Not Designated</small>
        </div>
    </div>
    {% if all_products_qs %}
    <div class="row mt-3">
        <div class="col">
            <table class="table table-bordered" data-toggle="table" data-pagination="true">
                <caption class="text-info">Run Rate - <small class="text-muted">3 weeks</small></caption>
                <thead class="bg-dark text-white">
                    <tr class="text-center">
                        <th>Product</th>
                        <th>Run Rate</th>
                        <th>Balance</th>
                        <th>Status</th>
                        <th>Replenish</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in all_products_qs %}
                    <tr>
                        <td>{{item.name}}</td>
                        <td class="text-right">{{item.run_rate}}</td>
                        <td class="text-right">{{item.closing_stock}}</td>
                        {% if item.closing_stock > item.run_rate %}
                        <td class="text-center bg-light" colspan="2"><i class="fa fa-check text-success"></i></td>
                        
                        {% else %}
                        <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                        <td class="text-right">{{item.run_rate|minus:item.closing_stock}}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if sort_qs_by_sellout %}
    <div class="row">
        <div class="col">
            <table class="table table-bordered" data-toggle="table" data-pagination="true">
                <caption class="text-info">Top Ten Sellout Stocks - <small class="text-muted">Last 3 days</small></caption>
                <thead class="bg-dark text-white">
                    <tr class="text-center">
                        <th>Product</th>
                        <th>Sellout</th>
                        <th>Balance</th>
                        <th>Profit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in sort_qs_by_sellout %}
                    <tr>
                        <td>{{item.name}}</td>
                        <td class="text-right">{{item.sellout}}</td>
                        <td class="text-right">{{item.closing_stock}}</td>
                        <td class="text-right">{{item.profit|floatformat:2}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if no_sellout %}
    <div class="row">
        <div class="col">
            <table class="table table-bordered" data-toggle="table" data-pagination="true">
                <caption class="text-info">Products not sold  
                    <small class="text-muted">in the last 7 days or more</small></caption>
                <thead class="bg-dark text-white">
                    <tr class="text-center">
                        <th>Product</th>
                        <th>Current Stock</th>
                        <th>Sold last on</th>
                        <th>Qty Last Sold</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in no_sellout %}
                    <tr>
                        <td>{{item.product}}</td>
                        <td class="text-right">{{item.closing_stock}}</td>
                        <td class="text-center">{{item.date}}</td>
                        <td class="text-right">{{item.sold}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    <div class="row mt-3">    
        <div class="col">
            <a class="float-right" href="{% url 'product-home' %}"><i class="fa fa-reply fa-2x"></i></a>
        </div>
    </div>
</div>


{% endblock %}