{% extends 'users/base.html' %}
{% load custom_templates %}

{% block content %}
<div class="row m-2">
    <div class="col-sm-12">
            <table data-search="true"
                   data-pagination="true"
                   data-toggle="table"
                   class="table caption-top table-bordered table-sm">
                <caption>
                    <div class="row">
                        <div class="col">
                            Product List
                        </div>
                        <div class="col text-right">
                <a href="{% url 'product-create' %}"
                   class="btn btn-dark btn-sm text-right">
                    <i class="fa fa-plus text-success"></i>
                    Add New Product
                </a>
                    <a href="#"
                       class="btn btn-dark btn-sm text-right">
                        <i class="fa fa-plus text-success"></i>
                    </a>
                    <a href="#"
                       class="btn btn-dark btn-sm text-right">
                        <i class="fa fa-plus text-success"></i>
                    </a>
                    <a href="#"
                       class="btn btn-dark btn-sm text-right">
                        <i class="fa fa-plus text-success"></i>
                    </a>
<!--                </div>-->
            </div>
                    </div>
                </caption>
                <thead class="bg-danger text-white">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Image</th>
                    <th scope="col">Product Description</th>
                    <th scope="col">Source</th>
                    <th scope="col">Category</th>
                    <th scope="col">Cost Price</th>
                    <th scope="col">Sales Price</th>
                </tr>
                </thead>
                <tbody>
                {% for product in object_list %}
                <tr>
                    <th scope="row">{{ product.id|zeropadding:3 }}</th>
                    <th scope="col">
                        <img src="{{ product.image.url }}"
                             class="rounded-circle mr-3"
                             width="64px"
                             height="64px"
                             alt="">
                    </th>
                    <td><a href="{% url 'product-detail' product.pk %}">{{product}}</a></td>
                    <td>{{product.source}}</td>
                    <td>{{product.category}}</td>
                    <td>{{product.cost_price}}</td>
                    <td>{{product.unit_price}}</td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
</div>
<div class="row m-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-success">A</li>
            <li class="list-group-item text-danger">B</li>
            <li class="list-group-item text-success">C</li>
            <li class="list-group-item text-danger">D</li>
            <li class="list-group-item text-warning">E</li>
        </ul>
    </div>

<!-- Button trigger modal -->

{% endblock content %}