{% extends 'users/base.html' %}

{% block content %}
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col text-center">
                <h3>Stock Management Home Page</h3>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3 bg-light">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{% url 'product-performance-list' %}">Product Performance</a>
                    </li>
                    <li class="list-group-item">
                        <!-- Button trigger modal -->
                        <a href="{% url 'stock-report' %}">Stock Report</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'stock-report-source' 'All' %}">All Products</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'product-create' %}">Add Product</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'delivery-home' %}">Deliveries</a>
                    </li>
                
                    <li class="list-group nav-item dropdown">
                        <a class="nav-link dropdown-toggle" 
                        href="#" 
                        data-toggle="dropdown"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false"
                        >PDF View</a>
                        
                        <ul class="dropdown-menu">
                            {% for source in sources %}
                            <li class="dropdown-item"><a href="{% url 'pdf-prices' source %}">{{source}}</a></li>
                            {% endfor %}
                            <li class="dropdown-item"><a href="{% url 'pdf-prices' 'All' %}">All</a></li>
                        </ul>
                    </li>   
                    <hr class="dropdown-divider">    
                    <li class="list-group-item">
                        <a href="" 
                        data-toggle="modal" 
                        data-target="#footNotePriceUpdate">Price Update Footnote</a>
                    </li>
                    
                    <li class="list-group-item">
                        <a href="{% url 'pdf-price-change' %}">Today's Price Update (PDF)</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'home' %}"><i class="fa fa-reply"></i> Home</a>
                    </li>
                </ul>
            </div>
            <div class="col-9">
                <div class="row">
<!--                    Product Count-->
                    <div class="col-6">
                        <h4 style="font-family: cursive" class="text-danger">Counts</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-info">
                                <i>Products: {{total_count}}</i>
                            </li>
                            <li class="list-group-item">
                                <i>NB Products: {{nb_count}}</i>
                            </li>
                            <li class="list-group-item list-group-item-info">
                                <i>GN Products: Beer & APNAD: {{gn_count}} -- MSS: {{mss_count}} -- IPS: {{ips_count}}</i>
                            </li>
                            <li class="list-group-item">
                                <i>IB Products: {{ib_count}}</i>
                            </li>
                        </ul>
                    </div>
<!--                    Quantity Delivered-->
                    <div class="col-6">
                        <h4 style="font-family: cursive" class="text-danger">Quantity</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-info">
                                <i>Delivered: {{quantity_delivered}}</i>
                            </li>
                            <li class="list-group-item">
                                <i>Sold: not ready</i>
                            </li>
                            <li class="list-group-item list-group-item-info">
                                <i>Rejected: {{quantity_rejected}}</i>
                            </li>
                            <li class="list-group-item">
                                <i>{{percent_rejected}} of all deliveries were rejected.</i>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <h4 style="font-family: cursive" class="text-danger">Values</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-info">
                                <i>Delivered: {{total_amount}}</i>
                            </li>
                            <li class="list-group-item">
                                <i>Sold: not ready</i>
                            </li>
                            <li class="list-group-item list-group-item-info">
                                <i>Rejected: {{total_amount_credit}}</i>
                            </li>
                            </ul>
                    </div>
                    <div class="col-6">
                        <h4 style="font-family: cursive"
                            class="text-danger">Sources</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-info">
                                <i>GN: {{gn_delivered}} ({{gn_amount}})</i>
                            </li>
                            <li class="list-group-item">
                                <i>NB: {{nb_delivered}} ({{nb_amount}})</i>
                            </li>
                            <li class="list-group-item list-group-item-info">
                                <i>IB: {{ib_delivered}} ({{ib_amount}})</i>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row">
<!--                    Category right side-->
                    <div class="col-6">
                        <h4 style="font-family: cursive" class="text-danger">Category</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-info">
                                <i>Malt: {{total_malt_delivered}}</i>
                            </li>
                            <li class="list-group-item">
                                <i>Lager: {{total_lager_delivered}}</i>
                            </li>
                            <li class="list-group-item list-group-item-info">
                                <i>RTD: {{total_rtd_delivered}}</i>
                            </li>
                            <li class="list-group-item">
                                <i>Soft: {{total_soft_delivered}}</i>
                            </li>
                        </ul>
                    </div>
<!--                    Category left side-->
                    <div class="col-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i>Stout: {{total_stout_delivered}}</i></li>
                            <li class="list-group-item list-group-item-info">
                                <i>ED: {{total_ed_delivered}}</i>
                            </li>
                            <li class="list-group-item">
                                <i>Bitters: {{total_bitters_delivered}}</i>
                            </li>
                            <li class="list-group-item list-group-item-info">
                                <i>Alcoholic Wine: {{total_wine_delivered}}</i>
                            </li>
                            <li class="list-group-item">
                                <i>Non Alcoholic Wine: {{total_na_wine_delivered}}</i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

        
  <!-- Modal footnote-->
  <div class="modal fade" 
  id="footNotePriceUpdate" 
  data-backdrop="static" 
  data-keyboard="false" 
  tabindex="-1" 
  aria-labelledby="staticBackdropLabel" 
  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Price Update Footnote</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'price-update-footnote' %}">
        <div class="modal-body">
            <div class="form-group">
                <label for="footNote">Note</label>
                <textarea class="form-control"
                placeholder="enter your footnotes here to add more infomation to the price review"
                name="footnote" 
                id="footNote" 
                cols="30" 
                rows="10"></textarea>
            </div> 
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" 
          class="btn btn-secondary" 
          data-dismiss="modal">Close</button>
        </div>
    </form>
      </div>
    </div>
  </div>

  
  <!-- Add Stock  Modal -->
  <div class="modal fade" id="stockAddModal" tabindex="-1" aria-labelledby="stockAddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="stockUpdateModalLabel">Add Stock - Pick A Date</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="#" method="GET">
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-label" for="">Date</label>
                    <input id="stockAddInput" class="form-control" type="date" name="theDate" onchange="addFunc()">
                </div>   
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btnAdd" type="submit" class="btn btn-primary" disabled>Continue</button>           
            </div>
        </form>
      </div>
    </div>
  </div>

  <!-- View Stock  Modal -->
  <div class="modal fade" id="stockReportModal" tabindex="-1" aria-labelledby="stockReportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="stockReportModalLabel">Stock Report - Pick A Date</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="#" method="GET">
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-label" for="">Date</label>
                    <input id="stockReportInput" class="form-control" type="date" name="theDate" onchange="reportFunc()">
                </div>   
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btnReport" type="submit" class="btn btn-primary" disabled>Report</button>           
            </div>
        </form>
      </div>
    </div>
  </div>

  <script>
      function addFunc() {
        
        if (document.getElementById('stockAddInput').value == '') {
            document.getElementById('btnAdd').disabled = true;
        } else {
            document.getElementById('btnAdd').disabled = false;
        }  
      }

      function reportFunc() {
        
        if (document.getElementById('stockReportInput').value == '') {
            document.getElementById('btnReport').disabled = true;
        } else {
            document.getElementById('btnReport').disabled = false;
        }  
      }
  </script>
{% endblock %}