{% extends 'users/base.html' %}
{% load custom_templates %}

{% block content %}
<div class="row m-2">
    <div class="col-sm-12">
            <table data-search="true"
                   data-pagination="true"
                   data-page-list="[10,20,30, All]"
                   data-toggle="table"
                   class="table caption-top table-bordered table-sm">
                <caption>
                    <div class="row">
                        <div class="col">
                            Product List for {{view.kwargs.source}}
                        </div>
                        <div class="col text-right">
                            <!-- Pdf format -->
                            <a href="{% url 'pdf-stock-list' %}"
                                class="btn btn-dark btn-sm text-right">
                                <i class="fa fa-file-pdf-o text-white"></i>
                            </a>
                            <a href="{% url 'product-create' %}"
                                class="btn btn-dark btn-sm text-right">
                                <i class="fa fa-plus text-success"></i>
                                New Product
                            </a>
                    
                        </div>
                    </div>
                </caption>
                <thead class="bg-danger text-white">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Image</th>
                    <th scope="col">Product Description</th>
                    {% if view.kwargs.source == 'All' %}
                    <th scope="col">Source</th>
                    {% endif %}
                    <th scope="col">Category</th>
                    <th scope="col">Cost Price</th>
                    <th scope="col">Sales Price</th>
                    <th scope="col">Margin</th>
                </tr>
                </thead>
                <tbody>
                {% for product in object_list %}
                <tr>
                    <th scope="row">{{ product.id|zeropadding:3 }}</th>
                    <th class="text-center" scope="col">
                        <img src="{{ product.image.url }}"
                             class="rounded-circle mr-3"
                             width="64px"
                             height="64px"
                             alt="">
                    </th>
                    <td><a href="{% url 'product-detail' product.pk %}">{{product}}</a></td>
                    {% if view.kwargs.source == 'All' %}
                    <td>{{product.source}}</td>
                    {% endif %}
                    <td>{{product.category}}</td>
                    <td>{{product.cost_price}}</td>
                    <td>{{product.unit_price}}</td>
                    <th>{{product.margin}}</th>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>

                </tfoot>
            </table>
            <div class="row">
                <div class="col">
                    <a class="btn btn-outline-dark float-right" href="{% url 'product-home' %}"><i class="fa fa-reply"></i></a>
                </div>
            </div>
        </div>
</div>

{% endblock content %}