{% extends 'users/base.html' %}
{% load static %}

{% block head %}
    <style>
    #navmain {
        display: none;
    }
</style>
{% endblock %}


{% block content %}
<div class="container p-4">
    <div class="row">
        <img src="{% static 'customer/background/aboutus.jpg' %}"
             class="card-img-top"
             style="max-width:300px"
             alt="...">
    </div>
    <div class="row">
        <p>
            Ozone F & L is mainly a B2B trading company in Lagos. Registered in Nigeria as Ozone F & L Trading Company LTD with RC 852379.
            As a trading company, we are focused as major Trading Partner to the biggest brewing companies in Nigeria.
        </p>
        <p>
            <ul>
                <li>Nigerian Brewery Plc (subsidiary of Heineken)</li>
                <li>Guinness Nigeria Plc (subsidiary of Diageo)</li>
                <li>International Brewery Plc (subsidiary of AB-Inbev)</li>
            </ul>
        </p>
        
        <p>
            Our staff strength hovers between 30 and 40, with customer base of about 1200. 
            We are committed to developing
            wholesale businesses in Lagos and beyond. 
            We operate from four outlets located in
            <ul>
                <li>International Trade Fair</li>
                <li>Okin Arin, Lagos Island (<small class="text-muted">temporarily closed</small>)</li>
                <li>Iju, Agege</li>
                <li>Badagry</li>
            </ul>
        </p>

        <p>
            Operating in a harsh and unpredictable environment, we still seek to transform into
            a cooperate, online company with the hope of trading evenly across Nigeria and beyond. 
            With passionate and committed staff we hope to become the biggest and most relevant player in this sector. 
            See our <a href="{% url 'company' %}">Team</a>.
        </p>
    </div>
    <div class="row">
        <div class="col">
            <a href="{% url 'index' %}">
            <i class="fa fa-home fa-2x text-info"></i></a>
        </div>
        <div class="col">
            <a
                href="model-link"
                class="text-primary"
                data-toggle="modal"
                data-target="#tcModal">
            Terms & Conditions
            </a>
        </div>
        <div class="col">
            <a
                href="model-link"
                class="text-primary"
                data-toggle="modal"
                data-target="#ppdModal">
            Privacy Policy & Disclaimer
            </a>
        </div>
<!--        template form for application-->
        <div class="col">
            <a href="{% url 'apply-create' %}">Apply</a>
        </div>
    </div>
</div>
<!-- Button trigger modal -->

<!-- Modal -->
<!--Policies and Procedures-->
<div class="modal fade"
     id="ppModal"
     tabindex="-1"
     aria-labelledby="ppModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="ppModalLabel">
            Policies and Procedures
        </h5>
        <button
                type="button"
                class="btn-close"
                data-dismiss="modal"
                aria-label="Close">
            <i class="fa fa-close"></i>
        </button>
      </div>
      <div class="modal-body">
            <h5 class="text-info">
                <i class="fa fa-info-circle text-warning"></i>
                coming soon in few days
                <i class="fa fa-exclamation text-danger"></i>
            </h5>
      </div>
      <div class="modal-footer">
        <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--Terms and Conditions-->
<div class="modal fade"
     id="tcModal"
     tabindex="-1"
     aria-labelledby="tcModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="tcModalLabel">
            Terms and Conditions
        </h5>
        <button
                type="button"
                class="btn-close"
                data-dismiss="modal"
                aria-label="Close">
            <i class="fa fa-close"></i>
        </button>
      </div>
      <div class="modal-body">
            <h5 class="text-info">
                <i class="fa fa-info-circle text-warning"></i>
                coming soon in few days
                <i class="fa fa-exclamation text-danger"></i>
            </h5>
      </div>
      <div class="modal-footer">
        <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--Terms and Conditions-->
<div class="modal fade"
     id="ppdModal"
     tabindex="-1"
     aria-labelledby="ppdModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="ppdModalLabel">
            Privacy Policy and Disclaimer
        </h5>
        <button
                type="button"
                class="btn-close"
                data-dismiss="modal"
                aria-label="Close">
            <i class="fa fa-close"></i>
        </button>
      </div>
      <div class="modal-body">
            <h5 class="text-info">
                <i class="fa fa-info-circle text-warning"></i>
                coming soon in few days
                <i class="fa fa-exclamation text-danger"></i>
            </h5>
      </div>
      <div class="modal-footer">
        <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
