{% extends 'users/base.html' %}
{% load custom_tags %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        
        <div class="col-sm-3">
            {% if trade_date == product_date %}
            <ul style="list-style-type: none;">
                <li>Date <span class="float-right">{{trade_date}}</span></li>
                <hr>
                <li>Cost of Goods <span class="float-right">{{sales_value}}</span></li>
                <hr>
                <li>Sales <span class="float-right">{{sales}}</span></li>
                <hr>
                <li>Expenses <span class="float-right">{{expenses}}</span></li>
                <hr>
                {% with sales|minus:sales_value|minus:expenses as net %}
                <li>Net Profit <span class="float-right">{{net}}</span></li>
                <hr>
                <li>Net Profit <sup class="text-muted">**</sup> <span class="float-right">{{net_profit}}</span></li>
                <hr>
                <li>Difference <span class="float-right">{{net|minus:net_profit}}</span></li>
                <hr>
                <li><sup>**</sup>Net profit from Profit & Loss</li>
                {% endwith %}
                <hr>
                <li>Stock Out: {{stock_out}}</li>
            </ul>   
            {%else%}
            <h6> Record not ready </h6>   
            <p>The Trade date ({{trade_date}}) and the Stock date ({{product_date}}) must be the same</p>
            {% endif %}  
        </div>
        

    </div>
    
    <div class="row mb-3">
        <div class="col">
            <a class="float-right" href="{% url 'trade-home' %}"><i class="fa fa-reply fa-2x"></i></a>
        </div>
    </div>
</div>
{% endblock content %}