{% extends 'core/base.html' %}
{% block head %}
{% load custom_tags %}
<style>
    body {
        font-size: large;
        /* background-color: black; */
        background: #323131;
    }

    
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 20px;
        margin-bottom: 30px;
    }

    .card {
        background: #0b0b0b;
        padding: 20px;
        border-radius: 8px;
        border: 1px solid #222;
    }

    .card h3 {
        font-size: 16px;
        color: #00c8ff;

    }

    .card p {
        font-size: 28px;
        margin-top: 10px;
        color: #f6db0d;
    }
</style>
{% endblock %}

{% block content%}
<div class="container mt-3">
    <div class="row mt-2 mb-3">
      <div class="col">
        <a href="?currency=dollars">
          {% if view.request.GET.currency == 'dollars' %}
          <i class="fa fa-check-circle text-success"></i> 
          {% else %}
          <i class="fa fa-times-circle text-danger"></i> 
          {% endif %}
          Dollars
        </a>
        <a class="ml-2" href="?currency=naira">
          {% if view.request.GET.currency == 'naira' or not view.request.GET %}
          <i class="fa fa-check-circle text-success"></i> 
          {% else %}
          <i class="fa fa-times-circle text-danger"></i> 
          {% endif %}
          Naira
        </a>
      </div>
    </div>
    <div class="cards">
      {% for key, value in business_summary.items %}
      <div class="card">
          <h3>{{key}} </h3>
          {% if key == 'Rent' or key == 'Levy' %}
          <p>{{value|first|myriad}}</p>
          <small class="text-muted"> of {{value|last|myriad}}</small>
          {% else %}
          <p>{{value|myriad}}{% if key == 'Stock' %} </p>
          <small class="text-muted">({{stock_date|date:'dS N'}})</small> {% endif %}
          {% endif %}

      </div>
      {% endfor %}
    </div>
        <div class="card p-0">
            <a class="btn btn-info" href="{% url 'home' %}"><i class="fa fa-reply"></i> Return</a>
        </div>
</div>
{% endblock%}
