{% extends 'users/base.html' %}
{% load custom_tags %}

{% block head %}
<style>
    .oval {
        max-width: 12rem;
        border-radius: 50px 50px 50px 50px;
    }
    .circle {
        max-width: 7rem; 
        border-radius: 100px 100px 100px 100px;
    }
    .curved-rectangle {
        max-width: 8rem;
        border-radius: 10px 10px 10px 10px;
    }
</style>
{% endblock head %}

{% block content %}
{% if empty_record %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h3>Record(s) must be in the database(s) to be able to view dashboard</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="" href="{% url 'home' %}"><i class="fa fa-reply fa-2x"></i>Home</a>
        </div>
    </div>
</div>
{% else %}
<div class="container text-center mt-3">
    <h5 class="text-danger text-left">As at {{date_of_record}}</h5>
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 mt-3">
        {% for basic in basics %}
        <div class="col mt-2">
            <div class="card bg-{{color|array:forloop.counter0}} oval">
                <div class="card-body text-white">
                    <p class="card-title">{{basic|first}}</p>
                    <p class="card-text float-right">{{basic|last}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
    <h3 class="text-left mt-4"><i>YTD</i></h3>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 mt-3">
        {% for trade in trades %}
        <div class="col mt-2">
            <div class="card bg-secondary circle">
                <div class="card-body text-white">
                    <p class="card-title text-center">{{trade|first}}</p>
                    <p class="card-text float-right">{{trade|last|myriad}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    <h3 class="text-left mt-4"><i>Monthly KPI</i></h3>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-5 mt-3">
        
        {% for point in points %}
        <div class="col mt-2">
            <div class="card bg-dark curved-rectangle">
                <div class="card-body text-white">
                    <p class="card-title text-center">{{point|first}}</p>
                    <p class="card-text float-right">{{point|last}} <sup class="text-danger">Pts</sup> </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    <h3 class="text-left mt-4"><i></i>More info</h3>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-2 mt-3">
        {% for extra in extras %}
        <div class="col mt-2">
            <div class="card bg-secondary circle">
                <div class="card-body text-white">
                    <p class="card-title text-center">{{extra|first}}</p>
                    <p class="card-text float-right">{{extra|last|myriad}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col">
            <a class="float-right" href="{% url 'home' %}"><i class="fa fa-reply fa-2x"></i> Home</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}