{% extends 'users/base.html' %}
{% load custom_templates %}

{% block content %}
<div class="container  px-lg-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mt-3">
        <div class="col mt-2">
            {% if net_pay == None or net_profit == None %}
                <p>None value involved</p>
            {%else%}
                <div data-toggle="tooltip"
                data-placement="top" 
                title='"Workforce Productivity is the net profit made per unit of salary paid over a payment period (monthly)"'
                class="card text-white bg-primary" 
                style="max-width: 18rem; border-radius: 50px 100px 50px 100px;">
                    <div class="card-body">
                        <h5 class="card-title">Workforce Productivity</h5>
                        <p class="card-text text-right">{{net_profit|dividedby:net_pay|floatformat:'2g'}}</p>
            
                    </div>
              </div>
            {%endif%}
        </div>
        <div class="col mt-2">
            <div class="card text-white bg-warning" 
                style="max-width: 18rem; border-radius: 50px 100px 50px 100px;">
                <div class="card-body">
                    <h5 class="card-title">Gross Margin Ratio <small>(as at {{day|date:'d-m-Y'}})</small></h5>
                    <p class="card-text text-right">{{gp_ratio|floatformat:'3'}}% 
                        <small class="text-muted text-right">(Sales:{{sales.amount}})</small></p>
                </div>
            </div>
        </div>
        <div class="col mt-2">
            <div class="card text-white bg-danger" 
                style="max-width: 18rem; border-radius: 50px 100px 50px 100px;">
                    <div class="card-body">
                        <!-- <h5 class="card-title">Workforce|Products</h5> -->
                        <p class="card-title">Workforce:{{workforce}}</p>
                        <p class="cart-text text-right">Customers:{{customers}} <br> Products:{{products}}</p>
                        <!-- <p class="cart-text text-right"></p> -->
                    </div>
            </div>
        </div>
        <div class="col mt-2">
            <div class="card text-white bg-info" 
                style="max-width: 18rem; border-radius: 50px 100px 50px 100px;">
                    <div class="card-body">
                        <h5 class="card-title">Salaries and Rent</h5>
                        <p class="card-text text-right">Salary Paid: {{salaries|floatformat:'2g'}} <br> Rent Payable: {{rent|floatformat:'2g'}}</p>
                    </div>
              </div>
        
        </div>
        <div class="col mt-2">
            <div class="card text-white bg-secondary" 
                style="max-width: 18rem; border-radius: 50px 100px 50px 100px;">
                    <div class="card-body">
                        <h5 class="card-title">Gratuity</h5>
                        <p class="card-text text-right">Cummulative Value: {{gratuity_value|floatformat:'2g'}}</p>
                    </div>
              </div>
        
        </div> 
        <div class="col mt-2">
            <div class="card text-white bg-success" 
                style="max-width: 18rem; border-radius: 50px 100px 50px 100px;">
                    <div class="card-body">
                        <h5 class="card-title">Number of Children</h5>
                        <p class="card-text text-right">Total: {{number_of_kids}}</p>
                    </div>
              </div>
        
        </div>
    </div>

    
    <div class="d-flex row justify-content-center mt-5">
        <div class="col">
            <table class="table bg-white shadow-sm">
                <h3>The Business</h3>
                <thead>
                    <tr class="text-center">
                        <th>Year</th>
                        <th>Sales</th>
                        <th>Purchase</th>
                        <th>Rent</th>
                        <th>Payout</th>
                        <th>Gross Profit</th>
                        <th>Direct Expenses</th>
                        <th>Indirect Expenses</th>
                        <th>Net Profit</th>
                    </tr>
                </thead>
                <tbody>   
                    {% for data in year_data %}
                        <tr>
                            <td>{{data|array_index:0}}</td>
                            <td class="text-right">{{data|array_index:1|default_if_none:0|floatformat:'2g'}}</td>
                            <td class="text-right">{{data|array_index:2|default_if_none:0|floatformat:'2g'}}</td>
                            <td class="text-right">{{data|array_index:3|default_if_none:0|floatformat:'2g'}}</td>
                            <td class="text-right">{{data|array_index:4|default_if_none:0|floatformat:'2g'}}</td>
                            <td class="text-right">{{data|array_index:5|default_if_none:0|floatformat:'2g'}}</td>
                            <td class="text-right">{{data|array_index:6|default_if_none:0|floatformat:'2g'}}</td>
                            <td class="text-right">{{data|array_index:7|default_if_none:0|floatformat:'2g'}}</td>
                            {% with data|array_index:7|default_if_none:0 as netValue %}
                            <td class="text-right">{{data|array_index:5|default_if_none:0|minus:netValue|floatformat:'2g'}}</td>
                            {% endwith %}
                        </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
    </div>

    <h3>Application</h3>
    <div class="d-flex row justify-content-center mt-2">
        <div class="col float-center">
            <table class="table bg-white shadow-sm">
                <thead>
                    <tr class="text-center">
                        <th>Year</th>
                        <th>Applications</th>
                        <th>Employed</th>
                        <th>Rejected</th>
                        <th>Pending</th>
                    </tr>
                </thead>
                <thead>
                    {% for key, value in application_count.items %}
                    <tr class="text-center">
                        <td>{{key}}</td>
                        {% for item in value %}
                        <td>{{item}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </thead>
            </table>
        </div>
    </div>
    <h3>Employees</h3>
    <div class="d-flex row justify-content-center mt-2 mb-5">
        <div class="col float-center">
            <table class="table bg-white shadow-sm">
                <legend></legend>
                <thead>
                    <tr class="text-center">
                        <th class="text-left">Period</th>
                        <th>Workforce</th>
                        <th class="text-right">Yield</th>
                        <th>Average Payout</th>
                        <!-- <th>Pending</th> -->
                    </tr>
                </thead>
                <thead>
                    {% for dataset in employee_dataset %}
                    <tr class="text-center">
                        <td class="text-left">{{dataset|array_index:0}}</td>
                        <td>{{dataset|array_index:1}}</td>
                        <td class="text-right">{{dataset|array_index:2}}</td>
                        <td>{{dataset|array_index:3}}</td>
                    </tr>
                    {% endfor %}
                </thead>
            </table>
        </div>
    </div>
    
</div>
{% endblock content %}