{% extends 'core/base.html' %}
{% load custom_tags %}

{% block head %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        background: #323131;
        color: #fff;
        height: 100vh;
        /* overflow-x: hidden;
        overflow-y: auto; */
    }

    /* SIDEBAR */

    .sidebar {
        width: 250px;
        background: #050505;
        padding: 25px;
        border-right: 1px solid #222;
    }

    .sidebar h2 {
        margin-bottom: 40px;
        color: #00c8ff;
    }

    .sidebar ul {
        list-style: none;
    }

    .sidebar li {
        margin: 20px 0;
    }

    .sidebar a {
        text-decoration: none;
        color: #bbb;
        font-size: 15px;
        transition: .2s;
    }

    .sidebar a:hover {
        color: #00c8ff;
    }

    /* MAIN */

    .main {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    /* TOPBAR */

    .topbar {
        height: 60px;
        border-bottom: 1px solid #222;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
    }

    .search input {
        background: #111;
        border: none;
        padding: 8px 12px;
        color: white;
        border-radius: 4px;
    }

    .profile {
        color: #00c8ff;
    }

    /* CONTENT */

    .content {
        padding: 30px;
    }

    /* KPI CARDS */

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 20px;
        margin-bottom: 30px;
    }

    .card {
        background: #0b0b0b;
        padding: 20px;
        border-radius: 8px;
        border: 1px solid #222;
    }

    .card h3 {
        font-size: 16px;
        color: #00c8ff;

    }

    .card p {
        font-size: 28px;
        margin-top: 10px;
        color: #f6db0d;
    }

    /* CHART AREA */

    .charts {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
        margin-bottom: 30px;
    }

    .chart-box {
        background: #0b0b0b;
        padding: 20px;
        border-radius: 8px;
        border: 1px solid #222;
        height: 300px;
        position: relative;
    }

    /* TABLE */

    .table-box {
        background: #0b0b0b;
        padding: 20px;
        border-radius: 8px;
        border: 1px solid #222;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 15px;
    }

    th,
    td {
        padding: 10px;
        border-bottom: 1px solid #222;
        text-align: left;
    }

    th {
        color: #888;
    }

    tr:hover {
        background: #111;
    }

</style>

{% endblock %}


<div class="topbar"></div>

<!-- MAIN -->

<div class="main">
    <div class="content">

        {% block content %}

        <!-- KPI CARDS -->

        <div class="cards">

            <div class="card">
                <h3>YTD Sales</h3>
                <p>{{total_sales|myriad}}</p>
            </div>

            <div class="card">
                <h3>{{current_month}} Sales</h3>
                <p>{{current_month_sales|myriad}}</p>
            </div>

            <div class="card">
                <h3>Stock Value</h3>
                <p>{{current_stock_value|myriad}}</p>
            </div>

            <div class="card">
                <h3>Growth</h3>
                <p>{{growth_ratio|floatformat:2}}%</p>
            </div>

        </div>

        <!-- CHARTS -->
        <div class="charts">
            <div class="chart-box">
                <canvas id="growthRatioChart"></canvas>
            </div>

            <div class="chart-box">
                <canvas id="salesChart"></canvas>
            </div>
        </div>

        <!-- TABLE -->
        <div class="row table-box">
            <div class="col">
                <h3>Daily</h3>
                <table>
                    <thead>
                        <tr class="">
                            <th>Date</th>
                            <th>Sales</th>
                            <th>Admin Expenses</th>
                            <th>Ops Expenses</th>
                            <th>Margin(%)</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for obj in trade_seven_days_ago %}
                        <tr>
                            <td>{{ obj.date }}</td>
                            <td>{{obj.sales.amount|myriad}}</td>
                            <td>{{obj.indirect_expenses}}</td>
                            <td>{{obj.direct_expenses}}</td>
                            <td>{{obj.margin_ratio}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
            <div class="col">
                <h3>Monthly</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>Rent Paid</th>
                            <th>Payout</th>
                            <th>Admin Expenses</th>
                            <th>Ops Expenses</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for data in monthly_record %}
                        <tr>
                            <td>{{ data.month }}</td>
                            <td>{{ data.rent_paid|myriad }}</td>
                            <td>{{ data.payout|myriad }}</td>
                            <td>{{ data.admin_expenses|myriad }}</td>
                            <td>{{ data.ops_expenses|myriad }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
                <a class="btn btn-primary float-right" href="{% url 'home' %}">Return</a>
            </div>
        </div>
        <script>
            const growthRatioCtx = document.getElementById('growthRatioChart');
            const salesCtx = document.getElementById('salesChart');

            new Chart(growthRatioCtx, {
                type: 'line',
                data: {
                    labels: {{ months|safe }},
                    datasets: [{
                        label: 'Growth Rate Trend',
                        data: {{ growth_trend|safe }},
                        borderColor: '#00c8ff',
                        backgroundColor: 'rgba(0,200,255,0.2)',
                        tension: 0.4,
                        fill: true
                    }]
                },
                options: {
                responsive: true,
                maintainAspectRatio: false,

                plugins: {
                    legend: {
                        labels: { color: '#ccc' }
                    }
                },

                scales: {
                    x: {
                        ticks: { color: '#aaa' },
                        grid: { color: '#222' }
                    },
                    y: {
                        ticks: { color: '#aaa' },
                        grid: { color: '#222' }
                    }
                }
            }
            });


            new Chart(salesCtx, {
                type: 'bar',

                data: {
                    labels: {{months|safe}},
                    datasets: [{
                        label: 'Sales',
                        data: {{sales|safe}},
                        backgroundColor: 'rgba(0, 200, 255, 0.6)',
                        borderColor: '#00c8ff',
                        borderWidth: 1
                    }]
                },

                options: {

                    responsive: true,
                    maintainAspectRatio: false,

                    plugins: {
                        legend: {
                            labels: {
                                color: '#ccc'
                            }
                        }
                    },

                    scales: {

                        x: {
                            ticks: {
                                color: '#aaa'
                            },
                            grid: {
                                color: '#222'
                            }
                        },

                        y: {
                            ticks: {
                                color: '#aaa'
                            },
                            grid: {
                                color: '#222'
                            },
                            beginAtZero: true
                        }

                    }
                }
            });


        </script>
        {% endblock %}

    </div>

</div>