<!-- 
    The home page is extended to the base html located in the users folder.
    Since there are static pictures, They are kept in static folder and accessed easily with
    the load static command and all styled at the head of the html inside the style tag.
    An attention catching jumbotron is used to make bold statment of what the app is all about 
    and also state the sectors.
    The logos of the ozone and its partner companies are displayed to define our kind of trade.
    The link to our social media platforms - yet to be activated though
-->

{% extends 'users/base.html' %}
{% load static %}

{% block head %}
<style>
    body {
        background-color: white;
    }

    .background-photo {
        height: 180px;
        background-image: url('{% static "customer/background/bluesky.jpeg" %}');
    }

    .nb {
        width: 200px;
    }

    .gn {
        width: 120px;
    }

    .ab {
        width: 200px;
    }

    .redbull {
        width: 120px;
        rotate: -30deg;
        
        @media screen and (max-width: 576px) {
            rotate: 0deg;
            gap: 20px;
        }
    }

    .cousin {
        width: 120px;
        rotate: 30deg;
        margin: 20px 20px;
    }

    @keyframes blink {
        50% {
            opacity: 0;
        }
    }

    .blinking {
        animation: blink 3s linear infinite;
    }
</style>
{% endblock head %}

{% block content %}
<div class="container-fluid">
    <!-- BillBoard -->
    <div class="row">
        <div class="col bg-secondary text-center text-white background-photo">
            <h1 class="mt-4 m-0">SCusH</h1>
            <h5>Ozone Online Platform — in a web interface</h5>
            {% if not user.is_authenticated %}
            <a href="{% url 'login' %}" class="btn text-white shadow-lg bg-warning">
                <b>Log back in</b>
            </a>
            {% endif %}
        </div>
    </div>

    <!-- The big message -->
    <div class="jumbotron jumbotron-fluid bg-white">
        <div class="container">
            <h1 class="display-4 text-danger blinking">Administrative Web App for Ozone</h1>
            <div class="row lead text-center">
                <div class="col-sm">
                    <span class="green-box"></span>
                    <a href=""><i class="fa fa-square text-warning"></i> Stock</a>
                </div>
                <div class="col-sm">
                    <a href=""><i class="fa fa-square text-success"></i> Customers</a>
                </div>
                <div class="col-sm">
                    <a href=""><i class="fa fa-square text-danger"></i> Human Resources</a>
                </div>
            </div>
        </div>
    </div>
    <!-- The companies logo -->
    <div class="row">
        <div class="col-sm text-center">
            <a href="#" class=""><img src="{% static 'customer/photo/GN.png'%}" class="rounded-circle gn"></a>
            <a href=""><img class="nb" src="{% static 'customer/photo/NB.jpeg'%}"></a>
            <a href="#"><img class="ab" src="{% static 'customer/photo/AB.jpeg'%}"></a>
            <a href="#" class=""><img class="redbull" src="{% static 'customer/photo/redbull.jpeg'%}"></a>
            <a href="#" class=""><img class="cousin" src="{% static 'customer/photo/4cousins.jpeg'%}"></a>
            <img width="150px" class="rounded-circle" src="{% static 'customer/logo.png' %}" alt="">
            
        </div>
    </div>
</div>

{% endblock %}