{% extends 'users/base.html' %}
{% load static %}

{% block head %}
<style>
    #navmain {
        display: none;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-3">
    <h3 class="text-center">Policies, Procedures and Compliance</h3>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-finance-tab" data-toggle="tab" href="#nav-finance" role="tab"
                aria-controls="nav-finance" aria-selected="true">Finance</a>
            <a class="nav-item nav-link" id="nav-abc-tab" data-toggle="tab" href="#nav-abc" role="tab"
                aria-controls="nav-abc" aria-selected="false">ABC</a>
            <a class="nav-item nav-link" id="nav-compliance-tab" data-toggle="tab" href="#nav-compliance" role="tab"
                aria-controls="nav-contact" aria-selected="false">Compliance</a>
            <!-- <a class="nav-item nav-link" id="nav-close-tab" data-toggle="tab" href="#nav-close" role="tab"
                aria-controls="nav-close" aria-selected="false">Close</a> -->
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-finance" role="tabpanel" aria-labelledby="nav-finance-tab">
            <div style="font-size: larger;" class="row mt-4 bg-white">
                <div class="col-sm">
                    <h4 class="text-center mt-3">Ozone Accounting, Financial, and Reporting Policies and Procedures</h4>
                    <ol>
                        <li>
                            Books and Records Keeping Policy:
                            <ul>
                                <li>Purpose:
                                    - This policy ensures accurate, complete, and reliable recording and
                                    maintenance of financial transactions and records in compliance with applicable
                                    laws,
                                    regulations, and accounting standards.
                                </li>
                                <li>Policy Statement:
                                    <ol>
                                        <li>- All financial transactions must be promptly, accurately, and completely
                                            recorded
                                            in Ozone's books and records.</li>
                                        <li>- The books and records must reflect the true nature of transactions,
                                            supported by
                                            appropriate documentation and evidence.
                                        </li>
                                        <li>- Falsification, alteration, or unauthorized destruction of records is
                                            strictly
                                            prohibited.</li>
                                    </ol>
                                </li>
                                <li>
                                    Procedures:
                                    <ol>
                                        <li>- All financial transactions must be supported by appropriate source
                                            documents, such as invoices,
                                            receipts, contracts, or vouchers.
                                        </li>
                                        <li>- Financial records should be maintained in accordance with generally
                                            accepted accounting principles
                                            (GAAP) and local regulations.
                                        </li>
                                        <li>- All transactions must be recorded in a timely manner and properly
                                            classified to the appropriate
                                            accounts.
                                        </li>
                                        <li>- Regular reconciliations of bank accounts, ledgers, and subsidiary records
                                            should be performed to
                                            ensure accuracy and detect any discrepancies.
                                        </li>
                                    </ol>
                                </li>
                            </ul>

                        </li>
                        <li>
                            Authority to Approve Payments Policy:
                            <ul>
                                <li>Purpose:

                                    - This policy defines the authorization process for approving payments to
                                    ensure proper controls,
                                    accountability, and compliance with internal policies and external
                                    regulations.

                                </li>
                                <li>
                                    Policy Statement:
                                    <ol>
                                        <li>- Payments should only be made based on valid and authorized documents, and
                                            in
                                            accordance with
                                            established policies and procedures.
                                        </li>
                                        <li>- Only authorized individuals with appropriate levels of authority should
                                            approve
                                            payments.
                                        </li>
                                        <li>- The approval process should ensure appropriate segregation of duties and
                                            prevent
                                            any conflicts of
                                            interest.
                                        </li>
                                    </ol>

                                </li>
                                <li>
                                    Procedures:
                                    <ol>
                                        <li>- Establish a clear and documented approval hierarchy outlining the levels
                                            of
                                            authority required for various payment amounts.
                                        </li>
                                        <li>- Designate specific individuals or positions responsible for reviewing and
                                            approving payment
                                            requests based on predetermined thresholds.
                                        </li>
                                        <li>- Maintain a proper documentation trail, including invoices, purchase
                                            orders,
                                            expense reports, or
                                            contracts, to support payment authorization.
                                        </li>
                                        <li>- Regularly review and update the approval hierarchy to reflect changes in
                                            personnel,
                                            responsibilities, or organizational structure.
                                        </li>
                                    </ol>
                                </li>
                            </ul>
                        </li>
                        <li>
                            Documents Retention Policy:
                            <ul>
                                <li>Purpose:
                                    - This policy outlines the requirements for retaining and disposing of financial
                                    documents and
                                    records to ensure compliance with legal, regulatory, and internal control
                                    requirements.
                                </li>
                                <li>
                                    Policy Statement:
                                    <ol>
                                        <li>- Ozone will retain financial documents and records for the periods
                                            specified by applicable laws,
                                            regulations, and industry best practices.
                                        </li>
                                        <li>- Documents should be stored securely and be readily accessible for audit,
                                            legal, and regulatory
                                            purposes.
                                        </li>
                                        <li>- Proper disposal methods should be employed to protect sensitive
                                            information and maintain data
                                            privacy.
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    Procedures:
                                    <ol>
                                        <li>- Identify the types of financial documents and records that need to be
                                            retained, such as financial
                                            statements, invoices, bank statements, tax records, contracts, and payroll
                                            records.
                                        </li>
                                        <li>- Determine the retention periods for each type of document based on legal
                                            and regulatory
                                            requirements.
                                        </li>
                                        <li>
                                            - Establish a centralized and secure document management system to store and
                                            organize financial
                                            records.
                                        </li>
                                        <li>- Regularly review and purge outdated and unnecessary documents in
                                            accordance with the established
                                            retention schedule.
                                        </li>
                                    </ol>

                                </li>
                            </ul>
                        </li>
                        <li>Conclusion:
                            These policies and procedures are designed to ensure the accuracy, integrity, and compliance
                            of
                            Ozone's accounting, financial, and reporting practices. All employees are expected to
                            familiarize
                            themselves with these policies, adhere to the procedures outlined, and seek guidance from
                            the
                            appropriate authority in case of any questions or concerns.
                        </li>
                    </ol>

                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-abc" role="tabpanel" aria-labelledby="nav-abc-tab">
            <div style="font-size: larger;" class="row mt-4 bg-white">
                <div class="col-sm">
                    <h4 class="text-center">Anti-Bribery and Corruption Policy</h4>

                    <ol>
                        <li>Introduction: Ozone is committed to conducting its business with the highest ethical
                            standards and complying with all applicable laws and regulations.
                            This policy establishes our stance against bribery and corruption and outlines the
                            measures we take to prevent such activities.
                        </li>
                        <li>

                            Policy Statement:
                            <ul>
                                <li>Ozone strictly prohibits bribery and corruption in all its forms, whether
                                    committed by employees, contractors, agents, or any other party acting on behalf of
                                    the company.
                                </li>
                                <li>We adhere to all relevant anti-bribery and corruption laws, including the Economic
                                    and Financial Crimes Commission (EFCC), National Agency for Food and Drugs Administration (NAFDAC), 
                                    Standard organisation of Nigeria (SON) and other applicable international and local legislation.
                                </li>
                                <li>
                                    We maintain a zero-tolerance approach towards bribery and corruption, and any
                                    violation of this policy will result in disciplinary action, which may include
                                    termination of employment or contractual relationships.
                                </li>
                            </ul>
                        </li>
                        <li>
                            Definitions:
                            <ul>
                                <li>
                                    Bribery: Offering, giving, receiving, or soliciting anything of value, directly or
                                    indirectly, to gain an unfair
                                    business advantage.
                                </li>
                                <li>
                                    Corruption: Abuse of entrusted power for personal gain, including embezzlement,
                                    fraud, extortion, or bribery.
                                </li>
                            </ul>
                        </li>
                        <li>
                            Responsibilities:
                            <ul>
                                <li>Management: Senior management is responsible for fostering a culture of integrity,
                                    ensuring compliance with
                                    anti-bribery and corruption laws, and providing adequate resources to prevent,
                                    detect, and investigate such
                                    activities.
                                </li>
                                <li>Employees: All employees must familiarize themselves with this policy, understand
                                    their obligations, and report
                                    any suspected or actual bribery or corruption immediately.
                                </li>
                                <li>Agents and Third Parties: We expect agents, consultants, contractors, suppliers, and
                                    other business partners to
                                    adhere to the same high ethical standards and comply with applicable anti-bribery
                                    and corruption laws.
                                </li>
                            </ul>
                        </li>
                        <li>Prohibited Activities:
                            <ul>
                                <li>Offering, giving, receiving, or soliciting bribes, kickbacks, or improper
                                    payments, whether in cash, gifts,
                                    entertainment, or any other form.
                                </li>
                                <li>Making facilitation payments, which are small payments intended to expedite
                                    routine government actions.
                                </li>
                                <li>
                                    Engaging in transactions with the intent to conceal the true nature or purpose of
                                    payments.
                                </li>
                                <li>
                                    Participating in any activity that could create an actual or perceived conflict of
                                    interest.
                                </li>
                                <li>
                                    Failing to maintain accurate books, records, and accounts that reflect the
                                    company's transactions.</li>
                            </ul>
                        </li>
                        <li>Due Diligence and Risk Assessment:
                            <ul>
                                <li>We conduct periodic risk assessments to identify areas of potential bribery and
                                    corruption
                                    risks within our
                                    operations and supply chain.
                                </li>
                                <li>
                                    Prior to engaging with agents, consultants, or business partners, we perform due
                                    diligence
                                    to assess their
                                    integrity and compliance with anti-bribery and corruption laws.
                                </li>
                                
                            </ul>
                        </li>
                        <li>Training and Awareness

                            <ul>
                                <li>We provide regular training and awareness programs to ensure employees understand
                                    their
                                    obligations and recognize
                                    bribery and corruption red flags.
                                </li>
                                <li>Training programs are tailored to specific roles and functions within the company,
                                    including managers, sales
                                    representatives, procurement personnel, and others.
                                </li>
                            </ul>
                        </li>
                        <li>
                            Reporting and Whistleblowing:

                            <ul>
                                <li>
                                    We encourage employees, contractors, and stakeholders to report any suspected or
                                    actual
                                    instances of bribery or
                                    corruption without fear of reprisal.

                                </li>
                                <li>
                                    An anonymous reporting mechanism, such as a whistleblowing hotline or confidential
                                    email or messaging platform, is established to facilitate reporting.
                                </li>
                            </ul>
                        </li>
                        <li>
                            Investigation and Enforcement:

                            <ul>
                                <li>Any reported or suspected instances of bribery or corruption will be promptly
                                    investigated
                                    in a fair, thorough,
                                    and confidential manner.
                                </li>
                                <li>Appropriate disciplinary action will be taken against individuals found to be
                                    involved in
                                    bribery or corruption,
                                    which may include termination, legal action, or other remedies.
                                </li>

                            </ul>

                        </li>
                        <li>Continuous Improvement:

                            <ul>
                                <li>We regularly review and update our anti-bribery and corruption policies and
                                    procedures to
                                    ensure their
                                    effectiveness and compliance with evolving laws and best practices.</li>
                                <li>

                                    Feedback from employees, stakeholders, and external experts is sought to enhance
                                    our anti-bribery and corruption program.
                                </li>

                            </ul>
                        </li>
                        <li>Communication and Implementation:

                            <ul>
                                <li>
                                    This policy is communicated to all employees and relevant stakeholders.
                                </li>
                                <li>We require employees to acknowledge their understanding and acceptance of this
                                    policy.
                                </li>
                                <li>This policy is readily available to employees and accessible to the public on our
                                    website.
                                </li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="nav-compliance" role="tabpanel" aria-labelledby="nav-compliance-tab">
            <div style="font-size: larger;" class="row mt-4 bg-white">
                <div class="col-sm">
                    <h4 class="mt-3 text-center">Compliance Roles, Policies & Procedures</h4>
                    <ol>
                        <li>Compliance Manager:
                            <ul>
                                <li>Compliance Manager is responsible for overseeing the compliance function and ensuring 
                                    adherence to all relevant laws, regulations, and internal policies.
                                </li>
                                <li>They establish and implement the compliance program, monitor its effectiveness, 
                                    and report to senior management and the board of directors.
                                </li>
                            </ul>  
                         </li>
                         <li>Compliance adhoc Committee:
                            <ul>
                            <li>The compliance committee consists of professionals who support the compliance Manager in various aspects of 
                                compliance management.
                            </li>
                            <li>The committee includes compliance officers, analysts, specialists, or coordinators, depending on the size 
                                and complexity of the organization.
                            </li>
                        </ul>
                         </li>
                         <li>Compliance Policies and Procedures:
                            <ul>
                                <li>The compliance function is responsible for developing, implementing, and maintaining comprehensive 
                                    compliance policies and procedures that align with applicable laws and regulations.
                                </li>
                                <li>They ensure these policies and procedures are communicated 
                                    effectively throughout the organization and provide guidance on compliance requirements.</li>
                            </ul>
                         </li> 
                         <li>Risk Assessment and Monitoring:
                            <ul>
                                <li>The compliance team conducts regular risk assessments to identify potential compliance 
                                    risks and vulnerabilities within the organization.</li>
                                <li>They design and implement monitoring programs to detect and mitigate compliance breaches or misconduct, including the use of data analytics, audits, and internal controls.
                                </li>    
                            </ul>
                         </li>
                         <li>
                            Training and Awareness:
                            <ul>
                                <li>The compliance function designs and delivers training programs to educate employees on their compliance obligations and promote a culture of ethics and integrity.
                                </li>
                                <li>They develop awareness campaigns, communicate updates in laws and regulations, and provide ongoing guidance to employees regarding compliance matters.
                                </li>
                            </ul>
                         </li>
                         <li>
                            Investigations and Reporting:
                            <ul>
                                <li>The compliance team investigates reported or suspected compliance breaches, misconduct, or unethical behavior.
                                </li>
                                <li>
                                    They maintain a process for reporting compliance concerns, including an anonymous reporting mechanism, and ensure appropriate action is taken in response to substantiated allegations.
                                 </li>
                            </ul>

                         </li>
                         <li>Regulatory Compliance:
                            <ul>
                                <li>
                                    The compliance function monitors and ensures compliance with relevant laws, 
                                    regulations, and industry standards that apply to the organization's operations.
                                    </li>
                                <li>They establish processes to keep abreast of changes in regulatory requirements, 
                                    assess the impact on the organization, and implement necessary adjustments to maintain compliance.
                                </li>
                            </ul>
                        </li>
                        <li>
                            Internal Collaboration and Consultation:
                            <ul>
                                <li>The compliance function collaborates with other departments, such as legal, human resources, internal audit, and risk management, to ensure a coordinated approach to compliance.
                                </li>
                                <li>          
                                    They provide guidance and consultative support to these departments on compliance-related matters and facilitate cross-functional compliance initiatives.
                                 </li>
                            </ul>
                        </li>
                        <li>External Relationships:
                            <ul>
                                <li>The compliance function maintains relationships with regulatory bodies, industry associations, and external experts to stay updated on best practices and emerging compliance trends.
                                </li>
                                <li>They engage with external stakeholders to understand regulatory expectations and ensure the organization's compliance efforts are aligned with industry standards.
                                </li>
                            </ul>

                        </li>
                        <li>Compliance Reporting and Metrics:
                            <ul>
                                <li>The compliance function prepares regular reports and metrics to measure the effectiveness of the compliance program.
                                </li>
                                <li>They provide updates to senior management, the board of directors, and relevant committees on compliance-related issues, activities, and performance.
                                </li>
                            </ul>
                        </li>
                        Note that the specific roles and structure of the compliance function may vary 
                        depending on the internal organizational needs and regulatory environment. 
                        It is important to customize the description based on the unique needs and requirements of this organization.

                    </ol>
                </div>
            </div>
  
   
    
        </div>
    </div>

    <div class="row m-3">
        <div class="col">
            <a class="float-right" href="{% url 'index' %}"><i class="fa fa-reply fa-2x"></i></a>
        </div>
    </div>
</div>
{% endblock %}