{% extends 'users/base.html' %}
{% load custom_tags %}

{% block content %}
<div class="row m-3">
        <div class="col">
            <h3>SCUSH Web Design Structure</h3>
        </div>
    </div>
<div class="m-3">
    <table class="table table-sm"
           data-pagination="true"
           data-toggle="table">
        <thead class="">
        <tr>
            <th>SN</th>
            <th>Process</th>
            <th>TitlePage</th>
            <th>App</th>
            <th>TemplateFile</th>
            <th>ViewsClass</th>
            <th>ModelsClass</th>
            <th>urlpath</th>
            <th>urlname</th>
        </tr>
        </thead>
        <tbody>
            {% for item in scush %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{item|array:1}}</td>
                <td>{{item|array:2}}</td>
                <td>{{item|array:3}}</td>
                <td>{{item|array:4}}</td>
                <td>{{item|array:5}}</td>
                <td>{{item|array:6}}</td>
                <td>{{item|array:7}}</td>
                <td>{{item|array:8}}</td>
            </tr>
            {% endfor %}
        
            
            <tr>
            <td>9</td>
            <td>Application</td>
            <td>Detail</td>
            <td>apply</td>
            <td>applicant_detail.html</td>
            <td>ApplyDetailView</td>
            <td>Applicant</td>
            <td>apply/int:pk>/detail</td>
            <td>apply-detail</td>
        </tr>
            <tr>
            <td>10</td>
            <td>Application</td>
            <td>Update</td>
            <td>apply</td>
            <td>applicant_form.html</td>
            <td>ApplyUpdateView</td>
            <td>Applicant</td>
            <td>apply/int:pk>/update/</td>
            <td>apply-update</td>
        </tr>
            <tr>
            <td>11</td>
            <td>Application</td>
            <td>Delete</td>
            <td>apply</td>
            <td>applicant_delete.html</td>
            <td>ApplyDeleteView</td>
            <td>Applicant</td>
            <td>apply/int:pk>/delete/</td>
            <td>apply-delete</td>
        </tr>
            <tr>
            <td>12</td>
            <td>Staff</td>
            <td>Staff Home</td>
            <td>staff</td>
            <td>home_page.html</td>
            <td>StaffMainPageView</td>
            <td>Employee</td>
            <td>staff/home/</td>
            <td>staff-home</td>
        </tr>
            <tr>
            <td>13</td>
            <td>Staff</td>
            <td>All List</td>
            <td>staff</td>
            <td>employee_list.html</td>
            <td>StaffListView</td>
            <td>Employee</td>
            <td>staff/all</td>
            <td>staff-list</td>
        </tr>
            <tr>
            <td>14</td>
            <td>Staff</td>
            <td>Scush</td>
            <td>staff</td>
            <td>scush.html</td>
            <td>StaffScushView</td>
            <td>----</td>
            <td>scush/</td>
            <td>staff-scush</td>
        </tr>
            <tr>
            <td>15</td>
            <td>Staff</td>
            <td>Policies</td>
            <td>staff</td>
            <td>policies.html</td>
            <td>StaffPoliciesView</td>
            <td>----</td>
            <td>policies/</td>
            <td>staff-policies</td>
        </tr>
            <tr>
            <td>16</td>
            <td>Staff</td>
            <td>Photo</td>
            <td>staff</td>
            <td>employee_pictures.html</td>
            <td>StaffListPicturesView</td>
            <td>Employee</td>
            <td>photos/</td>
            <td>staff-pictures</td>
        </tr>
            <tr>
            <td>17</td>
            <td>Staff</td>
            <td>Detail</td>
            <td>staff</td>
            <td>employee_detail.html</td>
            <td>StaffDetailView</td>
            <td>Employee</td>
            <td>int:pk>/detail/</td>
            <td>employee-detail</td>
        </tr>
            <tr>
            <td>18</td>
            <td>Staff</td>
            <td>Update</td>
            <td>staff</td>
            <td>employee_form.html</td>
            <td>StaffUpdateView</td>
            <td>Employee</td>
            <td>int:pk>/update/</td>
            <td>employee-update</td>
        </tr>
            <tr>
            <td>19</td>
            <td>Staff</td>
            <td>New</td>
            <td>staff</td>
            <td>employee_form.html</td>
            <td>StaffCreateView</td>
            <td>Employee</td>
            <td>new/int:pk>/</td>
            <td>employee-create</td>
        </tr>
            <tr>
            <td>20</td>
            <td>Staff</td>
            <td>Private</td>
            <td>staff</td>
            <td>employee_private.html</td>
            <td>StaffListPrivateView</td>
            <td>Employee</td>
            <td>private/</td>
            <td>staff-private</td>
        </tr>
            <tr>
            <td>22</td>
            <td>Staff</td>
            <td>Terminate</td>
            <td>staff</td>
            <td>employee_detail.html:modal</td>
            <td>StaffTerminate</td>
            <td>Employee</td>
            <td>terminate/int:pk>/</td>
            <td>employee-terminate</td>
        </tr>
            <tr>
            <td>23</td>
            <td>Staff</td>
            <td>Reassign</td>
            <td>staff</td>
            <td>employee_detail.html:modal</td>
            <td>StaffReassign</td>
            <td>Employee</td>
            <td>reassign/int:pk>/</td>
            <td>employee-reassign</td>
        </tr>
            <tr>
            <td>24</td>
            <td>Staff</td>
            <td>Suspend</td>
            <td>staff</td>
            <td>employee_detail.html:modal</td>
            <td>StaffSuspend</td>
            <td>Employee</td>
            <td>suspend/int:pk>/</td>
            <td>employee-suspend</td>
        </tr>
            <tr>
            <td>25</td>
            <td>Staff</td>
            <td>Permit</td>
            <td>staff</td>
            <td>employee_detail.html:modal</td>
            <td>StaffPermit</td>
            <td>Employee</td>
            <td>permit/int:pk>/</td>
            <td>employee-permit</td>
        </tr>
            <tr>
            <td>26</td>
            <td>Payroll</td>
            <td>List</td>
            <td>staff</td>
            <td>payroll/credit_list.html</td>
            <td>CreditNoteListView</td>
            <td>CreditNote</td>
            <td>payroll/credit/</td>
            <td>credit-list</td>
        </tr>
            <tr>
            <td>27</td>
            <td>Payroll</td>
            <td>Create</td>
            <td>staff</td>
            <td>payroll/creditnote_form.html</td>
            <td>CreditNoteCreateView</td>
            <td>CreditNote</td>
            <td>payroll/credit-note/new/</td>
            <td>credit-create</td>
            </tr>
            <tr>
            <td>28</td>
            <td>Payroll</td>
            <td>List</td>
            <td>staff</td>
            <td>payroll/debit_list.html</td>
            <td>DebitNoteListView</td>
            <td>DebitNote</td>
            <td>payroll/debit/</td>
            <td>debit-list</td>
        </tr>
            <tr>
            <td>29</td>
            <td>Payroll</td>
            <td>Create</td>
            <td>staff</td>
            <td>payroll/debitnote_form.html</td>
            <td>DebitNoteCreateView</td>
            <td>DebitNote</td>
            <td>payroll/debit-note/new/</td>
            <td>staff-pictures</td>
        </tr>
            <tr>
            <td>30</td>
            <td>Payroll</td>
            <td>Generate</td>
            <td>staff</td>
            <td>payroll/salary.html</td>
            <td>StartGeneratePayroll</td>
            <td>Payroll</td>
            <td>payroll/start/generate/salary/</td>
            <td>salary</td>
            </tr>
            <tr>
            <td>31</td>
            <td>Payroll</td>
            <td>Update</td>
            <td>staff</td>
            <td>payroll/generated_payroll.html</td>
            <td>GeneratePayroll</td>
            <td>Payroll</td>
            <td>payroll/generated_payroll/</td>
            <td>generate_payroll</td>
        </tr>
            <tr>
            <td>32</td>
            <td>Stock</td>
            <td>Home</td>
            <td>stock</td>
            <td>product_home.html</td>
            <td>ProductHomeView</td>
            <td>Product</td>
            <td>products/home/</td>
            <td>product-home</td>
        </tr>
            <tr>
            <td>33</td>
            <td>Stock</td>
            <td>List</td>
            <td>stock</td>
            <td>product_list.html</td>
            <td>ProductListView</td>
            <td>Product</td>
            <td>products/list/</td>
            <td>product-list</td>
        </tr>
            <tr>
            <td>34</td>
            <td>Stock</td>
            <td>Detail</td>
            <td>stock</td>
            <td>product_detail.html:modal</td>
            <td>ProductDetailedView</td>
            <td>Product</td>
            <td>product/int:pk>/detail/</td>
            <td>product-detail</td>
        </tr>
            <tr>
            <td>35</td>
            <td>Stock</td>
            <td>New</td>
            <td>stock</td>
            <td>product_form.html</td>
            <td>StaffReassign</td>
            <td>Product</td>
            <td>product/new/</td>
            <td>product-new</td>
        </tr>
            <tr>
            <td>36</td>
            <td>Stock</td>
            <td>Update</td>
            <td>stock</td>
            <td>product_form.html</td>
            <td>ProductUpdateView</td>
            <td>Product</td>
            <td>product/int:pk>/update/</td>
            <td>product-update</td>
        </tr>
            <tr>
            <td>37</td>
            <td>Stock</td>
            <td>Delete</td>
            <td>stock</td>
            <td>product_confirm_delete.html</td>
            <td>ProductDeleteView</td>
            <td>Employee</td>
            <td>product/int:pk>/delete/</td>
            <td>product-delete</td>
        </tr>
            <tr>
            <td>38</td>
            <td>User</td>
            <td>Register</td>
            <td>users</td>
            <td>user/register.html</td>
            <td>user_views.register</td>
            <td>User</td>
            <td>register/</td>
            <td>register</td>
        </tr>
            <tr>
            <td>39</td>
            <td>User</td>
            <td>Profile</td>
            <td>users</td>
            <td>profile.html</td>
            <td>user_views.profile</td>
            <td>User</td>
            <td>profile/</td>
            <td>profile</td>
        </tr>
            <tr>
            <td>40</td>
            <td>User</td>
            <td>Login</td>
            <td>users</td>
            <td>users/login.html</td>
            <td>auth_views.LoginView</td>
            <td>User</td>
            <td>login/</td>
            <td>login</td>
        </tr>
            <tr>
            <td>41</td>
            <td>User</td>
            <td>Logout</td>
            <td>users</td>
            <td>users/logout.html</td>
            <td>auth_views.LogoutView</td>
            <td>User</td>
            <td>logout/</td>
            <td>logout</td>
        </tr>
            <tr>
            <td>42</td>
            <td>User</td>
            <td>Password Reset</td>
            <td>users</td>
            <td>users/password_reset.html</td>
            <td>auth_views.PasswordResetView</td>
            <td>User</td>
            <td>password-reset/</td>
            <td>password_reset</td>
        </tr>
            <tr>
            <td>43</td>
            <td>User</td>
            <td>Password Reset Done</td>
            <td>users</td>
            <td>users/password_reset_done.html</td>
            <td>auth_views.PasswordResetDoneView</td>
            <td>User</td>
            <td>password-reset/done/</td>
            <td>password_reset_done</td>
        </tr>
            <tr>
            <td>44</td>
            <td>User</td>
            <td>Password Reset Confirm</td>
            <td>users</td>
            <td>users/password_reset_confirm.html</td>
            <td>auth_views.PasswordResetConfirmView</td>
            <td>User</td>
            <td>password-reset/confirm/uidb64>/token>/</td>
            <td>password_reset_confirm</td>
        </tr>
            <tr>
            <td>45</td>
            <td>User</td>
            <td>Password Reset Complete</td>
            <td>users</td>
            <td>users/password_reset_complete.html</td>
            <td>auth_views.PasswordResetCompleteView</td>
            <td>User</td>
            <td>password-reset/complete/</td>
            <td>password_reset_complete</td>
        </tr>
            <tr>
            <td>46</td>
            <td>Customer</td>
            <td>List</td>
            <td>customer</td>
            <td>customer/customer.html</td>
            <td>CustomerListView</td>
            <td>CustomerProfile</td>
            <td>customer/</td>
            <td>customer-list</td>
        </tr>
            <tr>
            <td>47</td>
            <td>Customer</td>
            <td>Detail</td>
            <td>customer</td>
            <td>customer/customerprofile_detail.html</td>
            <td>CustomerDetailView</td>
            <td>CustomerProfile</td>
            <td>customer/int:pk>/</td>
            <td>customer-detail</td>
        </tr>
            <tr>
            <td>48</td>
            <td>Customer</td>
            <td>Create</td>
            <td>customer</td>
            <td>customer/customerprofile_form.html</td>
            <td>CustomerCreateView</td>
            <td>CustomerProfile</td>
            <td>customer/new/</td>
            <td>customer-create</td>
        </tr>
            <tr>
            <td>49</td>
            <td>Customer</td>
            <td>Update</td>
            <td>customer</td>
            <td>customer/customerprofile_form.html</td>
            <td>CustomerUpdateView</td>
            <td>CustomerProfile</td>
            <td>customer/int:pk>/update/</td>
            <td>customer-update</td>
        </tr>
            <tr>
            <td>50</td>
            <td>Customer</td>
            <td>Delete</td>
            <td>customer</td>
            <td>customer/customerprofile_confirm_delete.html</td>
            <td>CustomerDeleteView</td>
            <td>CustomerProfile</td>
            <td>customer/int:pk>/delete/</td>
            <td>customer-delete</td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock content%}