{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}Settings — New Value{% endblock %}

{% block content %}
<div class="container mt-3 shadow-lg">
    <div class="row">
        <div class="col">
            <h3>{{title}}</h3>
            <form action="." method="post">
                {% csrf_token %}
                {{form|crispy}}
                <button class="btn btn-primary mb-3" type="submit">Submit</button>
                <a class="btn btn-secondary float-right mb-3" href="{% url 'json-cat-key' vars.pk vars.key %}">Return</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}