{% extends 'users/base.html' %}

{% block content %}
<div class="container">
    <article>
        <h3>Choices</h3>
        <p>
            This is the list of items to be displayed on select fields at various forms in this web.
            It will be helpful to be able to add, edit or delete an item from the list in order to keep
            it updated and fresh. Therefore from the Choices option we can:
            <ul>
                <li>Add</li>
                <li>Edit</li>
                <li>Delete</li>
            </ul>  
        </p>
    </article>
</div>
{% endblock %}