{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'customer/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- d-flex row justify-content-center align-items-center py-md-5 py-3 -->
    <div class="row">
        <div class="col-sm-5">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-8">
                    <div class="container">
                        <div class="row">
                            <div class="col mt-2 text-center">
                                <img src="{% static 'customer/logo.png' %}"
                                     width="80rem;"
                                     class="rounded-circle p-1 shadow-lg"
                                     alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-primary shadow">
                                <form method="POST" class="">
                                    {% csrf_token %}
                                    <legend class="text-danger">Sign In</legend>
                                    <div class="form-group">
                                        {{ form|crispy }}
                                        <small class="text-muted">Forgot password? contact company administrator</small>
                                    </div>
                                    
                                    <div class="form-group float-right">
                                        <a href="{% url 'index' %}" class="btn btn-outline-primary">
                                            <i class="fa fa-home"></i>
                                        </a>
                                        
                                        <button class="btn btn-outline-primary" type="submit">Log In</button> <br>
                                        <small class="text-muted">Always log out when done</small>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-sm-3 bg-dark" style="opacity: 0.6;">
            <!-- add some at the middle -->
            <img width="100%" src="{% static 'customer/background/adminPage.jpeg' %}" alt="">
       </div>

       <div class="col-sm-4">
           <div class="row">
               <div class="col bg-dark">
                   <h4 class="text-white mt-3">
                   <i>
                   SCusH is a web platform for administration
                   </i>
               </h4>
               <ul>
                   <li class="text-warning">Stock Management</li>
                   <li class="text-danger">Customer Management</li>
                   <li class="text-success">Human Resource Management</li>
               </ul>
               <hr>
               <div class="row">
                   <div class="col text-white">
                       <h3 class="text-warning">Stock</h3>
                       <ul>
                           <li>Stock Profile</li>
                       </ul>
                       <h3 class="text-danger">Customers</h3>
                       <ul>
                           <li>Customer Profile</li>
                       </ul>
                       <h3 class="text-success">Human Resources</h3>
                       <ul>
                           <li>Application</li>
                           <li>Employees</li>
                           <li>Payroll</li>
                       </ul>
                       <hr>
                       <p>Number of Users admitted: {{users.count}}</p>
                   </div>
               </div>
               </div>
           </div>
       </div>
        
    </div>
</div>
{% endblock %}