{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'customer/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 bg-white">
            <div class="jumbotron jumbotron-fluid bg-white">
                <div class="row text-center">
                    <div class="col">
                        <img 
                        style="border-radius: 50px 100px 50px 100px;" 
                        src="{{ staff.image.url }}" height="150px" alt="">
                        <p>{{staff.fullname}} <br>{{staff.position}}, {{staff.branch}}</p>
                      </div>
                </div>
            
              </div>
            
        </div>
        <div class="col-sm-5 mb-3">
            <div class="row justify-content-center">
                <div class="col-8">
                    <div id="login" class="container mt-5">
                        <div class="row">
                            <div class="col mt-2 text-center">
                                <img src="{% static 'customer/logo.png' %}"
                                     width="80rem;"
                                     class="rounded-circle p-1 shadow-lg"
                                     alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col shadow">
                                <form method="POST" class="">
                                    {% csrf_token %}
                                    <legend class="text-dark">Sign In</legend>
                                    <div class="form-group">
                                        {{ form|crispy }}
                                    </div>
                                    <div class="form-group float-right">
                                        <a href="{% url 'index' %}" class="btn btn-outline-primary">
                                            <i class="fa fa-home"></i>
                                        </a>
                                        
                                        <button class="btn btn-outline-primary" type="submit">Log In</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row justify-content-center">
                <div class="col">
                    <h4 class="text-info mt-3">
                    <i>
                    SCusH is a web platform for administration
                    </i>
                </h4>
                <ul>
                    <li class="text-warning">Stock Management</li>
                    <li class="text-danger">Customer Management</li>
                    <li class="text-success">Human Resource Management</li>
                </ul>
                <hr>
                <div class="row">
                    <div class="col">
                        <h3>Stock</h3>
                        <ul>
                            <li>Stock Profile</li>
                        </ul>
                        <h3>Customers</h3>
                        <ul>
                            <li>Customer Profile</li>
                        </ul>
                        <h3>Human Resources</h3>
                        <ul>
                            <li>Application</li>
                            <li>Employees</li>
                            <li>Payroll</li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}