{% extends 'users/base.html' %}
{% load custom_tags %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col">
            <a class="btn btn-outline-dark float-right ml-1" href="{% url 'articles-pdf' %}">PDF View</a>
            <a class="btn btn-outline-dark float-right ml-1" href="{% url 'article-create' %}">Add Article</a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col shadow-lg">
            <table class="table table-sm table-primary" 
            data-pagination="true"
            data-toggle="table">
                <caption>Available Articles List <span class="float-right">
                    <small>GV: {{gross_value|floatformat:'2g'}}</small> 
                </span> </caption>
                <thead class="bg-white">
                    <tr class="text-center">
                        <th>Item #</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Value</th>
                        <th>Quantity</th>
                        <th>Source</th>
                        <th>Balance</th>
                        <th>Gross Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td><a href="{% url 'article-update' object.pk %}">
                            <i class="fa fa-edit"></i></a> 
                            {{object.pk|zeropadding:3}}
                        </td>
                        <td>{{object.name}}</td>
                        <td>{{object.description}}</td>
                        <td class="text-right">{{object.value.amount|floatformat:'2g'}}</td>
                        <td class="text-right">{{object.quantity_in}}</td>
                        <td>{{object.source}}</td>
                        <td>{{object.quantity_balance}}</td>
                        <td class="text-right">{{object.gross_value|floatformat:'2g'}}</td>
                    </tr>          
                    {% endfor %}
                </tbody>
            </table>
        </div>   
    </div>

    <div class="row mt-2">
        <div class="col shadow-lg">
            <table class="table table-sm table-primary" 
            data-pagination="true"
            data-toggle="table">
                <caption>List of Pending Request(s)</caption>
                <thead class="bg-white">
                    <tr>
                        <th>Request #</th>
                        <th>Date</th>
                        <th>Article</th>
                        <th>Quantity</th>
                        <th>Request By</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for object in requests %}
                    <tr>
                        <td><a href="#">
                            <i class="fa fa-edit"></i>
                        </a> 
                        <a href="{% url 'issue-create' object.pk %}" class="ml-2">
                            {{object.pk|zeropadding:3}}
                        </a>  
                        </td>
                        <td>{{object.date}}</td>
                        <td>{{object.article}}</td>
                        <td>{{object.quantity}}</td>
                        <td>{{object.request_by}}</td>  
                        
                    {% endfor %}
                </tbody>
                
            </table>
        </div>   
    </div>
    
    <div class="row mt-2">
        <div class="col shadow-lg">
            <table class="table table-sm table-primary" 
            data-pagination="true"
            data-toggle="table">
                <caption>Approval & Issue List</caption>
                <thead class="bg-white">
                    <tr>
                        <th>Issue #</th>
                        <th>Request #</th>
                        <th>Date</th>
                        <th>Article</th>
                        <th>Quantity</th>
                        <th>Issued To</th>
                        <th>Approved By</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in issues %}
                    <tr>
                        <td><a href="#">
                            <i class="fa fa-edit"></i></a> 
                            {{object.pk|zeropadding:3}}
                        </td>
                        <td>{{object.the_request.id|zeropadding:3}}</td>
                        <td>{{object.out_date}}</td>
                        <td>{{object.the_request.article.name}}</td>
                        <td>{{object.the_request.quantity}}</td>
                        <td>{{object.the_request.request_by}}</td>
                        <td>{{object.approved_by}}</td>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>   
    </div>
    
    <a class="btn btn-outline-dark float-right m-3" href="{% url 'home' %}">Home</a>
        
</div>
{% endblock content %}