{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load custom_templates %}


{% block content %}
<div class="container">
    <div class="row p-3 d-flex justify-content-center">
        <div class="col-sm-8 shadow">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <legend class="text-warning">Approve & Issue Article</legend>
                <p>Request ID: {{request.pk|zeropadding:3}}</p>
                <p>Article: {{request.article.name}}</p>
                <p>Quantity: {{request.quantity}} out of {{request.article.quantity_balance}} available</p>
                <p>By: {{request.request_by}} ({{staff}})</p>
                <fieldset class="bg-light">
                    <div class="ml-2">{{ form|crispy }}</div>
                </fieldset>
                <div class="form-group p-2">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-outline-primary" type="submit">Approve</button>
                        </div>
                        <div class="col text-center">
                            <a href="{% url 'article-request-disapprove' request.pk %}" class="btn btn-outline-danger">Disapprove</a>
                        </div>
                        <div class="col">
                            <a href="{% url 'article-list' %}" class="btn btn-outline-dark float-right">
                                <i class="fa fa-reply"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}