{% extends 'users/base.html' %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h1>Delivery Dashboard</h1>
            <p>
                As a distribution company, heavy flow of stock is to be anticipated and to put measures to track them
                all in a customized fashion most suitable to us for effective tracking is inevitable. This section only
                focuses on deliveries and the credit notes emanating from the returns made.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <ul class="list-group list-group-sm list-group-flush">
                <li class="list-group-item active">
                    Delivery Stages
                </li>
                <li class="list-group-item bg-light">
                    <div class="row mr-2">
                        <div class="col-6">
                            <a href="{% url 'delivery-list' %}">All Deliveries</a>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'delivery-create' %}">Create</a>
                        </div>

                    </div>

                </li>

                <li class="list-group-item"><a href="{% url 'delivery-stage' create_stage %}">Created</a>
                    <span class="badge badge-primary badge-pill">{{created.count}}</span>
                </li>

                <li class="list-group-item"><a href="{% url 'delivery-stage' deliver_stage %}">Delivered</a>
                    <span class="badge badge-primary badge-pill">{{delivered.count}}</span>
                </li>

                <li class="list-group-item"><a href="{% url 'delivery-stage' return_stage %}">Returned</a>
                    <span class="badge badge-primary badge-pill">{{returned.count}}</span>
                </li>
                <li class="list-group-item"><a href="{% url 'delivery-stage' confirm_stage %}">Confirmed</a>
                    <span class="badge badge-primary badge-pill">{{confirmed.count}}</span>
                </li>
                <li class="list-group-item"><a href="{% url 'delivery-stage' credit_stage %}">Credited</a>
                    <span class="badge badge-primary badge-pill">{{credited.count}}</span>
                </li>
            </ul>
        </div>
    </div>
    <hr>
</div>
{% endblock %}