{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block content %}
<div class="container mt-3">
    
    <div class="container px-lg-5 mt-5">
        <div class="row mx-lg-n5">
            <div class="col-6 col-md-3 py-3 px-lg-5 border border-success bg-dark shadow">
                <a href="{% url 'cashflow-cash-collect' %}">
                    <h3 class="text-center text-white">Cash <br> Collect</h3>
                </a>
                
            </div>
            <div class="col-6 col-md-3 py-3 px-lg-5 border border-success bg-dark shadow">
                <a href="{% url 'cashflow-deposit' %}">
                    <h3 class="text-center text-white">Deposit To Bank</h3>
                </a>
            </div>
            <div class="col-6 col-md-3 py-3 px-lg-5 border broder-success bg-dark shadow">
                <a href="{% url 'bank-transfer' %}">
                    <h3 class="text-center text-white">Bank <br> Transfer</h3>
                </a>
            </div>
            <div class="col-6 col-md-3 py-3 px-lg-5 border border-danger bg-dark shadow">
                <a href="{% url 'disburse-cash' %}">
                    <h3 class="text-center text-white">Disburse <br>Cash</h3>
                </a>
            </div>
            <div class="col-6 col-md-3 py-3 px-lg-5 border border-danger bg-dark shadow">
                <a href="{% url 'withdrawal-request' %}">
                    <h3 class="text-center text-white">Request to Withdraw</h3>
                </a>
            </div>
            <div class="col-6 col-md-3 py-3 px-lg-5 border bg-dark shadow">
                <a href="{% url 'interbank-transfer' %}">
                    <h3 class="text-center text-white">Inter Bank Transfer</h3>
                </a>
            </div>
            <div class="col-6 col-md-3 py-3 px-lg-5 border bg-dark shadow">
                <a href="{% url 'cashflow-intercash' %}">
                    <h3 class="text-center text-white">Inter Cash Transfer</h3>
                </a>
            </div>
            
            <div class="col-6 col-md-3 py-3 px-lg-5 border border-danger bg-dark shadow">
                <a href="{% url 'bank-charges' %}">
                    <h3 class="text-center text-white">Bank <br> Charges</h3>
                </a>
            </div>

        </div>
        <div class="row">
            <div class="col mt-3">
                <a class="btn btn-outline-dark" href="" data-toggle="modal" data-target="#actionHelper"><i class="fa fa-question"></i></a>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-8">
            <table class="table" data-toggle="table">
                <thead>
                    <tr class="text-center">
                        <th>Account Number</th>
                        <th>Shortname</th>
                        <th>Opening balance</th>
                        <th>Current Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bank in object_list %}
                    <tr>
                        <td>{% if bank.status %} 
                            <i class="fa fa-check-circle text-success"></i> 
                            {% else %}
                            <i class="fa fa-times-circle text-muted"></i>
                            {% endif %} 
                            <a href="" data-toggle="modal" data-target="#currentBalanceDetailModal{{bank.pk}}">{{bank.account_number}}</a>

                            <a class="float-right" href="{% url 'bank-statement' bank.pk %}"><i class="fa fa-paste"></i></a>
                        </td>
                        <td>{{bank.short_name}}</td>
                        <td class="text-right">{{bank.opening_balance}}</td>
                        <td class="text-right">{{bank.current_balance}}</td>
                    </tr>
                    {% endfor %}
                    <tfoot>
                        <div class="row">
                            <div class="col">
                                <a class="ml-2" href="?status=all">
                                    {% if view.request.GET.status == 'all' %}
                                    <i class="fa fa-check-circle text-success"></i>
                                    {% else %}
                                    <i class="fa fa-times-circle text-danger"></i>
                                    {% endif %}
                                    All Banks</a>
                                <a href="?status=active">
                                    {% if not view.request.GET.status == 'all' %}
                                    <i class="fa fa-check-circle text-success"></i>
                                    {% else %}
                                    <i class="fa fa-times-circle text-danger"></i>
                                    {% endif %}
                                    Active Banks
                                </a>
                            </div>
                        </div>
                    </tfoot>
                </tbody>
                
            </table>
            {% if is_paginated %}
            <nav class="mt-1" aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                
                  {% for num in page_obj.paginator.page_range %}
                  <li class="page-item
                   {% if request.GET.page == num|stringformat:'s' %} active {% endif %}">
                    <a class="page-link" href="?page={{num}}">
                        {{num}} 
                     </a>
                    </li>
                  {% endfor %}
                  
                </ul>
            </nav>
            {% endif %}

            <table class="table mb-5" data-toggle="table">
                <thead>
                    <tr class="text-center">
                        <th>Name</th>
                        <th>Opening Balance</th>
                        <!-- <th>Opening Date</th> -->
                        <th>Current Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cash in cash_center %}
                    <tr>
                        <td>{{cash.name}} <a class="float-right" href="{% url 'cash-statement' cash.pk %}"><i class="fa fa-paste"></i></a></td>
                        <td class="text-right">{{cash.opening_balance}} </td>
                        <!-- <td class="text-center">{{cash.opening_balance_date}}</td> -->
                        <td class="text-right">{{cash.current_balance}}</td>
                        
                    </tr>
                    {% endfor %}
                    
                </tbody>
                
            </table>
        </div>
        <div class="col-sm-4">
            <div class="row mt-2">
                <div class="col">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-primary">Cash Balance
                            <ul>
                                <li>Business <span class="float-right">{{ cash }}</span></li>
                                <li>Imprest <span class="float-right">{{ imprest_cash }}</span></li>
                            </ul>
                        </li>
                        <li class="list-group-item list-group-item-primary">Bank Balance 
                            <ul>
                                <li>Business <span class="float-right">{{naira}}{{ current_bank_balance_total_business }}</span></li>
                                <li>Admin <span class="float-right">{{naira}}{{ current_bank_balance_total_admin }}</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">

                    <ul class="list-group">
                        {% if pending_withdrawals %}
                            <li class="list-group-item text-center active">Pending Withdrawal</li>
                            {% for withdrawal in pending_withdrawals %}
                                {% if withdrawal.stage == 0 %}
                                <li class="list-group-item">Stage: RQST 
                                    <a class="float-right" href="{% url 'approve-withdrawal' withdrawal.pk %}">{{ withdrawal }}</a>
                                </li>
                                {% endif %}
                        
                                {% if withdrawal.stage == 1 %}
                                <li class="list-group-item list-group-item-success">Stage: APRVD 
                                    <a class="float-right" href="{% url 'administer-withdrawal' withdrawal.pk %}">{{ withdrawal }}</a>
                                </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div> 
            </div>
        </div>
    </div>

    <div class="row mb-3 mt-3">
        <div class="col">
            <a class="btn btn-outline-dark" href="{{ request.META.HTTP_REFERER}}">Back</a>
        </div>
    </div>
</div>

  
<!-- Modal Detail-->
  {% for bank in object_list %}
  <div class="modal fade" 
  id="currentBalanceDetailModal{{bank.pk}}" 
  tabindex="-1" 
  aria-labelledby="currentBalanceDetailModalLabel" 
  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="currentBalanceDetailModalLabel">Current Bank Balance Update - {{bank.short_name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ul class="list-group">
                <li class="list-group-item">Account Number<span class="float-right">{{bank.account_number}}</span></li>
                <li class="list-group-item">Name<span class="float-right">{{bank.name}}</span></li>
                <li class="list-group-item">Short Name<span class="float-right">{{bank.short_name}}</span></li>
                <li class="list-group-item">Current Balance<span class="float-right">{{bank.current_balance}}</span></li>
                <li class="list-group-item">Lien Value<span class="float-right">{{bank.lien_value}}</span></li>
                <li class="list-group-item">Category<span class="float-right">{{bank.category}}</span></li>
                <li class="list-group-item">Active<span class="float-right">{{bank.status|yesno:'Yes,No'}}</span></li>
              </ul>
        </div>
        <div class="modal-footer">
            {% if bank.status %}
            <a class="btn btn-outline-primary" href="{% url 'current-balance' bank.pk %}">Reset Balance</a>
            <a class="btn btn-outline-danger" href="{% url 'disable-account' bank.pk %}">Disable Account</a>
            {% else %}
            <a class="btn btn-outline-success" href="{% url 'disable-account' bank.pk %}">Activate Account</a>
            {% endif %}
        </div>
      </div>
    </div>
  
    </div>
  {% endfor %}

  
  <!-- Modal -->
  <div class="modal fade" 
  id="actionHelper" 
  data-backdrop="static" 
  data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Help</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><h4>Collect Cash</h4>: Cash from branch into main cash center <span class="float-right text-success">Inflow</span></li>
                <li class="list-group-item"><h4>Bank Transfer</h4>: Transfer into bank account. E.g. payment from customer <span class="float-right text-success">Inflow</span></li>
                <li class="list-group-item"><h4>Deposit to bank </h4>: Cash from cash center to bank <span class="float-right text-warning">Interflow</span></li>
                <li class="list-group-item"><h4>Inter Bank Transfer</h4>: Move fund from bank to bank <span class="float-right text-warning">Interflow</span></li>
                <li class="list-group-item"><h4>Inter Cash Transfer</h4>: Move cash from cash center to cash center <span class="float-right text-warning">Interflow</span></li>
                <li class="list-group-item"><h4>Disburse cash</h4>: Move cash out of cash center <span class="float-right text-danger">Outflow</span></li>
                <li class="list-group-item"><h4>Request to withdraw</h4>: Fund business partners from bank account <span class="float-right text-danger">Outflow</span></li>
              </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}