{% extends 'users/base.html' %}
{% load custom_tags %}
{% load static %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col">
            <h3 class="text-center">Bank Account Home Page</h3>
        </div>
    </div>
    <div class="row">
        <nav class="col-sm-2 bg-dark ml-3">
            <button
                class="navbar-toggler bg-light mt-1 mb-1 float-right myBtn"
                type="button"
                data-toggle="collapse"
                data-target="#Dropdown2"
                aria-controls="Dropdown2"
                aria-expanded="true"
                aria-label="toggle navigation">
                <i class="fa fa-navicon fa-1x text-primary"></i>
            </button>
            <div class="collapse collapse-sm" id="Dropdown2">
                <ul class="nav flex-column mt-3">
                    <li class="text-white"><i class="fa fa-minus text-warning"></i>Bank Account</li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bank-account-list' %}">
                            <i class="fa fa-edit text-warning"></i>
                            View & Update
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" 
                        data-toggle="dropdown" href="#" 
                        role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-navicon text-warning"></i> View One</a>
                        <div class="dropdown-menu">
                            {% for obj in bank_accounts_business %}
                                <a class="dropdown-item" href="{% url 'bank-account-detail' obj.pk %}">{{obj}}</a>
                            {% endfor %}
                            <hr class="dropdown-divider">
                            {% for obj in bank_accounts_admin %}
                                <a class="dropdown-item" href="{% url 'bank-account-detail' obj.pk %}">{{obj}}</a>
                            {% endfor %}
                            
                          
                        </div>
                      </li>
                    <hr class="dropdown-divider">
                    <li class="text-white"><i class="fa fa-minus text-warning"></i>Bank Balance</li>
                    <li class="nav-item">
                        <a href="{% url 'bank-balance-create' %}" class="nav-link"><i class="fa fa-plus text-warning"></i>
                            Add
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bank-balance-list' %}">
                            <i class="fa fa-edit text-warning"></i>
                            View & Update
                        </a>
                    </li>
                    <hr class="dropdown-divider">
                    <li class="nav-item">
                        <a href="{% url 'pdf-daily-bank-balance' %}" target="_blank" class="nav-link">
                            <i class="fa fa-file-pdf-o text-warning"></i> PDF 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'bank-balance-list-admin' %}" class="nav-link">
                            <i class="fa fa-bank text-warning"></i> Admin Account 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="modal" data-target="#exampleModal" class="nav-link">
                            <i class="fa fa-question text-warning"></i> Help
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">
                            <i class="fa fa-reply text-warning"></i> Return</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <div class="col-sm-9">
            {% if no_object %}
            <h3 class="ml-3">No Record yet</h3>
            <a class="btn btn-primary btn-sm" href="{% url 'bank-balance-create' %}">Add Bank Balance</a>
            {% else %}
            <table class="table table-bordered" data-toggle="table">
                <caption>Business Account Balance as at {{current_date}}</caption>
                <thead class="">
                    <tr class="bg-dark text-white text-center">
                        <th>Account Name</th>
                        <th>Account Number</th>
                        <th>Banker</th>
                        <th>Bank Balance</th>
                        <th>AP Balance</th>
                        <th>(BB - AP)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td><a href="{% url 'bank-balance-detail' object.pk %}">{{object.bank.nickname}}</a></td>
                        <td>{{object.bank.account_number}}</td>
                        <td>{{object.bank.bank}}</td>
                        <td class="text-right">{{object.bank_balance}}</td>
                        <td class="text-right">{{object.account_package_balance}}</td>
                        {% if object.delta.amount >= 0 %}
                        <td class="text-right">{{object.delta}}</td>
                        {% else %}
                        <td class="text-right text-danger">{{object.delta|abs}}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr class="font-weight-bold bg-dark text-white">
                        <td colspan="3" class="text-center">Total</td>
                        <td class="text-right">NGN{{total_balance|floatformat:2}}</td>
                        <td class="text-right">NGN{{total_package|floatformat:2}}</td>
                        {% with total_balance|minus:total_package as total %}
                        {% if total >= 0 %}
                        <td class="text-right">NGN{{total|floatformat:2}}</td>
                        {% else %}
                        <td class="text-right text-danger">NGN{{total|abs|floatformat:2}}</td>
                        {% endif %}
                        {% endwith %}
                    </tr>
                </tbody>
            </table>
            <p class="mt-3 mr-2 text-danger float-right">AP - Account Package, BB - Bank balance</p>
            {% endif %}
        </div>
        
    </div>
</div>

<!-- Modal -->
<section>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-question text-success"></i>  Help with this Page</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
                <h6>This page is the Bank Account Home page</h6>
                <p class="ml-3">It displays the bank balance for the date at the table's title. 
                    The Bank Account information is divided into two sections. The bank account section 
                    and the bank balance section. The bank account section is used to capture all bank account
                    details while bank balance is used to capture only the balance of the account both at the Bank
                    and in the accounting package.
                </p>
                <h6>To view and update bank account</h6>
                <p class="ml-3">By the left-side of this page, on the menu in black,
                    click the view & update link to view the list of all bank accounts stored
                    from that page you can update any of the acount listed.
                </p>
                <h6>To add bank account and balance</h6>
                <p class="ml-3">By the left-side of this page, on the menu in black,
                    click the <i class="text-danger fa fa-plus"> add</i> link access the form for bank
                    balance details and at the top of the form is <i class="text-danger fa fa-plus"> add</i>
                    link for the bank account form.
                </p>
                <h6>To view and update bank balance</h6>
                <p class="ml-3">By the left-side of this page, on the menu in black,
                    click the view & update link to view the list of all bank balance stored
                    from that page you can update any of the balance listed.
                </p>
                <h6 class="text-danger">Contact the admin to delete a record. If neccesary</h6>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock%}