{% extends 'users/base.html' %}
{% load static %}
{% load custom_templates %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3 bg-dark">
            <p class="text-white mt-1">
                <i class="fa fa-minus text-warning"></i>
                    HR Actions
            </p>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link"
                       data-toggle="modal"
                       data-target="#staffBalance">
                        <i class="fa fa-book text-warning"></i>
                        Add Gratuity
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                           data-toggle="modal"
                           data-target="#staffSalary">
                        <i class="fa fa-credit-card text-warning"></i>
                        Change Salary
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link"
                           data-toggle="modal"
                           data-target="#staffPermit">
                        <i class="fa fa-pause text-warning"></i>
                        Request Permission
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       data-toggle="modal"
                       data-target="#staffReassign">
                        <i class="fa fa-envelope-open text-warning"></i>
                        Reassign Position
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                           data-toggle="modal"
                           data-target="#staffSuspend">
                        <i class="fa fa-stop-circle text-warning"></i>
                        Suspend</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                           data-toggle="modal"
                           data-target="#staffTerminate">
                        <i class="fa fa-stop text-warning"></i>
                        Terminate
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       data-toggle="modal"
                       data-target="#staffWelfare">
                        <i class="fa fa-envelope-open text-warning"></i>
                        Welfare Support <sup class="badge badge-danger">new</sup>
                    </a>
                </li>
                <hr class="dropdown-divider">
                <p class="text-white mt-1">
                <i class="fa fa-minus text-warning"></i>
                    Views
                </p>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'apply-detail' object.staff.pk %}">
                        <i class="fa fa-book text-warning"></i>
                        Applicant
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'payroll-statement' object.pk %}">
                        <i class="fa fa-book text-warning"></i>
                        Payslip
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'balance-view' object.pk %}">
                        <i class="fa fa-book text-warning"></i>
                        Gratuity
                    </a>
                </li>
            </ul>
            
            {% if not username %}
            <hr class="dropdown-divider">
            <p class="text-white mt-1">
                <i class="fa fa-minus text-warning"></i>
                    Admin
            </p>
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" 
                    href="{% url 'create-user' object.pk %}"><i class="fa fa-user text-warning"></i>  Create User</a>
                </li>
            </ul>
            {% endif %}
            <hr class="dropdown-divider">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-question text-warning"></i> Help
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'staff-list' %}">
                        <i class="fa fa-reply text-warning"></i> Return</a>
                </li>
            </ul>
        </div>
        <div class="col-9 mt-4">
            <h2 class="text-secondary text-center bg-light">Individual Data Page</h2>
            <div class="row">
                <div class="col-sm-9">
                    <div class="media">
                        <img src="{{object.image.url}}"
                             width="150px"
                             height="150px"
                             class="rounded mr-3"
                             alt="...">
                        <div class="media-body">
                            <h5 class="text-info mt-0">{{object}}</h5>
                            <p class="text-success">Employee ID: {{object.id|zeropadding:3}}
                                <span class="text-danger">(Username: {{username|default:'Not Created'}})</span>
                            </p>
                            <a class="btn btn-outline-dark btn-sm" href="{% url 'employee-update' object.pk %}"><small>Update Image</small></a>
                            <h5 class="float-right">Survey Code: <span class="badge badge-info">{{question_obj.code|slugify}}</span></h5>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="container-grid">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="text-success">Full Salary: {{object.salary}}</p>
                        <p class="text-success">Age: {{object.staff.birth_date|timesince}}</p>
                        <p class="text-success">Payout <span><small class="text-muted">(since June 2021)</small></span>: {{naira}}{{payout|floatformat:'2g'}}</p>
                        <hr>
                        <p>First Name: {{object.staff.first_name}}</p>
                        <p>Second Name: {{object.staff.second_name}}</p>
                        <p>Last Name: {{object.staff.last_name}}</p>
                        <p>Date of Birth: {{object.staff.birth_date}}</p>
                        <p>Gender: {{object.staff.gender}}</p>
                        <p>Marital Status: {{object.staff.marital_status}}</p>
                        <p>Qualification: {{object.staff.qualification}}</p>
                        <p>Course: {{object.staff.course }}</p>
                        <p>Personal Mobile: {{object.staff.mobile}}</p>
                        <p>Personal Email: {{object.staff.email}}</p>
                        <p>Application Date: {{object.staff.apply_date}}</p>
                        <p>Data Modified Time: {{object.staff.modified_date}}</p>
                        <p>Residential Address: {{object.staff.address}}</p>
                    </div>

                    <div class="col-sm-3">
                        <p>Gratuity: <span class="text-success">{{naira}}{{total_balance|floatformat:'2g'}}</span></p>
                        <p>Welfare: <span class="text-success">{{naira}}{{total_welfare|floatformat:'2g'}}</span></p>
                        <p>Worked For: <span class="text-success">{{object.date_employed|timesince}}</span></p>
                        {% if consumed_days|first == 0 and consumed_days|last == 0 %}
                        <p>Permissions: <span class="text-success">No permission taken or granted</span></p>
                        {% else %}
                        <p>Permissions: <span class="text-danger">{{consumed_days|first}}Day{{consumed_days|first|pluralize}}, {{consumed_days|last}}Hour{{consumed_days|last|pluralize}}</span></p>
                        {% endif %}
                        <hr>
                        <p>Date Employed: {{object.date_employed}}</p>
                        <p>Official Email: {{object.official_email}}</p>
                        <p>Official Mobile:
                            {% if object.official_mobile is None %}
                            {{object.official_mobile}}
                            {% else %}
                            {{object.official_mobile|addsep}}
                            {% endif %}
                        </p>
                        <p>Management Staff?:
                            <span>{{ object.is_management|yesno|upper }}</span>
                        </p>
                        <p>Duty Status: {{object.status|yesno:'Active, Terminated, Passive'}}</p>
                        <p>Status:
                            {{object.is_confirmed|yesno:'CONFIRMED, PROBATION'}}
                        </p>
                        <p>Position: {{object.position}}</p>
                        <p>Department: {{object.department}}</p>
                        <p>Outlet: {{object.branch}}</p>
                        <p>Banker: {{object.banker}}</p>
                        <p>Account Number: {{object.account_number|addsep}}</p>
                        <p>Basic Salary: {{object.basic_salary}} | Allowance: {{object.allowance}}</p>
                        <p>Tax Payable:{{object.tax_amount}}</p>
                    </div>
                    
                    <div class="col-sm-6">
                        {% if reassigned %}
                        <h3 class="text-info" style="font-family:cursive;">Reassigned</h3>
                        <div class="row bg-light mb-2">
                            <div class="col">
                                <table class="table" data-toggle="table">
                                    <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Position:From</th>
                                        <th>Position:To</th>
                                        <th>Branch:From</th>
                                        <th>Branch:To</th>
                                        <th>Date</th>
                                        <th>Remark</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for reassign in reassigned %}
                                    <tr>
                                        <td>{{reassign.reassign_type}}</td>
                                        <th>{{reassign.from_position}}</th>
                                        <th>{{reassign.to_position}}</th>
                                        <th>{{reassign.from_branch}}</th>
                                        <th>{{reassign.to_branch}}</th>
                                        <th>{{reassign.start_date}}</th>
                                        <th>{{reassign.remark}}</th>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot></tfoot>
                                </table>
                            </div>
                        </div>
                        {% endif %}
    
                        {% if salary_changed %}
                        <h3 class="text-info" style="font-family:cursive;">Salary Changes</h3>
                        <div class="row bg-light mb-2">
                            <div class="col">
                                <table class="table" data-toggle="table">
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Previous Salary</th>
                                        <th>Current Salary</th>
                                        <th>Remark</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for salary in salary_changed %}
                                    <tr>
                                        <td>{{salary.date}}</td>
                                        <th>{{salary.previous_value}}</th>
                                        <th>{{salary.value}}</th>
                                        <th>{{salary.remark}}</th>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot></tfoot>
                                </table>
                            </div>
                        </div>
                        {% endif %}
    
                        {% if permissions %}
                        <h3 class="text-info" style="font-family:cursive;">Permissions</h3>
                        <div class="row bg-light mb-2">
                            <div class="col">
                                <table class="table" data-toggle="table">
                                    <thead>
                                    <tr>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Reason</th>
                                        <th>Duration</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for permission in permissions %}
                                    <tr>
                                        <td>{{permission.starting_from}}</td>
                                        <td>{{permission.ending_at}}</td>
                                        <td>{{permission.reason}}</td>
                                        <td>{{permission.duration}}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot></tfoot>
                                </table>
                            </div>
                        </div>
                        {% endif %}
    
                        {% if suspensions %}
                        <h3 class="text-info" style="font-family:cursive;">Suspensions</h3>
                        <div class="row bg-light mb-2">
                            <div class="col">
                                <table class="table" data-toggle="table">
                                    <thead>
                                    <tr>
                                        <th>Start Date</th>
                                        <th>Resumption Date</th>
                                        <th>Reason</th>
                                        <th>Penalty</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for suspension in suspensions %}
                                    <tr>
                                        <td>{{suspension.start_date}}</td>
                                        <th>{{suspension.resumption_date}}</th>
                                        <th>{{suspension.reason}}</th>
                                        <th>{{suspension.penalty}}</th>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!--Change Salary-->
<div class="modal"
     tabindex="-1"
     data-backdrop="static"
     role="dialog"
     id="staffSalary">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    Reassign (<span style="font-size: 11pt">
                    {{view.kwargs.pk|zeropadding:3}} - {{object}}
                </span>)
                </h3>
                <button type="button"
                        class="close"
                        aria-label="close"
                        data-dismiss="modal">
                    <i class="fa fa-times text-danger"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <p>Salary (Basic + Allowance): {{object.salary}}</p>

                    <form action="{% url 'employee-salary-change' object.pk %}"
                          method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label" for="tSal">Total Salary</label>
                                <input id="tSal"
                                       class="form-control"
                                       name="salary"
                                       value=""
                                       type="number" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-label" for="salComment">Remark</label>
                                    <input name="remark"
                                           placeholder="Reason for the change"
                                           id="salComment"
                                           class="form-control"
                                           type="text" required>
                                </div>
                            </div>
                        </div>
                    <div class="modal-footer">
                <button type="submit"
                        class="btn btn-outline-info">
                    Apply
                </button>
                <button type="button"
                        data-dismiss="modal"
                        class="btn btn-outline-dark">
                    Cancel
                </button>
            </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Enter Balance (gratuity)-->
<div class="modal"
     tabindex="-1"
     data-backdrop="static"
     role="dialog"
     id="staffBalance">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    Gratuity(<span style="font-size: 11pt">
                    {{view.kwargs.pk|zeropadding:3}} - {{object}}
                </span>)
                </h3>
                <button type="button"
                        class="close"
                        aria-label="close"
                        data-dismiss="modal">
                    <i class="fa fa-times text-danger"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <p id="dateField"></p>
                    <form action="{% url 'employee-balance' object.pk %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-5">
                            <div class="form-group">
                                <label for="period">Period</label>
                                <input class="form-control" 
                                name="period" 
                                id="period" 
                                type="text" 
                                pattern="[0-9]{4}-[0-9]{2}"
                                value="{% now 'Y-m' %}" required>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="form-group">
                                <label for="title">Title<sup class="text-danger">*</sup></label>
                                <input class="form-control" 
                                name="title" 
                                id="title" 
                                value="{{gratuity_title}}"
                                type="text" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <div class="form-group">
                                <label class="form-label" for="tBal">Value</label>
                                <input id="tBal"
                                       class="form-control"
                                       name="balance"
                                       value="0.00"
                                       type="number" required>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-label" for="tBal">Type</label>
                                <select class="form-control" name="CrDr" id="balType">
                                    <option value="Cr">Cr</option>
                                    <option value="Dr">Dr</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label" for="salComment">Description</label>
                                <input name="comment"
                                       id="balComment"
                                       maxlength="50"
                                       class="form-control"
                                       type="text" required>
                                <small class="form-help text-muted">Not more than 50 characters</small>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit"
                                class="btn btn-outline-info">
                            Apply
                        </button>
                        <button type="button"
                                data-dismiss="modal"
                                class="btn btn-outline-dark">
                            Cancel
                        </button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Reassign-->
<div class="modal"
     tabindex="-1"
     data-backdrop="static"
     role="dialog"
     id="staffReassign">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    Reassign (<span style="font-size: 11pt">
                    {{view.kwargs.pk|zeropadding:3}} - {{object}}
                </span>)
                </h3>
                <button type="button"
                        class="close"
                        aria-label="close"
                        data-dismiss="modal">
                    <i class="fa fa-times text-danger"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">

                    <form action="{% url 'employee-reassign' object.pk %}"
                          method="post">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label" for="cP">Current Position</label>
                                <input id="cP"
                                       class="form-control"
                                       name="current_position"
                                       value="{{object.position}}"
                                       type="text" readonly>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label" for="cB">Current Branch</label>
                                <input id="cB"
                                       class="form-control"
                                       name="current_branch"
                                       value="{{object.branch}}"
                                       type="text" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label" for="startDate">Start Date</label>
                                <input name="start_date" id="startDate" class="form-control" type="date" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label" for="reassign">Type</label>
                                <select onchange="lostFocus()" class="form-control" name="type" id="reassign">
                                    <option value="T">Temporal</option>
                                    <option value="A">Acting</option>
                                    <option value="C">Confirmed</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                        <label class="form-label" for="aa">Change Position:</label>
                        <select class="form-control" name="position" id="aa">
                            <option value="None">No position assigned</option>
                            {% for position in positions %}
                            {% if object.position == position %}
                            <option value="{{position}}" selected>{{position}}</option>
                            {% else %}
                            <option value="{{position}}">{{position}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                            <label for="bb">Change Branch:</label>
                            <select class="form-control" name="branch" id="bb">
                                <option value="None">No Branch Assigned</option>
                                {% for branch in branches %}
                                {% if object.branch == branch %}
                                <option value="{{branch}}" selected>{{branch}}</option>
                                {% else %}
                                <option value="{{branch}}">{{branch}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label class="form-label" for="duration">Duration(in days)</label>
                                    </div>
                                    <div class="col">
                                        <input id="divDuration" 
                                        name="duration" 
                                        value=60 
                                        id="duration" 
                                        class="form-control"
                                        type="number" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label" for="comment">Remark</label>
                                <input name="remark" placeholder="Comment" id="comment" class="form-control" type="text" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                <button type="submit"
                        class="btn btn-outline-info">
                    Apply
                </button>
                <button type="button"
                        data-dismiss="modal"
                        class="btn btn-outline-dark">
                    Cancel
                </button>
            </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--modal Terminate-->
<div class="modal"
     tabindex="-1"
     data-backdrop="static"
     role="dialog"
     id="staffTerminate">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Termination of Staff</h4>
                <button type="button"
                        class="close"
                        aria-label="close"
                        data-dismiss="modal">
                    <i class="fa fa-times text-danger"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <h5>Staff: {{ object.fullname }} with ID {{ object.pk|zeropadding:3 }}</h5>
                        <div class="col mt-2">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                            <form action="{% url 'employee-terminate' object.pk %}" method="post">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label class="form-label" for="type">Type</label>
                                                    <select class="form-control" name="type" id="type">
                                                        <option value="Resign">Resign</option>
                                                        <option value="Sack">Sack</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label" for="remark">
                                                        Remark
                                                    </label>
                                                    <input type="text"
                                                           class="form-control"
                                                           id="remark"
                                                           name="remark"
                                                           placeholder="State the reason"
                                                           value="" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label" for="date">Date</label>
                                                    <input class="form-control"
                                                           type="date"
                                                           name="date"
                                                           value=""
                                                           id="date" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label"
                                                           for="terminate">
                                                        You are about to Terminate this staff. Enter the word
                                                        "TERMINATE"
                                                    </label>
                                                    <input type="text"
                                                           class="form-control"
                                                           name="keyWord"
                                                           value=""
                                                           id="terminate">
                                                </div>
                                                <button type="submit"
                                                        id="btnOK"
                                                        class="btn btn-outline-danger float-right">
                                                    Terminate
                                                </button>
                                                <a class="btn btn-dark" href="{% url 'employee-detail' object.pk %}">
                                                    Cancel
                                                </a>
                                            </form>
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--modal Suspend-->
<div class="modal"
     tabindex="-1"
     data-backdrop="static"
     role="dialog"
     id="staffSuspend">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    Suspend (<span style="font-size: 11pt">
                    {{view.kwargs.pk|zeropadding:3}} - {{object}}
                </span>)
                </h3>
                <button type="button"
                        class="close"
                        aria-label="close"
                        data-dismiss="modal">
                    <i class="fa fa-times text-danger"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form action="{% url 'employee-suspend' object.pk %}"
                          method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label" for="sD">Start Date</label>
                                <input id="sD"
                                       class="form-control"
                                       name="startDate"
                                       value=""
                                       type="date" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label" for="rD">Resumption Date</label>
                                <input id="rD"
                                       class="form-control"
                                       name="resumptionDate"
                                       value=""
                                       type="date" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <!-- <label class="form-label" for="reason">Reason</label> -->
                                    <input name="reason" 
                                    placeholder="Reason for suspending" 
                                    id="reason" 
                                    class="form-control" 
                                    type="text" required>
                                </div>
                            </div>
                        </div>
                    <div class="modal-footer">
                <button type="submit"
                        class="btn btn-outline-info">
                    Apply
                </button>
                <button type="button"
                        data-dismiss="modal"
                        class="btn btn-outline-dark">
                    Cancel
                </button>
            </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--modal Permission-->
<div class="modal"
     tabindex="-1"
     data-backdrop="static"
     role="dialog"
     id="staffPermit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    Permission (<span style="font-size: 11pt">
                    {{view.kwargs.pk|zeropadding:3}} - {{object}}
                </span>)
                </h3>
                <button type="button"
                        class="close"
                        aria-label="close"
                        data-dismiss="modal">
                    <i class="fa fa-times text-danger"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <p>Permissible this year: {{permissible_days}} days</p>
                    <p>Number of permissions: {{permit_count}}</p>
                    <p>Already Consumed this year: {{consumed_days|first}} day{{consumed_days|first|pluralize}}</p>
                    {% if permissible_days > consumed_days %}
                    <p class="text-success">Permission beyond {{balance_days}} day{{balance_days|pluralize}} should not be granted</p>
                    {% endif %}
                    <!--request-permission-update  -->
                    <form action="{% url 'request-permission' object.pk %}" 
                          method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label" for="sF">Start Date & Time</label>
                                <input id="sF"
                                       class="form-control"
                                       name="startFrom"
                                       value=""
                                       type="datetime-local" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label" for="eA">Resume Date & Time</label>
                                <input id="eA"
                                       class="form-control"
                                       name="endingAt"
                                       value=""
                                       type="datetime-local" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <!-- <label class="form-label" for="reasonP">Reason</label> -->
                                    <input name="reason" 
                                    placeholder="Reason for permission" 
                                    id="reasonP" 
                                    class="form-control" 
                                    type="text" required>
                                </div>
                            </div>
                        </div>
                    <div class="modal-footer">
                <button type="submit"
                        class="btn btn-outline-info">
                    Apply
                </button>
                <button type="button"
                        data-dismiss="modal"
                        class="btn btn-outline-dark">
                    Cancel
                </button>
            </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--modal Welfare-->
<div class="modal"
     tabindex="-1"
     data-backdrop="static"
     role="dialog"
     id="staffWelfare">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    Welfare Support (<span style="font-size: 11pt">
                    {{view.kwargs.pk|zeropadding:3}} - {{object}}
                </span>)
                </h3>
                <button type="button"
                        class="close"
                        aria-label="close"
                        data-dismiss="modal">
                    <i class="fa fa-times text-danger"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form action="{% url 'staff-welfare' object.pk %}"
                          method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label" for="sF">Date</label>
                                <input id="sF"
                                       class="form-control"
                                       name="date"
                                       value=""
                                       type="date" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <input name="description" 
                                    placeholder="Enter description/title here" 
                                    id="desc" 
                                    class="form-control" 
                                    type="text" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-label" for="amount">Amount</label>
                                    <input name="amount" 
                                    id="amount" 
                                    class="form-control" 
                                    type="number" required>
                                </div>
                            </div>
                        </div>
                    <div class="modal-footer">
                <button type="submit"
                        class="btn btn-outline-info">
                    Save
                </button>
                <button type="button"
                        data-dismiss="modal"
                        class="btn btn-outline-dark">
                    Cancel
                </button>
            </div>
                </form>
                <h5 class="text-info">Last Entered Record</h5>
                <div class="row">
                    <div class="col">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">{{welfare_last_record.staff}}</li>
                            <li class="list-group-item">{{welfare_last_record.date}}</li>
                            <li class="list-group-item">{{welfare_last_record.amount}}</li>
                            <li class="list-group-item">{{welfare_last_record.description|truncatewords:2}}</li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <button class="float-right btn btn-outline-info btn-sm" 
                            type="button" 
                            data-toggle="modal" 
                            data-target="#welfareDate">
                            View All Others
                        </button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal welfare for a date link is in modal welfare-->
<div class="modal"
     tabindex="-1"
     role="dialog"
     id="welfareDate">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <h3 class="modal-title">
                    Welfare Suport for {{welfare_last_record.date}}
                </h3>
                <button type="button"
                        class="close"
                        aria-label="close"
                        data-dismiss="modal">
                    <i class="fa fa-times text-danger"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    
                    <div class="col">
                        <table class="table table-bordered table-striped" data-toggle="table">
                            <thead>
                                <tr class="bg-info">
                                    <td>Staff</td>
                                    <td>Date</td>
                                    <td>Description</td>
                                    <td>Amount</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for record in welfare_for_a_date %}
                                <tr>
                                    <td>{{record.staff}}</td>
                                    <td>{{record.date}}</td>
                                    <td>{{record.description}}</td>
                                    <td>{{record.amount}}</td>
                                </tr>
                                {% endfor %}
                                <span class="float-right">{{welfare_for_a_date_total_amount|floatformat:'2g'}}</span>    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const date = new Date();
    document.getElementById('dateField').innerHTML = 'Entry Date: ' + date.toDateString();
    function lostFocus() {
        if (document.getElementById("reassign").value=='A') {
            document.getElementById("divDuration").hidden = false;
        }
        else {
            document.getElementById("divDuration").hidden = true;
        }
    }
</script>

{% endblock content %}