{% extends 'users/base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                <legend>Update form</legend>
                <div class="form-group">
                    {{form|crispy}}
                </div>
                <div class="form-group text-right">
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <a class="btn btn-outline-dark" href="{% url 'employee-balance-detail' object.pk %}">
                        <i class="fa fa-reply"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock content%}