{% extends 'users/base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col mt-3">
            <h3>Staff Photo View Page - ({{page_obj.paginator.count}})</h3>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 bg-dark ">
        {% for object in object_list %}
        <div class="col-md-3 p-2 d-flex justify-content-center">
            <div class="card" style="width: 14rem;">
                <img src={{object.image.url}}
                     class="card-img-top img-thumbnail mx-auto d-block"
                     style="height: 300px"
                     alt="...">
                <div class="card-body">
                    <p class="card-text"><img src="{% static 'customer/logo.ico' %}"
                                              class="rounded-circle"
                                              width="40px"
                                              alt="">
                        <span class="text-bg"> {{object.id|zeropadding:3}}</span><br>{{object.fullname}}<br>
                        {% if object.position == 'SCM' and object.branch %}
                        <span class="text-info">{{object.position}}-{{object.branch}}</span>
                        {% else %}
                        <span class="text-info">{{object.position}}</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <div class="pagination mt-3">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a type="button" class="btn btn-outline-info btn-sm" href="?page=1">
                            <i class="fa fa-fast-backward"></i>
                        </a>
                        <a type="button" class="btn btn-outline-info btn-sm" href="?page={{page_obj.previous_page_number}}">
                            <i class="fa fa-backward"></i>
                        </a>
                    {% endif %}
                    <span class="current">
                        Page {{ page_obj.number}} of
                        {{page_obj.paginator.num_pages}}
                    </span>
                    {% if page_obj.has_next %}
                    <a type="button" class="btn btn-outline-info btn-sm" href="?page={{ page_obj.next_page_number }}">
                        <i class="fa fa-forward"></i></a>
                    <a type="button" class="btn btn-outline-info btn-sm" href="?page={{ page_obj.paginator.num_pages }}">
                        <i class="fa fa-fast-forward"></i></a>
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="col mt-3 mb-5">
            <a type="button" class="btn btn-outline-info btn-sm float-right" href="{% url 'staff-list' %}">
                <i class="fa fa-reply"></i> Return
            </a>
        </div>
    </div>
</div>
{% endblock %}