{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row p-3 d-flex justify-content-center">
        <div class="col-sm-8 p-3 shadow-lg">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <legend class="text-danger">{{ title }} Employee: {{applicant_obj}}</legend>
                <fieldset class="bg-light">
                    <div class="ml-2">{{ form|crispy }}</div>
                    <div class="ml-2">{{ other_form|crispy }}</div>
                </fieldset>
                <div class="form-group p-2">
                    <button class="btn btn-outline-warning" type="submit">Submit</button>
                    {% if title == "Update" %}
                    <a class="btn btn-outline-light float-right"
                       href="{% url 'employee-detail' object.pk %}">
                        <i class="fa fa-reply text-danger"></i> Return</a>
                    {% else %}
                    <a class="btn btn-outline-light float-right"
                       href="{% url 'apply-index' %}">
                        <i class="fa fa-reply text-danger"></i> Return</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    
    const numberInput = document.getElementById('id_salary');
    
    numberInput.addEventListener('input', function(event) {
    const input = event.target.value.replace(/[^\d.-]/g, '');
    
    const cursorPosition = event.target.selectionStart;

    const currencyValue = Number(input).toLocaleString(undefined, {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
    });
    event.target.value = currencyValue;
    const newCursorPosition = calculateCursorPosition(cursorPosition, event.target.value);
    event.target.setSelectionRange(newCursorPosition, newCursorPosition);
    
    });

    function calculateCursorPosition(oldPosition, newValue) {
        const oldValueLength = numberInput.value.length;
        const commaCountOld = (numberInput.value.match(/,/g) || []).length;
        const commaCountNew = (newValue.match(/,/g) || []).length;

        const delta = commaCountNew - commaCountOld;

        return oldPosition + delta;
    }

</script>
{% endblock %}