{% extends 'users/base.html' %}
{% load custom_templates %}

{% block content %}
<div class="container-grid">
    <h4 class="text-success mt-3"><i>Gratuity Net Value: N{{total_value|floatformat:'2g'}}</i></h4>
    <!-- The active staff gratuity -->
    <div class="row">
        <div class="col">
            <table 
                class="table"
                data-toggle="table" 
                data-pagination="true"
                data-search="true">
                <caption class="text-success">
                    <small>Staff Gratuity Statement</small>
                </caption>
                
                <thead>
                    <tr class="text-center bg-success text-white">
                        <th>Staff ID</th>
                        <th>Name</th>
                        <th>Credit</th>
                        <th>Debit</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for obj in active_staff %}
                    <tr>
                        <td class="text-center">
                            <a href="{% url 'employee-gratuity-list' obj.id %}">{{obj.id|zeropadding:3}}</a>
                        </td>
                        <td>{{obj.staff}}</td>
                        <td class="text-right">{{obj.credit|default_if_none:0|floatformat:'2g'}}</td>
                        <td class="text-right">{{obj.debit|default_if_none:0|floatformat:'2g'}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
    </div>
    <hr>
    <!-- Terminated Staff Statement -->
    <div class="row">
        <div class="col">
            <table 
            class="table"
            data-toggle="table" 
            data-pagination="true"
            data-search="true">
                <caption class="text-secondary">
                    <small>Terminated Staff Gratuity Statement</small> 
                </caption>
                <thead>
                    <tr class="text-center bg-secondary text-white">
                        <th>Staff ID</th>
                        <th>Name</th>
                        <th>Credit</th>
                        <th>Debit</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for obj in term_staff %}
                    <tr>
                        <td class="text-center">{{obj.id|zeropadding:3}}</td>
                        <td>{{obj.staff}}</td>
                        <td class="text-right">{{obj.credit|default_if_none:0|floatformat:'2g'}}</td>
                        <td class="text-right">{{obj.debit|default_if_none:0|floatformat:'2g'}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col">
            {% if return == 'detail' %}
            <a class=" btn btn-outline-dark float-right" href="{% url 'employee-detail' view.kwargs.pk %}">
            {% else %}
            <a class=" btn btn-outline-dark float-right" href="{% url 'staff-home' %}">
            {% endif %}
                <i class="fa fa-reply"></i>
            </a>
        </div>
    </div>
</div>
{% endblock content%}

