{% extends 'users/base.html' %}
{% load static %}
{% load custom_templates %}


{% block content %}
<div class="container">
    <div class="row p-2">
        <div class="col">
            {% for key, value in countdown %}
            {% if value == 0 %}
               <h5 style="font-family: cursive; color: #21ae10"
                   class="text-center">
                   Happy Birthday {{key}}. Our management and staff hereby wishes
        you a lovely years ahead</h5>
            {% endif %}
        {% endfor %}
        </div>
    </div>
<!--    upcoming birthdays-->
    {% if countdown %}
    <div class="row">
        <div class="col">
            <h5>Upcoming Birthday</h5>
        </div>
    </div>
    <div class="row">
        <!--        {{countdown}}-->
        <div class="col-sm-6">
            <ul>
        {% for key, value in countdown %}
            {% if value != 0 %}
                    <li style="font-family: cursive; font-size:13pt" class="text-info">{{key}}, your birthday comes up in {{value}}
                        day{{value|pluralize}}
                    </li>
            {% endif %}
        {% endfor %}
    </ul>
        </div>
    </div>
    {% endif %}
</div>
<div class="section mr-2">
    <div class="p-3">
        <div class="row">
            <div class="col text-center">
                <h3>Staff Home Page</h3>
            </div>
        </div>
        <div class="row">
        <div class="col-3 bg-light">
            <ul class="list-group list-group-flush">
            <!--Employee-->
              <li class="list-group-item">
                  <div class="row mb-1">
                    <a class="ml-1" href="{% url 'staff-list' %}">
                        Employee
                    </a>
                    </div>
              </li>
              <li class="list-group-item">
                <div class="row mb-1">
                  <a class="ml-1" href="{% url 'request-permission-list' %}">
                      Approve or Disapprove Permission
                  </a>
                  </div>
            </li>
                <!--Payroll-->
              <li class="list-group-item">
                  <div class="row mb-1">
                    <a class="ml-1" href="{% url 'salary' %}">Payroll</a>
                  </div>
              </li>
<!--                Profile balance-->
              <li class="list-group-item">
                  <div class="row mb-1">
                    <a class="ml-1" href="{% url 'employee-balance-list' %}">
                        Profile Balance (Gratuity)
                    </a>
                    </div>
              </li>
                <!--Policies-->
              <li class="list-group-item"><div class="row mb-1">
                            <a class="ml-1" href="{% url 'staff-policies' %}">Policies</a>
                        </div></li>
                <!--Procedures-->
              <li class="list-group-item"><div class="row mb-1">
                            <a class="ml-1" href="">Procedure</a>
                        </div></li>
                <!--    SCUSH-->
              <li class="list-group-item"><div class="row mb-1">
                            <a class="ml-1" href="{% url 'staff-scush' %}">Progress with SCUSH</a>
                        </div></li>
                <!--                Return Home-->
                <li class="list-group-item">
                <a href="{% url 'home' %}"><i class="fa fa-reply"></i> Home</a>
            </li>
        </ul>
        </div>
    <!--   Body of Page     -->
        <div class="col-9" style="font-family: Times New Roman; font-size: 12pt">
            {{payroll_list}}
            <p>{{message_one}}</p>
        <!--Workforce basic characteristics -->
            <div class="container mb-3">
                <div class="row text-info">
                <div class="col">
                    Workforce: {{workforce}}
                </div>
                <div class="col">
                    Male: {{male}}
                </div>
                <div class="col">
                    Female: {{female}}
                </div>
                <div class="col">
                    Married: {{married}}
                </div>
                <div class="col">
                    Single: {{single}}
                </div>
            </div>
            </div>
            <p>{{ message_two }}</p>
            <div class="container mb-3">
                <div class="row text-info">
                    <div class="col">
                        Management: {{management}}
                    </div>
                    <div class="col">
                        Non-Management: {{non_management}}
                    </div>
                    <div class="col">
                        <a href="{% url 'terminated' staff_category %}">Terminated: {{terminated}}</a>
                    </div>
                    <div class="col">
                        Probation: {{probation}}
                    </div>
                </div>
            </div>
<!--            Probation Tables-->
            <div class="row">
                <div class="col-sm-6 text-center">
                    <table class="table table-sm" 
                    data-toggle="table" 
                    data-pagination="true"
                    data-page-list="[5, 10, All]"
                    data-page-size="5">
                        <caption>Primary Probation</caption>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Employee</th>
                            <th>Time Left</th>
                            <th>Due Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for staff in staff_on_probation %}
                        <tr>
                            <td>{{staff.code|zeropadding:3}}</td>
                            <td>{{staff.name}}</td>
                            <td>{{staff.date|timeuntil:today }}</td>
                            <td>{{staff.date|date:'jS M, Y'}}</td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                
                <div class="col-sm-6 text-center">
                    <table 
                    class="table table-sm" 
                    data-toggle="table" 
                    data-pagination="true"
                    data-page-list="[5, 10, All]"
                    data-page-size="5">
                        <caption>Secondary Probation</caption>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Employee</th>
                            <th>Start Date</th>
                            <th>Due Date</th>
                            <th>Days Left</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for data in reassign_data %}
                        <tr>
                            <td>{{data.code|zeropadding:3}}</td>
                            <td>{{data.staff}}</td>
                            <td>{{data.start_date|date:'jS M, Y'}}</td>
                            <td>{{data.due_date|date:'jS M, Y'}}</td>
                            {% if data.days_left > 0 %}
                            <td>{{data.days_left}}</td>
                            {% else %}
                            <td>Complete</td>
                            {% endif %}
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                
            </div>
            <div class="row mt-2">
                <div class="col-sm-6 text-center">
                    <table 
                    class="table table-sm" 
                    data-toggle="table" 
                    data-click-to-select="true"
                    data-pagination="true"
                    data-page-list="[5, 10, All]"
                    data-page-size="5">
                        <caption>Permissions</caption>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Employee</th>
                            <th>Duration</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for permit in permissions %}
                        <tr>
                            <td>{{permit.staff.id|zeropadding:3}}</td>
                            <td>{{permit.staff.fullname}}</td>
                            <td>{{permit.duration }}</td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                
                <div class="col-sm-6 text-center">
                    
                </div>
                
            </div>
        </div>
    </div>

    </div>
</div>
{% endblock %}