{% extends 'users/base.html' %}

{% block content %}
<div class="container mt-3">
    <h3 class="text-center">{{title}}</h3>
    <table class="table" data-toggle="table">
        <thead>
            <tr>
                <th>DB Table</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{rows.table}}</td>
                {% if status == 'OK' %}
                <td>{{rows.status}}</td>
                {% else %}
                <td><a href="{% url 'pk-reset-payroll' %}">Reset required</a></td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    <div class="row mt-3 float-right">
        <div class="col">
            <a type="button"
               class="btn btn-sm btn-outline-dark"
               href="{% url 'home' %}">
                <i class="fa fa-reply"> Home</i>
            </a>
        </div>
    </div>
</div>
{% endblock%}