{% extends 'users/base.html' %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h3>Company Policies</h3>
        </div>
    </div>
    <div class="row">
        <div style="font-family: Times New Roman; font-size: 13pt"
             class="col">
            <p>
                Company Policies are created to establish expectations and to provide guidance on how to
                consistently handle workplace situations. Although these policies cannot be all-encompassing, they
                provide direction regarding what is appropriate as well as inappropriate or unacceptable behaviour.
                This document help maintain order within the organization and ensure that staff are treated fairly and
                equally.
            </p>
            <p>
                Our aim is to set up easily accessible company policies that is clear and help set behavioral and
                performance standard within the workplace. This document will help all staff avoid failure and its
                consequences. It will outline rules to abide by and therefore keep management accountable.
                No matter what, this document is not perfect and will always be subject to reviews from time to time
                with the intention to make it better as we share experiences together.
            </p>
            <h5>New Staff Policy</h5>
            <p>
                Every new staff must be able to read with understanding. They must be given access to this document and
                confirm that they have read, understood and accepted to abide by the rules of the document.
                This must be their first assignment as a staff of this company. They will also attest that all
                information provided during application are correct and if any information given is found to be
                incorrect or any necessary information not given will result to immediate sack.
            </p>
            <h5>Punctuality Policy</h5>
            <ul>
                <li>
                <b>Late to Work Policy:</b> Resumption time is 7:45am and closing time is 5:45pm. You are advised to
                    resume before time and depart after closing time. However, If you must be late, send a
                    <i class="text-success">written message</i> (not excluding SMS or Chat) to your HRM giving your
                    reason. This is subject to verification and approval before the permission can apply.
                    Also, permission can be obtained earlier through application to be late. In this case, approval
                    notice document <i class="text-danger">MUST</i> be obtained from HRM.
                </li>
<!--                <li>-->
<!--                    <b>Absent from Work Policy:</b> Should there be need to be absent from work, you will have to apply-->
<!--                    to HRM through your line head who is to recommend to Human Resources Department on it and including-->
<!--                    an acting staff in place. The HRM will receive this application seven(7) days before the commencement-->
<!--                    date and will have to approve it three(3) days to the commencement date. However, only on emergency-->
<!--                    cases can we waive the durations. In both situations, approval notice document must be obtained-->
<!--                    else the request is null and void.-->
<!--                </li>-->
            </ul>
            <p class="text-center bg-dark text-warning">Note that permission given are in man-hours and will affect your punctuality score</p>
        </div>
    </div>
</div>
{% endblock %}