{% extends 'users/base.html' %}
{% load custom_tags %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-info" 
            data-toggle="table" 
            data-pagination="true">
                <caption>List of Pending Request for Permission</caption>
                <thead class="bg-light">
                    <tr>
                        <th>ID</th>
                        <th>Requested By</th>
                        <th>Staff</th>
                        <th>Reason</th>
                        <th>Request Date</th>
                        <th>Start Date</th>
                        <th>Resume Date</th>
                        <th>Duration</th>
                        <th>Decision</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td>{{object.id|zeropadding:3}}</td>
                        <td>{{object.request_by}}</td>
                        <td>{{object.staff}}</td>
                        <td>{{object.reason}}</td>
                        <td>{{object.date}}</td>
                        <td>{{object.start_date}}</td>
                        <td>{{object.resume_date}}</td>
                        <td>{{object.duration}}</td> 
                        <td><a href="{% url 'permission-from-request' object.pk %}">Approve or Disapprove</a></td>   
                        <td><a href="{% url 'request-permission-update' object.pk %}" class="fa fa-edit ml-2"></a></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <table class="table" 
            data-toggle="table" 
            data-pagination="true">
                <caption>Granted Permissions</caption>
                <thead class="bg-light">
                    <tr>
                        <th>ID</th>
                        <th>Staff</th>
                        <th>Duration</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in permissions %}
                    <tr>
                        <td><a href="" class="fa fa-edit ml-2"></a>
                            <a href="#">{{object.code|zeropadding:3}}</a>
                        </td>
                        <td>{{object.name}}</td>
                        <td>
                            {% if object.duration|first != 0 %}
                            {{object.duration|first }}Day{{object.duration|first|pluralize}}
                            {% endif %}

                            {% if object.duration|last != 0 %}
                            {{object.duration|last}}Hr{{object.duration|last|pluralize}}
                            {% endif %}
                        </td>
                        <td>{{object.count}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{% url 'staff-home' %}" class="btn btn-outline-dark float-right">
                <i class="fa fa-reply"></i>
            </a>
        </div>
    </div>
</div>
{% endblock%}