{% extends 'users/base.html' %}

{% block content %}
<div class="row m-3">
        <div class="col">
            <h3>SCUSH App design progress</h3>
        </div>
    </div>
<div class="m-3">
    <table class="table table-sm">
        <thead class="">
        <tr>
            <th>SN</th>
            <th>Process</th>
            <th>Title Page</th>
            <th>App</th>
            <th>Template File</th>
            <th>Views Class</th>
            <th>Models Class</th>
            <th>url path</th>
            <th>url name</th>
            <th>Remark</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Basic</td>
                <td>Index</td>
                <td>Customer</td>
                <td>index.html</td>
                <td>IndexView</td>
                <td>---</td>
                <td>/</td>
                <td>index</td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Basic</td>
                <td>Home</td>
                <td>Customer</td>
                <td>home.html</td>
                <td>HomeView</td>
                <td>---</td>
                <td>home/</td>
                <td>home</td>
                <td></td>
            </tr>
            <tr>
            <td>3</td>
            <td>Basic</td>
            <td>About</td>
            <td>Customer</td>
            <td>about.html</td>
            <td>AboutView</td>
            <td>---</td>
            <td>about/</td>
            <td>about</td>
            <td></td>
        </tr>
            <tr>
            <td>4</td>
            <td>Application</td>
            <td>All List</td>
            <td>apply</td>
            <td>applicant_list.html</td>
            <td>ApplyListView</td>
            <td>Applicant</td>
            <td>apply/list/all/</td>
            <td>apply</td>
            <td></td>
        </tr>
            <tr>
            <td>5</td>
            <td>Application</td>
            <td>Pending List</td>
            <td>apply</td>
            <td>applicant_list_pending.html</td>
            <td>ApplyListViewPending</td>
            <td>Applicant</td>
            <td>apply/list/pending/</td>
            <td>apply-pending</td>
            <td></td>
        </tr>
            <tr>
            <td>6</td>
            <td>Application</td>
            <td>Employed List</td>
            <td>apply</td>
            <td>applicant_list_employed.html</td>
            <td>ApplyListViewEmployed</td>
            <td>Applicant</td>
            <td>apply/list/employed/</td>
            <td>apply-employed</td>
            <td></td>
        </tr>
            <tr>
            <td>7</td>
            <td>Application</td>
            <td>Rejected List</td>
            <td>apply</td>
            <td>applicant_list_rejected.html</td>
            <td>ApplyListViewRejected</td>
            <td>Applicant</td>
            <td>apply/list/rejected/</td>
            <td>apply-rejected</td>
            <td></td>
        </tr>
            <tr>
            <td>8</td>
            <td>Application</td>
            <td>Create</td>
            <td>apply</td>
            <td>applicant_form.html</td>
            <td>ApplyCreateView</td>
            <td>Applicant</td>
            <td>apply/new/</td>
            <td>apply-create</td>
            <td></td>
        </tr>
            <tr>
            <td>9</td>
            <td>Application</td>
            <td>Detail</td>
            <td>apply</td>
            <td>applicant_detail.html</td>
            <td>ApplyDetailView</td>
            <td>Applicant</td>
            <td>apply/int:pk>/detail</td>
            <td>apply-detail</td>
            <td></td>
        </tr>
            <tr>
            <td>10</td>
            <td>Application</td>
            <td>Update</td>
            <td>apply</td>
            <td>applicant_form.html</td>
            <td>ApplyUpdateView</td>
            <td>Applicant</td>
            <td>apply/int:pk>/update/</td>
            <td>apply-update</td>
            <td></td>
        </tr>
            <tr>
            <td>11</td>
            <td>Application</td>
            <td>Delete</td>
            <td>apply</td>
            <td>applicant_delete.html</td>
            <td>ApplyDeleteView</td>
            <td>Applicant</td>
            <td>apply/int:pk>/delete/</td>
            <td>apply-delete</td>
            <td></td>
        </tr>
            <tr>
            <td>12</td>
            <td>Staff</td>
            <td>Staff Home</td>
            <td>staff</td>
            <td>home_page.html</td>
            <td>StaffMainPageView</td>
            <td>Employee</td>
            <td>staff/home/</td>
            <td>staff-home</td>
            <td></td>
        </tr>
            <tr>
            <td>13</td>
            <td>Staff</td>
            <td>All List</td>
            <td>staff</td>
            <td>employee_list.html</td>
            <td>StaffListView</td>
            <td>Employee</td>
            <td>staff/all</td>
            <td>staff-list</td>
            <td></td>
        </tr>
            <tr>
            <td>14</td>
            <td>Staff</td>
            <td>Scush</td>
            <td>staff</td>
            <td>scush.html</td>
            <td>StaffScushView</td>
            <td>----</td>
            <td>scush/</td>
            <td>staff-scush</td>
            <td></td>
        </tr>
            <tr>
            <td>15</td>
            <td>Staff</td>
            <td>Policies</td>
            <td>staff</td>
            <td>policies.html</td>
            <td>StaffPoliciesView</td>
            <td>----</td>
            <td>policies/</td>
            <td>staff-policies</td>
            <td></td>
        </tr>
            <tr>
            <td>16</td>
            <td>Staff</td>
            <td>Photo</td>
            <td>staff</td>
            <td>employee_pictures.html</td>
            <td>StaffListPicturesView</td>
            <td>Employee</td>
            <td>photos/</td>
            <td>staff-pictures</td>
            <td></td>
        </tr>
            <tr>
            <td>17</td>
            <td>Staff</td>
            <td>Detail</td>
            <td>staff</td>
            <td>employee_detail.html</td>
            <td>StaffDetailView</td>
            <td>Employee</td>
            <td>int:pk>/detail/</td>
            <td>employee-detail</td>
            <td></td>
        </tr>
            <tr>
            <td>18</td>
            <td>Staff</td>
            <td>Update</td>
            <td>staff</td>
            <td>employee_form.html</td>
            <td>StaffUpdateView</td>
            <td>Employee</td>
            <td>int:pk>/update/</td>
            <td>employee-update</td>
            <td></td>
        </tr>
            <tr>
            <td>19</td>
            <td>Staff</td>
            <td>New</td>
            <td>staff</td>
            <td>employee_form.html</td>
            <td>StaffCreateView</td>
            <td>Employee</td>
            <td>new/int:pk>/</td>
            <td>employee-create</td>
            <td></td>
        </tr>
            <tr>
            <td>20</td>
            <td>Staff</td>
            <td>Private</td>
            <td>staff</td>
            <td>employee_private.html</td>
            <td>StaffListPrivateView</td>
            <td>Employee</td>
            <td>private/</td>
            <td>staff-private</td>
            <td></td>
        </tr>
            <tr>
            <td>22</td>
            <td>Staff</td>
            <td>Terminate</td>
            <td>staff</td>
            <td>employee_detail.html:modal</td>
            <td>StaffTerminate</td>
            <td>Employee</td>
            <td>terminate/int:pk>/</td>
            <td>employee-terminate</td>
            <td></td>
        </tr>
            <tr>
            <td>23</td>
            <td>Staff</td>
            <td>Reassign</td>
            <td>staff</td>
            <td>employee_detail.html:modal</td>
            <td>StaffReassign</td>
            <td>Employee</td>
            <td>reassign/int:pk>/</td>
            <td>employee-reassign</td>
            <td></td>
        </tr>
            <tr>
            <td>24</td>
            <td>Staff</td>
            <td>Suspend</td>
            <td>staff</td>
            <td>employee_detail.html:modal</td>
            <td>StaffSuspend</td>
            <td>Employee</td>
            <td>suspend/int:pk>/</td>
            <td>employee-suspend</td>
            <td></td>
        </tr>
            <tr>
            <td>25</td>
            <td>Staff</td>
            <td>Permit</td>
            <td>staff</td>
            <td>employee_detail.html:modal</td>
            <td>StaffPermit</td>
            <td>Employee</td>
            <td>permit/int:pk>/</td>
            <td>employee-permit</td>
            <td></td>
        </tr>

            <tr>
            <td>26</td>
            <td>Payroll</td>
            <td>List</td>
            <td>staff</td>
            <td>payroll/credit_list.html</td>
            <td>CreditNoteListView</td>
            <td>CreditNote</td>
            <td>payroll/credit/</td>
            <td>credit-list</td>
            <td></td>
        </tr>
            <tr>
            <td>27</td>
            <td>Payroll</td>
            <td>Create</td>
            <td>staff</td>
            <td>payroll/creditnote_form.html</td>
            <td>CreditNoteCreateView</td>
            <td>CreditNote</td>
            <td>payroll/credit-note/new/</td>
            <td>credit-create</td>
            <td></td>
            </tr>
            <tr>
            <td>28</td>
            <td>Payroll</td>
            <td>List</td>
            <td>staff</td>
            <td>payroll/debit_list.html</td>
            <td>DebitNoteListView</td>
            <td>DebitNote</td>
            <td>payroll/debit/</td>
            <td>debit-list</td>
            <td></td>
        </tr>
            <tr>
            <td>29</td>
            <td>Payroll</td>
            <td>Create</td>
            <td>staff</td>
            <td>payroll/debitnote_form.html</td>
            <td>DebitNoteCreateView</td>
            <td>DebitNote</td>
            <td>payroll/debit-note/new/</td>
            <td>staff-pictures</td>
            <td></td>
        </tr>
            <tr>
            <td>30</td>
            <td>Payroll</td>
            <td>Generate</td>
            <td>staff</td>
            <td>payroll/salary.html</td>
            <td>StartGeneratePayroll</td>
            <td>Payroll</td>
            <td>payroll/start/generate/salary/</td>
            <td>salary</td>
            <td></td>
            </tr>
            <tr>
            <td>31</td>
            <td>Payroll</td>
            <td>Update</td>
            <td>staff</td>
            <td>payroll/generated_payroll.html</td>
            <td>GeneratePayroll</td>
            <td>Payroll</td>
            <td>payroll/generated_payroll/</td>
            <td>generate_payroll</td>
            <td></td>
        </tr>
            <tr>
            <td>32</td>
            <td>Staff</td>
            <td>New</td>
            <td>staff</td>
            <td>employee_form.html</td>
            <td>StaffCreateView</td>
            <td>Employee</td>
            <td>new/int:pk>/</td>
            <td>employee-create</td>
            <td></td>
        </tr>
            <tr>
            <td>33</td>
            <td>Staff</td>
            <td>Private</td>
            <td>staff</td>
            <td>employee_private.html</td>
            <td>StaffListPrivateView</td>
            <td>Employee</td>
            <td>private/</td>
            <td>staff-private</td>
            <td></td>
        </tr>
            <tr>
            <td>34</td>
            <td>Staff</td>
            <td>Terminate</td>
            <td>staff</td>
            <td>employee_detail.html:modal</td>
            <td>StaffTerminate</td>
            <td>Employee</td>
            <td>terminate/int:pk>/</td>
            <td>employee-terminate</td>
            <td></td>
        </tr>
            <tr>
            <td>35</td>
            <td>Staff</td>
            <td>Reassign</td>
            <td>staff</td>
            <td>employee_detail.html:modal</td>
            <td>StaffReassign</td>
            <td>Employee</td>
            <td>reassign/int:pk>/</td>
            <td>employee-reassign</td>
            <td></td>
        </tr>
            <tr>
            <td>36</td>
            <td>Staff</td>
            <td>Suspend</td>
            <td>staff</td>
            <td>employee_detail.html:modal</td>
            <td>StaffSuspend</td>
            <td>Employee</td>
            <td>suspend/int:pk>/</td>
            <td>employee-suspend</td>
            <td></td>
        </tr>
            <tr>
            <td>37</td>
            <td>Staff</td>
            <td>Permit</td>
            <td>staff</td>
            <td>employee_detail.html:modal</td>
            <td>StaffPermit</td>
            <td>Employee</td>
            <td>permit/int:pk>/</td>
            <td>employee-permit</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container m-3">
    <div class="row">
        <div class="col">
            <ol>
                <li>Home Page - <span class="text-danger">customer/home.html</span></li>
                <li>About Page - <span class="text-danger">customer/about.html</span> - About page is an unrestricted web page. It is intended for general public</li>
                <li>Applicants and Staff Database
                    <ol>
                        <li>Applicant
                        <ul>
                            <li>Create - <span class="text-danger">applicant_form.html</span> - Linked from apply in the About page for general access</li>
                            <li>Read(View)
                                <ol>
                                    <li>All - <span class="text-danger">applicant_list.html</span></li>
                                    <li>Pending - <span class="text-danger">applicant_list_pending.html</span></li>
                                    <li>Employed - <span class="text-danger">applicant_list_employed.html</span></li>
                                    <li>Rejected - <span class="text-danger">applicant_list_rejected.html</span></li>
                                    <li>Detail - <span class="text-danger">applicant_detail.html</span></li>
                                </ol>
                            </li>
                            <li>Update - <span class="text-danger">applicant_form.html</span></li>
                        </ul>
                        </li>
                        <li>Staff
                            <ul>
                                <li>Home Page - <span class="text-danger">home_page.html</span></li>
                                <li>Create - <span class="text-danger">employee_form.html</span></li>
                                <li>Read(View)
                                    <ol>
                                        <li>All - <span class="text-danger">employee_list.html</span></li>
                                        <li>Private - <span class="text-danger">employee_list_private.html</span></li>
                                        <li>Photo - <span class="text-danger">employee_pictures.html</span></li>
                                        <li>Detail - <span class="text-danger">employee_detail.html</span></li>
                                    </ol>
                                </li>
                                <li>Update</li>
                                <li>Delete</li>
                                <li>Scush - <span class="text-danger">scush.html</span></li>
                            </ul>
                        </li>
                    </ol>
                </li>
                <li>Payroll Process - embedded into the staff app: Requires
                    <ol>
                        <li>Staff Database - already designed</li>
                        <li>Credit Database
                            <ul>
                                <li>Create - <span class="text-danger">staff/payroll/creditnote_form.html</span></li>
                                <li>Read(View) - <span class="text-danger">staff/payroll/credit_list.html</span></li>
                                <li>Update - <span class="text-danger">staff/payroll/creditnote_form.html</span></li>
                                <li>Delete - not designed</li>
                            </ul>
                        </li>
                        <li>Debit Database
                            <ul>
                                <li>Create</li>
                                <li>Read</li>
                                <li>Update</li>
                                <li>Delete</li>
                            </ul>
                        </li>
                    </ol>
                </li>
                <li>Stock Database</li>
                <li>Delivery Process</li>
            </ol>
        </div>
    </div>
</div>
{% endblock content%}