{% extends 'users/base.html' %}
{% load static %}
{% load custom_tags %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <table data-toggle="table"
               data-pagination="true"
               class="table caption-top table-sm">
            <caption>
                <div class="row">
                    <div class="col">
                        Terminated Staff
                    </div>
                </div>
            </caption>

            <thead class="bg-dark text-white">
            <tr class="text-center">
                <th scope="col">ID</th>
                <th width="40px" scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Date Employed</th>
                <th scope="col">Date Terminated</th>
                <th scope="col">Worked for</th>
                <th scope="col">Nature</th>
            </tr>
            </thead>
            <tbody>
                
            {% for employee in object_list %}
            <tr class="text-center">
                <th scope="row">
                    <a href="{% url 're-engage' employee.pk %}">{{ employee.staff.pk|zeropadding:3 }}</a>
                </th>
                <td class="text-center"><img src="{{ employee.staff.image.url }}"
                         class="rounded-circle"
                         width="50px"
                         height="50px"
                         alt="">
                </td>
                <td class="text-left">{{employee.staff.fullname}}</td>
                <td>{{employee.staff.date_employed}}</td>
                <td>{{employee.date}}</td>
                <td>{{employee.duration}} days</td>
                <td>{{employee.termination_type}}</td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>

            </tfoot>
        </table>
        </div>
    </div>
    <div class="row float-right">
        <div class="col">
            <a type="button" class="btn btn-outline-dark" href="{% url 'staff-home' %}"><i class="fa fa-reply"></i></a>
        </div>
    </div>
</div>
  
{% endblock %}
  
  