{% extends 'users/base.html' %}
{% load static %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col mt-3">
            <h2 class="text-secondary text-center bg-light">{{object.staff}} - {{object.staff.id|zeropadding:3}}</h2>
            <div class="row">
                <div class="col-sm-9">
                    <div class="media">
                        <img src="{{object.staff.image.url}}"
                             width="150px"
                             height="150px"
                             class="rounded mr-3"
                             alt="...">
                        <div class="media-body">
                          <ul class="list-group list-group-flush list-group-light">
                            <li class="list-group-item">Date Employed: <span class="badge badge-dark badge-pill p-2 float-right">{{object.staff.date_employed}}</span></li>
                            <li class="list-group-item">Date Terminated: <span class="badge badge-dark badge-pill p-2 float-right">{{object.date}}</span></li>
                            <li class="list-group-item">Worked for: <span class="badge badge-dark badge-pill p-2 float-right">{{object.duration}} days</span></li>
                            <li class="list-group-item">Type of Termination: <span class="badge badge-dark badge-pill p-2 float-right">{{object.termination_type}}</span></li>
                            <li class="list-group-item">Reason for Termination: <span class="badge badge-dark badge-pill p-2 float-right">{{object.remark}}</span></li>
                            <li class="list-group-item">Ended as: <span class="badge badge-dark badge-pill p-2 float-right">{% if object.staff.is_management %} Management {% else %} Non-management {% endif %} Staff</span></li>
                            <li class="list-group-item">Salary paid out: <span class="badge badge-dark badge-pill p-2 float-right">{{salary_paid_out}}</span></li>
                            <li class="list-group-item">Permission granted in hours: <span class="badge badge-dark badge-pill p-2 float-right">{{permissions_taken}}</span></li>
                            <li class="list-group-item">Gratuity: <span class="badge badge-dark badge-pill p-2 float-right">{{gratuity}}</span></li>
                          </ul>
                            
                            <div class="row m-3">
                              <div class="col">
                                <a type="button" class="btn btn-outline-info" href="#" data-toggle="modal" data-target="#reEngage">Engage</a>
                              </div>
                              <div class="col">
                                <a type="button" class="btn btn-dark float-right" href="{% url 'terminated' 'terminate' %}">Return</a>
                              </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Re-engage -->
  <div class="modal fade" id="reEngage" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{object}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="." method="post">
            {% csrf_token %}
        <div class="modal-body">
          <div class="row">
            
            <div class="col">
                <p>Date Previously Employed: {{object.staff.date_employed}}</p>
                <div class="form-group">
                    <label for="" >Update Employment Date<sup class="text-danger">**</sup></label>
                    <input name="date" class="form-control" type="date" required>
                </div>
                <p>Previously Salary: {{object.staff.salary}}</p>
                <div class="form-group">
                    <label for="" >Updated Salary<sup class="text-danger">**</sup></label>
                    <input name="salary" class="form-control" type="number" required>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" name="management" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Management
                    </label>
                </div>
                <p class="text-info">Engage this staff and update profile accordingly</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Engage</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}