{% extends 'users/base.html' %}

{% block content %}   
<div class="container mt-2">
    <div class="row">
        <div class="col">
            <h3 class="text-center">{{object.store}}</h3>
            <ul class="list-group">
                <li class="list-group-item">Name: {{object.name}}</li>
                <li class="list-group-item">Account Number: {{object.account_number}}</li>
                <li class="list-group-item">Bank: {{object.bank}}</li>
                <li class="list-group-item">
                    <a class="btn btn-primary" href="{% url 'warehouse-bank-update' object.pk%}">Update Bank Account</a>
                    <a class="btn btn-dark float-right" href="{% url 'warehouse-list-all' %}">Cancel</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}