{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h3>{{title}} Bank Account</h3>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                <fieldset class="bg-light">
                    {% if title == 'Add' %}
                    <legend>This Account Creation will be for {{store}}</legend>
                    {% endif %}
                    {{form|crispy}}
                </fieldset>
                <div class="row">
                    <div class="col">
                        <button type="submit"
                                class="btn btn-outline-primary">
                            Submit
                        </button>
                        <a href="{% url 'warehouse-detail' view.kwargs.pk %}"
                           class="btn btn-outline-dark float-right">
                            Cancel
                        </a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock content%}