{% extends 'users/base.html' %}
{% block head %}
<style>

    .container {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
        font-size: medium;
    }
    p {
        color: rgb(117, 19, 117);
    }
</style>
{% endblock %}
{% block content %}
<div class="container mt-3">
    <h3 class="text-center">Navigating the Facilities Home Page</h3>
    <div class="row">
        <div class="col-sm">
            <h5>There sections of the facilities management page are</h5>
            <ul class="list-group list-group-horizontal mb-2">
                <li class="list-group-item">Facilities</li>
                <li class="list-group-item">Rent</li>
                <li class="list-group-item">Levy</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>Add Record to Facility</p>
            <ul>
                <li>Click the Facility</li>
                <li>Below the table (if there are records) is an <a href=""><i
                            class="fa fa-plus text-warning"></i>Add</a> button
                    click to add new facility</li>
                <li>Click Submit to Save</li>
            </ul>
            <p>Update Facility</p>
            <ul>
                <li>Click the Facilities link</li>
                <li>Click a facility on the name column to display it's page</li>
                <li>Click on Update, an update form will display</li>
                <li>Adjust record and click Submit to Save</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <p>Pay Rent</p>
            <ul>
                <li>Click on "Rent is Due" on the Rented Facilities and Due dates table</li>
                <li>A pop-up meeasge will apear for you to confirm, click Yes</li>
                <li>A Pay Rent form will appear, fill accordingly</li>
                <li>Click Submit to Save</li>
            </ul>
            <p>Update or Adjust Rent Paid</p>
            <ul>
                <li>Click on the rent link, the list of paid rent will appear</li>
                <li>Click on the Paid rent of interest, the form will display</li>
                <li>Adjust as desired and Click Submit to Save</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <p>Pay Levy from "Rent is Due"</p>
            <ul>
                <li>Click on "Rent is Due" on the Rented Facilities and Due dates table</li>
                <li>A pop-up meeasge will apear for you to confirm, click Yes</li>
                <li>A Pay Rent form will appear, fill accordingly</li>
                <li>Click Submit to Save</li>
            </ul>
            <p>Pay Levy</p>
            <ul>
                <li>Click the Levy Link on the Facility Management Home page</li>
                <li>Below the list of paid levy displayed, Click on <a href=""><i class="fa fa-paypal"></i> Pay Levy</a></li>
                <li>Pay Levy form will display, fill up accordingly</li>
                <li>Click Submit to Save</li>
            </ul>
            <p>Update Paid Levy</p>
            <ul>
                <li>Click on the rent link, the list of paid rent will appear</li>
                <li>Click on the Paid rent of interest, the form will display</li>
                <li>Adjust as desired and Click Submit to Save</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-dark btn-sm float-right" href="{{view.request.headers.Referer}}">
                <i class="fa fa-reply"></i> Return</a>
        </div>
    </div>
</div>
{% endblock content%}