{% extends 'users/base.html' %}
{% load custom_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row vh-100">
        
        <!--        body of page-->
        <div class="col">
            <div class="container mt-2">
                <div class="row">
                    <div class="col">
                        <h3 class="text-center">Facilities Home Page </h3>
                        <span class="">
                            <a href="{% url 'warehouse-help' %}">
                            <i class="fa fa-question text-warning"></i> Help
                            </a>
                        </span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col text-center">
                            <a href="{% url 'warehouse-list-all' %}">
                            <i class="fa fa-eye-slash text-warning"></i> Facilities
                            </a>
                    </div>
                    <div class="col text-center">
                            <a href="{% url 'store-rent-list' %}">
                            <i class="fa fa-eye-slash text-warning"></i> Rent
                            </a>
                    </div>
                    <div class="col text-center">
                            <a href="{% url 'store-levy-list' %}">
                            <i class="fa fa-eye-slash text-warning"></i> Levy
                            </a>
                    </div>
                </div>
                <div class="row d-flex justify-content-center mt-2">
                    <div class="col-sm-4">
                        <table class="table text-monospace">
                            <caption>Capacity</caption>
                            <thead>
                                <tr>
                                    <td>Total</td>
                                    <td>Rented</td>
                                    <td>Owned</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{rented_stores.capacity.total}}</td>
                                    <td>{{rented_stores.capacity.rented|first}}</td>
                                    <td>{{rented_stores.capacity.owned|first}}</td>
                                </tr>
                                <tr>
                                    <td>100%</td>
                                    <td>{{rented_stores.capacity.rented|last}}%</td>
                                    <td>{{rented_stores.capacity.owned|last}}%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="col-sm-8 mt-3">
                        <table class="table text-monospace" data-toggle="table">
                            <thead>
                                <tr>
                                    <th colspan="3">Rent</th>
                                    <th class="bg-light" colspan="3">Levy</th>

                                </tr>
                                <tr>
                                    <th>Payable</th>
                                    <th>Paid</th>
                                    <th class="text-center">Unpaid</th>
                                    
                                    <th class="bg-light">Payable</th>
                                    <th class="bg-light">Paid</th>
                                    <th class="bg-light text-center">Unpaid</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr>
                                    <td class="text-center">{{naira}}{{rented_stores.amount.payable|first}}</td>
                                    <td class="text-right">{{naira}}{{rented_stores.amount.paid|first}} </td>
                                    <td class="text-right">{{naira}}{{rented_stores.amount.unpaid|first}}</td>
                                    <td class="bg-light text-center">{{naira}}{{rented_stores.levy.payable|first}}</td>
                                    <td class="bg-light text-right">{{naira}}{{rented_stores.levy.paid|first}} </td>
                                    <td class="bg-light text-right">{{naira}}{{rented_stores.levy.unpaid|first}}</td>
                                </tr>
                                
                                <tr>
                                    <td class="text-center">{{rented_stores.amount.payable|last}}</td>
                                    <td class="text-right">{{rented_stores.amount.paid|last}}</td>
                                    <td class="text-right">{{rented_stores.amount.unpaid|last}}</td>
                                    <td class="bg-light text-center">{{rented_stores.levy.payable|last}}</td>
                                    <td class="bg-light text-right">{{rented_stores.levy.paid|last}}</td>
                                    <td class="bg-light text-right">{{rented_stores.levy.unpaid|last}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    
                </div>

                
                <div class="row">
                    <div class="col">
                        <table class="table table-sm text-monospace" data-toggle="table" data-pagination="true">
                            <caption>Rented Facilities and due dates</caption>
                            <thead>
                                <tr>
                                    <th scope="col">Store</th>
                                    <th class="text-center">Set Levy Value</th>
                                    <th scope="col">Rent Due Date</th>
                                    <th class="text-center" scope="col">Rent Value</th>
                                    <th scope="col">Time left</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for store in rented_stores.all %}
                                <tr>
                                    <td>{{store.name}}</td>
                                    <td class="text-right">{{store.allocated_levy_amount}}</td>
                                    <td>{{store.expiry_date}}</td>
                                    <td class="text-right">{{store.rent_amount}}</td>
                                    {% if store.expiry_date >= store.today %}
                                    <td>{{store.expiry_date|timeuntil}}</td>
                                    {% else %}
                                    <td><a href="#" data-toggle="modal" data-target="#dueRent{{store.pk}}Modal">Rent is due

                                        </a></td>
                                    {% endif %}
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                
                
                <div class="row d-flex justify-content-center">
                    <div class="col">
                        <table class="table text-monospace" data-toggle="table">
                            <caption>Facility Usage</caption>
                            <thead class="text-center">
                                <tr>
                                    <th scope="col" class="bg-light">Usage</th>
                                    <th>Lock-up</th>
                                    <th>Warehouse</th>
                                    <th>Office</th>
                                    <th>Apartment</th>
                                    <th class="bg-light">Total</th>
                                </tr>
                            </thead>
                            <tbody class="text-right">
                                <tr>
                                    <td>Number</td>
                                    <td>{{usage.number.sell_out}}</td>
                                    <td>{{usage.number.storage}}</td>
                                    <td>{{usage.number.office}}</td>
                                    <td>{{usage.number.apartment}}</td>
                                    <td>{{usage.number.sell_out|add:usage.number.storage|add:usage.number.office|add:usage.number.apartment}}</td>
                                </tr>
                                <tr>
                                    <td>Levy</td>
                                    <td>{{naira}}{{usage.levy.sell_out}}</td>
                                    <td>{{naira}}{{usage.levy.storage}}</td>
                                    <td>{{naira}}{{usage.levy.office}}</td>
                                    <td>{{naira}}{{usage.levy.apartment}}</td>
                                    {% with usage.levy.sell_out|add:usage.levy.storage|add:usage.levy.office|add:usage.levy.apartment as levy_total %}
                                    <td>{{naira}}{{levy_total|floatformat:'2g'}}</td>
                                    
                                </tr>
                                <tr>
                                    <td>Rent</td>
                                    <td>{{naira}}{{usage.rent.sell_out}}</td>
                                    <td>{{naira}}{{usage.rent.storage}}</td>
                                    <td>{{naira}}{{usage.rent.office}}</td>
                                    <td>{{naira}}{{usage.rent.apartment}}</td>
                                    {% with usage.rent.sell_out|add:usage.rent.storage|add:usage.rent.office|add:usage.rent.apartment as rent_total %}
                                    <td>{{naira}}{{rent_total|floatformat:'2g'}}</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td>{{naira}}{{usage.levy.sell_out|add:usage.rent.sell_out|floatformat:'2g'}}</td>
                                    <td>{{naira}}{{usage.levy.storage|add:usage.rent.storage|floatformat:'2g'}}</td>
                                    <td>{{naira}}{{usage.levy.office|add:usage.rent.office|floatformat:'2g'}}</td>
                                    <td>{{naira}}{{usage.levy.apartment|add:usage.rent.apartment|floatformat:'2g'}}</td>
                                    <th class="bg-dark text-white">{{naira}}{{rent_total|add:levy_total|floatformat:'2g'}}</th>
                                    {% endwith %}
                                    {% endwith %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="bg-info clearfix mt-3 mb-3">
                    
                    <button type="button" class="btn btn-dark float-right">
                        <a href="{% url 'home' %}">
                            <i class="fa fa-reply text-warning"></i> Home
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal due rent -->
<section>
    {% for store in rented_stores.all %}
    <div class="modal fade" id="dueRent{{store.pk}}Modal" tabindex="-1" aria-labelledby="dueRentModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dueRentModalLabel">Pay Rent - {{store}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-monospace">
                    Are you ready to pay rent?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <a href="{% url 'store-pay-rent' store.pk %}" class="btn btn-primary">
                        Yes
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

{% endblock content%}

<div class="col-sm-4">
    <div class="card bg-transparent border-0">
        <div class="card-body">
            <h5 class="card-title">Property Use Type</h5>
            <hr>
            <p class="card-text">
                Offices <span class="float-right">
                    ({{rent_percentage.office|floatformat:2}}%) {{N}}{% if rent.office == None %}0.00{% else
                    %}{{rent.office}}{% endif %}
                </span>
            </p>
            <hr>
            <p class="card-text">
                Apartments <span class="float-right">
                    ({{rent_percentage.apartment|floatformat:2}}%) {{N}}{% if rent.apartment == None %}0.00{% else
                    %}{{rent.apartment}}{% endif %}
                </span>
            </p>
            <hr>
            <p class="card-text">
                Sell-out & Storage
                <span class="float-right">
                    ({{rent_percentage.storage|floatformat:2}}%) {{N}}{% if rent.storage == None %}0.00{% else
                    %}{{rent.storage}}{% endif %}
                </span>
            </p>
        </div>
    </div>
</div>