{% extends 'users/base.html' %}

{% block content %}
<div class="container">
    <div class="row m-2">
        <div class="col-sm-12">
        <table data-search="true"
                   data-pagination="true"
                   data-toggle="table"
                   class="table table-bordered caption-top table-bordered table-sm text-monospace">

                <caption><h3 class="text-center">All Stores</h3></caption>
                <thead class="bg-dark text-white">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Rent per Annum</th>
                    <th scope="col">Expiry Date</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
            {% for store in stores %}
                <tr>
                    <th scope="row"><a href="{% url 'warehouse-detail' store.pk %}">{{store.name}}</a></th>
                    <td>{{store.store_type}}</td>
                    <td>{{store.contact}}</td>
                    <th class="text-right">{{store.rent_amount}}</th>
                    <th>{{store.expiry_date}}</th>
                    <th>{{store.status|yesno:'Paid, Not Paid'}}</th>
                </tr>
            {% endfor %}
                </tbody>
        </table>
    </div>
    </div>


    <div class="row m-2 float-right">
        <div class="col">
            <a type="button" class="btn btn-outline-dark" href="{% url 'warehouse-home' %}"><i class="fa fa-reply"></i></a>
        </div>
    </div>
</div>
{% endblock %}